@charset "UTF-8";


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GmarketSansMedium';
}
.payment {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 164px;
}
section {
    width: 100%;
    display: block;
}
section {
    background-color: #fff;
}
.commonContentViewHeader {
    padding: 40px 10px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.commonContentViewHeader h1 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}

.commonContentViewHeader h1 .smTxt {
    color: #1A7CFF;
    font-size: .875rem;
}

.commonContentViewHeader h1 .bgTxt {
    color: #42495b;
    font-size: 1.75rem;
    line-height: 1.5;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.payment .adWrap {
    width: 100%;
    height: 160px;
    background-image: url(https://letspl.s3.ap-northeast-2.amazonaws.com/images/bg_payment.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 48px;
}

.payment .adWrap p, .payment .adWrap span {
    color: #fff;
    display: block;
    text-align: center;
    z-index: 10;
    position: relative;
}
.payment .adWrap p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 66px;
    font-size: 1.5rem;
}

.payment .adWrap span {
    font-size: .875rem;
}
.payment .adWrap p, .payment .adWrap span {
    color: #fff;
    display: block;
    text-align: center;
    z-index: 10;
    position: relative;
}
.payment .adWrap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
payment .paymentStep {
    margin-bottom: 80px;
}

.payment .paymentStep .stepNumber {
    font-size: 1.125rem;
    color: #42495b;
    margin-bottom: 15px;
}

.payment .paymentStep .stepNumber span {
    font-weight: 700;
    margin-right: 12px;
}
.payment .paymentStep .chargeTable {
    width: 100%;
}

.payment .paymentStep .chargeTable table {
    border-bottom: 2px solid #42495b;
    border-top: 2px solid #42495b;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.payment .paymentStep .chargeTable table tr th:first-child {
    width: 95px;
}
.payment .paymentStep .chargeTable table tr th {
    border-right: 1px solid #e5e5e5;
}
.payment .paymentStep .chargeTable table tr th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    color: #42495b;
    padding: 9px 0;
    border-bottom: 1px solid #bababa;
}

.payment .paymentStep .chargeTable table tr th:nth-child(2) {
    width: 170px;
}
.payment .paymentStep .chargeTable table tr th {
    border-right: 1px solid #e5e5e5;
}
.payment .paymentStep .chargeTable table tr th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    color: #42495b;
    padding: 9px 0;
    border-bottom: 1px solid #bababa;
}

.payment .paymentStep .chargeTable table tr th:nth-child(3) {
    border-right: none;
}
.payment .paymentStep .chargeTable table tr th {
    border-right: 1px solid #e5e5e5;
}
.payment .paymentStep .chargeTable table tr th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    color: #42495b;
    padding: 9px 0;
    border-bottom: 1px solid #bababa;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.payment .paymentStep .chargeTable table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: .875rem;
    color: #42495b;
}
.payment .paymentStep .chargeTable table tr td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 40px;
    position: relative;
}
.payment .paymentStep .chargeTable table tr td:first-child label {
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input {
    -moz-box-flex: 1;
    flex: 1 1;
    border: none;
    height: 46px;
    font-size: 13px;
    padding: 4px 0 0;
}
.payment .paymentStep .chargeTable table tr td:first-child label .checkmark {
    top: 0;
}
.checkmark {
    top: 0;
    background-color: #eee;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #bcbccb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.payment .paymentStep .chargeTable table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: .875rem;
    color: #42495b;
}
.payment .paymentStep .chargeTable table tr td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 40px;
    position: relative;
}
.payment .paymentStep .chargeTable table tr td:nth-child(3) {
    border-right: none;
}
.payment .paymentStep .chargeTable table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: .875rem;
    color: #42495b;
}
.payment .paymentStep .chargeTable table tr td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 40px;
    position: relative;
}

.payment .paymentStep:last-child {
    margin-bottom: 0;
}
.payment .paymentStep {
    margin-bottom: 80px;
}

.payment .paymentStep .stepNumber {
    font-size: 1.125rem;
    color: #42495b;
    margin-bottom: 15px;
}
.payment .paymentStep .stepNumber span {
    font-weight: 700;
    margin-right: 12px;
}

.payment .paymentStep .paymentMethod {
    margin-bottom: 30px;
}
.payment .paymentStep .paymentMethod p {
    font-size: .875rem;
    color: #42495b;
}
.payment .paymentStep .paymentMethod div {
    margin-top: 10px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.payment .paymentStep .normalPayment div button {
    width: 240px;
    height: 58px;
    border: 1px solid #bababa;
    background-color: #fff;
    font-size: .875rem;
    color: #42495b;
    margin-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.payment .paymentStep .paymentMethod:last-child {
    margin-bottom: 0;
}
.payment .paymentStep .paymentMethod p {
    font-size: .875rem;
    color: #42495b;
}
.payment .paymentStep .paymentMethod div {
    margin-top: 10px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.payment .paymentStep .easyPayment div button.kakao {
    background-image: url(https://letspl.s3.ap-northeast-2.amazonaws.com/images/ic_pay_kakao.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #ffdf00;
    border: none;
}
.payment .paymentStep .easyPayment div button {
    width: 240px;
    height: 58px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}
.checkBox input:checked~.checkmark {
    background-color: #1A7CFF;
    border: none;
}

.checkBox input:checked~.checkmark:after {
    display: block;
}
.checkBox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark:hover{
    background: #b0b5b4;
}

.cashCheck {
    font-family: 'GmarketSansMedium';
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    width: 232px;
    padding: 10.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: -6px;
}