@charset "UTF-8";


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GmarketSansMedium';
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.Header, .loginWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.Header {
    position: sticky;
    background-color: #fff;
    top: 0;
    -webkit-box-shadow: 0 3px 27px 0 rgb(0 0 0 / 2%);
    -moz-box-shadow: 0 3px 27px 0 rgba(0,0,0,.02);
    box-shadow: 0 3px 27px 0 rgb(0 0 0 / 2%);
    z-index: 9995;
}

nav, nav .Navbar {
    -moz-box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

nav {
    display: -moz-box;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

nav .logo {
    width: 96px;
    height: 48px;
    cursor: pointer;
}

fieldset, img {
    border: 0;
}

nav .Navbar {
    display: -moz-inline-box;
    display: inline-flex;
    max-width: 400px;
    align-content: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-left: 80px;
}

nav, nav .Navbar {
    -moz-box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

dl, li, menu, ol, ul {
    list-style: none;
}

h3, ul {
    margin: 0;
}
a, a:active, a:hover {
    text-decoration: none;
}
a {
    color: #333;
    background-color: transparent;
}

.loginWrap, .loginWrap .joinAndLoginWrap {
    -moz-box-align: center;
    align-items: center;
}

.loginWrap {
    -moz-box-pack: end;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 19px 0;
}

.Header, .loginWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.loginWrap .searchWrap {
    margin-right: 10px;
}

.loginWrap .searchWrap .searchIc {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    padding: 6px 10px;
    background-color: #1A7CFF;
    border-radius: 2px;
    margin-right: 10px;
}

.loginWrap .searchWrap .searchIc span {
    font-size: 12px;
    color: #fff;
    margin-bottom: -2px;
}
.loginWrap .searchWrap .searchIc img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.loginWrap .searchWrap .searchIc .mobileSearch {
    display: none;
}

.loginWrap .searchWrap .searchIc img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.loginWrap .joinAndLoginWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.loginWrap, .loginWrap .joinAndLoginWrap {
    -moz-box-align: center;
    align-items: center;
}

.loginWrap a.joinAndLogin {
    font-size: 11px;
    color: #666;
    line-height: 1.55;
    cursor: pointer;
}

.loginWrap a.joinAndLogin:first-child:after {
    content: "/";
    margin: 0 10px;
    cursor: default;
}

.Header, .loginWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.Header {
    position: sticky;
    background-color: #fff;
    top: 0;
    -webkit-box-shadow: 0 3px 27px 0 rgb(0 0 0 / 2%);
    -moz-box-shadow: 0 3px 27px 0 rgba(0,0,0,.02);
    box-shadow: 0 3px 27px 0 rgb(0 0 0 / 2%);
    z-index: 9995;
}

nav, nav .Navbar {
    -moz-box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

nav .logo {
    width: 96px;
    height: 48px;
    cursor: pointer;
}

nav .Navbar {
    display: -moz-inline-box;
    display: inline-flex;
    max-width: 400px;
    align-content: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-left: 80px;
}

nav, nav .Navbar {
    -moz-box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

dl, li, menu, ol, ul {
    list-style: none;
}

h3, ul {
    margin: 0;
}

a, a:active, a:hover {
    text-decoration: none;
}

a {
    color: #333;
    background-color: transparent;
}

.loginWrap, .loginWrap .joinAndLoginWrap {
    -moz-box-align: center;
    align-items: center;
}

.loginWrap {
    -moz-box-pack: end;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 19px 0;
}

.Header, .loginWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.loginWrap .loginLogout {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.loginWrap .loginLogout .newDot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    display: -moz-inline-box;
    display: inline-flex;
}

.loginWrap .loginLogout .newDot, .loginWrap .loginLogout .profile {
    border-radius: 100px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.loginWrap .loginLogout .newDot .redDot {
    width: 7px;
    height: 7px;
    background-color: #1A7CFF;
    border-radius: 100px;
}

.loginWrap .searchWrap {
    margin-right: 10px;
}

.loginWrap .searchWrap .searchIc {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    padding: 6px 10px;
    background-color: #1A7CFF;
    border-radius: 2px;
    margin-right: 10px;
}

.loginWrap .searchWrap .searchIc span {
    font-size: 12px;
    color: #fff;
    margin-top: 1px;
}

.loginWrap .searchWrap .searchIc img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.loginWrap .loginLogout .buildProject {
    font-size: .75rem;
    color: #fff;
    background-color: #000;
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 20px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.loginWrap .loginLogout .newDot, .loginWrap .loginLogout .profile {
    border-radius: 100px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.loginWrap .loginLogout .profile {
    width: 32px;
    height: 32px;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
    display: -moz-box;
    display: flex;
}

.loginWrap .loginLogout {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.loginWrap .loginLogout .profile img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}


.loginHeaderUnVisibie {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index:5;
    display: block;

}

.loginHeaderVisibie {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    z-index:5;
}

/* 팝업창  */

.loginWrap .loginLogout .hoverMenu.loginHeaderVisibie {
    display: block;
}

.loginWrap .loginLogout .hoverMenu {
    width: 262px;
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
    right: 0;
    top: 40px;
    display: none;

}

.loginWrap .loginLogout .hoverMenu:before {
    content: "";
    position: absolute;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 16px 20px 17.5px;
    display: block;
    width: 0;
    z-index: 1;
    top: -9.5px;
    right: 10px;
}


.loginWrap .loginLogout .hoverMenu .profileSummary {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 24px 16px 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .prifileInfo.left {
    float: left;
    width: 60px;
    height: 60px;
    background: #fff;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 100px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .prifileInfo.left img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}



.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo {
    display: inline-block;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .lvAndLogout {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .lvAndLogout .lv {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    margin-right: 6px;
}


.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .lvAndLogout .lv img {
    width: 28px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .lvAndLogout .logOut {
    padding: 3px 11px;
    text-decoration: none;
    color: #fff;
    border-radius: 14px;
    font-size: 10px;
    line-height: 13px;
    background-color: #ccd0d4;
    cursor: pointer;
    padding-top: 7px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .userId {
    font-size: 14px;
    color: #42495b;
    margin-top: 4px;
    font-weight: 700;
    margin-bottom: 1px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .positionTxt span:first-child {
    color: #000;
    margin-right: 8px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .positionTxt span {
    font-size: 12px;
}

.loginWrap .loginLogout .hoverMenu .profileSummary .right.idInfo .positionTxt span:last-child {
    color: #000;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.loginWrap .loginLogout .hoverMenu .pointWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.loginWrap .loginLogout .hoverMenu .pointWrap .pointTxt {
    -moz-box-flex: 1;
    flex: 1 1;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 8px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: end;
    justify-content: flex-end;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginWrap .loginLogout .hoverMenu .pointWrap button {
    background-color: #1A7CFF;
    border-radius: 4px;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

button, input[type=button], input[type=file], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    border-radius: 0;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.loginWrap .loginLogout .hoverMenu .pointWrap button span {
    font-size: 11px;
    color: #fff;
    padding: 9px 20px;
    flex-shrink: 0;
    display: inline-block;
    margin-top: 4px;
}

.loginWrap .loginLogout .hoverMenu .navLIst {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #999;
    border-radius: 4px;
}
.loginWrap .loginLogout .hoverMenu .navLIst, .loginWrap .loginLogout .hoverMenu .navLIst div {
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginWrap .loginLogout .hoverMenu .navLIst div {
    -moz-box-flex: 1;
    flex: 1 1;
    -moz-box-align: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

.loginWrap .loginLogout .hoverMenu .navLIst, .loginWrap .loginLogout .hoverMenu .navLIst div {
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.loginWrap .loginLogout .hoverMenu .navLIst div a {
    padding: 9px 0;
    -moz-box-flex: 1;
    flex: 1 1;
    text-align: center;
    color: #000;
    font-size: .75rem;
}


.loginWrap .loginLogout .hoverMenu .navLIst div:nth-child(2):after, .loginWrap .loginLogout .hoverMenu .navLIst div:nth-child(2):before {
    content: " ";
    width: 1px;
    height: 16px;
    background-color: #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmTit {
    width: 100%;
    background-color: #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 16px;
    color: #9e9e9e;
    font-size: .75rem;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmContent:last-child a {
    border-bottom: 0 solid #000;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmContent a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 0 8px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #dcdce1;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmContent a p {
    font-size: .75rem;
    color: #42495b;
    width: 85%;
    word-break: break-all;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.alarmContent a .dateInfo {
    font-size: .625rem;
    color: #c9c9d9;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.moreAlarm {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 16px 21px;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.moreAlarm p {
    font-size: .75rem;
    color: #42495b;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.moreAlarm p em {
    color: #1A7CFF;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.moreAlarm a {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: end;
    justify-content: flex-end;
    color: #c9c9d9;
    font-size: .75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 13px;
    -moz-box-align: center;
    align-items: center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.loginWrap .loginLogout .hoverMenu .alarmList ul li.moreAlarm a:after {
    content: " ";
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(https://letspl.me/_next/static/media/ico_exp_up.9c7708489845e737d4c4294c049a2146.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
}



.loginWrap .loginLogout .hoverMenu .pointWrap .pointTxt span {
    font-size: 12px;
}

.banners{
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Footer {
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
    z-index: 99;
    position: relative;
}

.Footer .footerContentBottom {
    background-color: #fbfbfb;
}

.Footer .footerContentBottom .wrap {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 48px;
    padding-bottom: 150px;
    border-top: 1px solid #ededed;
}

.Footer .footerContentBottom .wrap .left ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.Footer .footerContentBottom .wrap .left ul li {
    font-size: 15px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    color: #666;
    flex-shrink: 0;
}

.Footer .footerContentBottom .wrap .left ul li:after {
    content: "|";
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    bottom: -2.5px;;
}

.Footer .footerContentBottom .wrap .left p {
    font-size: 15px;
}

.Footer .footerContentBottom .wrap .left ul.mbWrap, .Footer .footerContentBottom .wrap .right .socialIconWrap {
    display: none;
}

.Footer .footerContentBottom .wrap .left ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.chattingWrap2 {
    right: -109px;
    max-width: 300px;
    top: 848px;
}

.chattingWrap, .chattingWrap2 {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 6999;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    text-align: right;
}

.chattingWrap2 .chattingToggle {
    width: auto;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
    width: 58px;
    margin-left: auto;
    position: relative;
}

.chattingWrap2 .chattingToggle.callChatNormal:after, .chattingWrap2 .chattingToggle.callChatRequest:after, .chattingWrap2 .chattingToggle.liveChat:after, .chattingWrap2 .chattingToggle:after {
    background-image: url(	https://letspl.me/_next/static/media/ic_chatting.15e3dffd8b339e28846d7ab7827b7b92.svg);
}

.chattingWrap2 .chattingToggle:after {
    content: " ";
    display: -moz-inline-box;
    display: inline-flex;
    width: 58px;
    border-radius: 100%;
    height: 58px;
    background-color: #f6f6f6;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 55px auto;
    z-index: 99;
    border: 1px solid #eaeaea;
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height .15s ease-in;
    -moz-transition: height .15s ease-in;
    transition: height .15s ease-in;
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

element.style {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 100ms;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -moz-box;
    display: -moz-flex;
    display: flex;
}

.carousel .slider.animated {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    flex-flow: column;
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.bannerSection .bannerWrap {
    background-image: url(https://letspl.s3.ap-northeast-2.amazonaws.com/images/banner/bg_openkakao.png);
    background-size: cover;
    background-position: 50%;
    align-content: center;
    width: 100%;
    padding: 30px 0 25px;
    text-align: center;
    margin: 20px auto 0;
}

section.bannerSection .bannerWrap .lgTxt {
    font-size: 30px;
}

section.bannerSection .bannerWrap .lgTxt, section.bannerSection .bannerWrap .smTxt {
    color: #fff;
}

section.bannerSection .bannerWrap .smTxt {
    font-size: 1rem;
}

section.bannerSection .bannerWrap a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #3e4042;
    height: 40px;
    display: inline-block;
    line-height: 17px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 180px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 20px;
}

.click:hover{
    color:#1A7CFF;
}

.popClick:hover{
    font-weight: bold;
}

.navBtn:hover{
    font-weight: bold;
}

h1{
    font-size: 22px!important;
    padding-bottom: 20px!important;
    padding-top: 10px!important;

}

.hotProjectWrap .hotProjectContentWrap {
    overflow-x: auto;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.hotPeopleWrap .pinkColor, .hotProjectWrap .pinkColor {
    color: #1A7CFF;
}

.hotProjectWrap {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    padding: 10px 0 0;
    margin: 0 auto 65px;
}

.storySection .contents {
    max-width: 1200px;
    padding: 0;
}

.storySection .contents .contetnsGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    margin-right: 32px;
}
em.pinkColor {
    color: #1A7CFF;
}

.storySection h1 {
    font-size: 22px;
    color: #424521;
    line-height: 23px;
    margin-bottom: -25px;
    font-weight: 700;
}

.reviewContentWrap .reviewWrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.reviewContentWrap .reviewWrap .scroll {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    overflow: auto;
    margin-top: 12px;
}

.reviewContentWrap .reviewWrap .reviewCard {
    max-width: 285px;
    height: 320px;
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 16px 16px 15px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.reviewContentWrap .reviewWrap .reviewCard .top {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 26px;
}

.reviewContentWrap .reviewWrap .reviewCard .top .profileImgAndId {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 13px;
}

.reviewContentWrap .reviewWrap .reviewCard .top .profileImgAndId .imgThumb img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}
.reviewContentWrap .reviewWrap .reviewCard .top .profileImgAndId h3, .reviewContentWrap .reviewWrap .reviewCard .top .profileImgAndId p {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
}

.reviewContentWrap .reviewWrap .reviewCard .top .descTxt {
    font-size: 14px;
    color: #666;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    height: 130px;
    font-weight: 400;
}

.reviewContentWrap .reviewWrap .reviewCard .bottom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 16px;
    border-top: 1px solid #f6f6f6;
}

.reviewContentWrap .reviewWrap .reviewCard .bottom p {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    font-size: 13px;
    width: 248px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviewContentWrap .reviewWrap .reviewCard .bottom p span {
    padding: 2px 6px;
    border-radius: 2px;
    background-color: #fdf4f3;
    color: #ea6560;
    font-size: 13x;
    margin-right: 7px;
}

.reviewContentWrap .reviewWrap .reviewCard .bottom button {
    width: 100%;
    padding: 10px 0;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    border: 1px solid #000;
    margin-top: 24px;
}

section {
    background-color: #fff;
}

.reviewContentWrap {
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reviewContentWrap .reviewWrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.reviewContentWrap .reviewWrap .scroll {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    overflow: hidden!important;
    margin-top: 12px;
}
.reviewContentWrap .reviewWrap .reviewCard .top .profileImgAndId .imgThumb {
    width: 23px;
    height: 23px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 7px;
}

.reviewContentWrap .reviewWrap .reviewCard {
    max-width: 285px;
    height: 320px;
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 16px 16px 15px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: -54px;
}

.reviewContentWrap .reviewWrap .reviewCard {
    max-width: 285px;
    height: 262px;
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 16px 16px 15px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding-right: 20px;
    padding-left: 20px;
}

.reviewContentWrap .reviewWrap .reviewCard .top {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: -34px;
    padding-top: 12px;
}

.reviewContentWrap .reviewWrap .reviewCard .top .descTxt {
    font-size: 14px;
    color: #666;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    height: 160px;
    font-weight: 400;
}
.reviewContentWrap .reviewWrap .scroll {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    overflow: hidden!important;
    margin-top: -2px;
    margin-bottom: -38px;
}

.checkLook {
    margin-left: 936px;
    /* color: #c9c9d9; */
    font-size: 15px;
}


.lookImage {
    width: 26px;
    margin-left: 0px;
    margin-bottom: -7px;

}

.loginWrap .mobileLogin {
    display: none;
}

.loginWrap .loginLogout .buildProject {
    font-size: .75rem;
    color: #fff;
    background-color: #000;
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 20px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    /*display: none!important;*/
}

.mobileBuild{
    display: none;
}
@media screen and (max-width: 1024px) {
    nav {
        display: -moz-box;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }

    nav .logo {
        margin-right: auto;
        padding: 12px 0;
    }

    nav .Navbar {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    nav .Navbar a, nav .Navbar li {
        padding: 13px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        -moz-box-flex: 1;
        flex: 1 1;
    }

    nav .Navbar li {
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
    }

    nav .Navbar a {
        font-size: .875rem;
    }

    .loginWrap .searchWrap {
        margin-right: 0;
    }

    .loginWrap .searchWrap .searchIc {
        margin-right: 6px;
        padding-top: 0;
    }

    .loginWrap .searchWrap .searchIc {
        padding: 2px;
        border-radius: 2px;
        background-color: #fff;
    }
    .loginWrap .searchWrap .searchIc span {
        display: none;
    }
    .loginWrap .searchWrap .searchIc .pcSearch {
        display: none;
    }

    .loginWrap .searchWrap .searchIc .mobileSearch {
        display: block;
        width: 30px;
        height: auto;
    }
    .loginWrap .joinAndLoginWrap {
        display: none;
    }

    .loginWrap .mobileLogin {
        display: block;
    }
    .loginWrap .mobileLogin a {
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
    }
    .loginWrap .searchWrap .searchIc .mobileSearch {
        display: block;
        width: 30px;
        height: auto;
    }
    .loginWrap .mobileLogin {
        display: block;
    }
    .loginWrap .mobileLogin a {
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
    }
    .loginWrap .mobileLogin a img {
        width: 32px;
        height: 32px;
    }
    .loginWrap {
        position: absolute;
        right: 10px;
        width: -moz-calc(100% - 120px);
        width: calc(100% - 120px);
    }
    .loginLogout {
        display: none;
    }
    .loginWrap .searchWrap {
        margin-right: 0;
    }
    .loginWrap .searchWrap .searchIc {
        margin-right: 6px;
        padding-top: 0;
    }
    .loginWrap .searchWrap .searchIc {
        padding: 2px;
        border-radius: 2px;
        background-color: #fff;
    }
    .loginWrap .searchWrap .searchIc span {
        display: none;
    }
    .loginWrap .searchWrap .searchIc .pcSearch {
        display: none;
    }
    .loginWrap .searchWrap .searchIc .mobileSearch {
        display: block;
        width: 30px;
        height: auto;
    }
    .loginWrap .loginLogout .buildProject {
        margin-right: 10px;
        padding: 4px 10px;
    }
    .loginWrap .loginLogout .buildProject {
        padding: 0!important;
        background-color: #fff;
        border: none;
    }
    .loginWrap .loginLogout .buildProject span, .loginWrap .loginLogout .name, .loginWrap .loginLogout .point .chargePoint {
        display: none;
    }
    .loginWrap .loginLogout .buildProject .mobileBuild {
        display: block;
        width : 35px;
    }

    .chattingWrap2 {
        right: 428px;
        max-width: 300px;
        top: 1983px;
    }
    .chattingWrap2 .chattingToggle:after {
        content: " ";
        display: -moz-inline-box;
        display: inline-flex;
        width: 58px;
        border-radius: 100%;
        height: 58px;
        background-color: #f6f6f6;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 55px auto;
        z-index: 99;
        border: 1px solid #eaeaea;
    }
}

@media screen and (max-width: 1024px) {
    .bottom, .Footer .footerContentBottom .wrap {
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }

    .bottom, .Footer .footerContentBottom .wrap {
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }

    .Footer .footerContent .bottom, .Footer .footerContent .top, .Footer .footerContentBottom .wrap {
        padding: 10px 20px;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
    }


}

@media screen and (max-width: 1150px) {
    .hotProjectContentWrap .hotProjectContent {
        width: 330px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        overflow-x: auto
    }

    .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent .letspler {
        width: 250px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s
    }

    @media screen and (max-width: 750px) {
        .hotProjectContentWrap {
            grid-template-columns: repeat(4, 1fr);
            display: grid
        }

        .hotProjectContentWrap .hotProjectContent {
            width: 340px;
            margin-right: 10px
        }

        .hotProjectContentWrap .hotProjectContent:last-child {
            margin-right: 0
        }

        section.bannerSection2 .bannerWrap2 img.pcBanner {
            display: none
        }

        section.bannerSection2 .bannerWrap2 img.mbBanner {
            display: block
        }
    }

    @media screen and (max-width: 700px) {
        .hotProjectContentWrap {
            grid-template-columns: repeat(2, 1fr);
            display: grid
        }

        .hotProjectContentWrap .hotProjectContent {
            width: 300px
        }

        .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent {
            grid-template-columns: repeat(2, 1fr)
        }

        .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent .letspler {
            width: 300px
        }
    }

    @media screen and (max-width: 640px) {
        .hotProjectWrap {
            padding: 20px 10px 10px;
        }

        .hotProjectContentWrap {
            grid-template-columns: repeat(1, 1fr);
            display: grid
        }

        .hotProjectContentWrap .hotProjectContent {
            width: 500px
        }

        .buildProjectContents .answer ul li.checkBoxWrap.selectPurpose {
            grid-template-columns: repeat(4, 1fr)
        }

        .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent .letspler {
            width: 260px
        }

        .buildProjectContents .answer .thumbnailWrap .thumbnailBox {
            width: 100%;
            height: 200px;
            margin-right: 0
        }

        .buildProjectContents .answer .thumbnailWrap {
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            flex-direction: column
        }

        .buildProjectContents .answer .thumbnailWrap .uploadBox {
            margin-top: 20px;
            display: block
        }

        .buildProjectContents .answer .thumbnailSelectBox ul li {
            width: 95px;
            height: 60px
        }

        .buildProjectContents .confirmBtnWrap .previewBtn, .buildProjectContents .confirmBtnWrap .saveBtn {
            padding: 11px 19px !important
        }
    }

    @media screen and (max-width: 500px) {
        .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent .letspler {
            width: 220px
        }

        .buildProjectContents .answer ul li.checkBoxWrap.selectPurpose {
            grid-template-columns: repeat(3, 1fr)
        }

        .buildProjectContents .answer ul li .inputWrap input {
            font-size: 14px;
            padding: 12px 8px
        }

        .buildProjectContents .answer ul li .inputWrap input::-webkit-input-placeholder {
            font-size: 14px
        }

        .buildProjectContents .answer ul li .inputWrap input::-moz-placeholder {
            font-size: 14px
        }

        .buildProjectContents .answer ul li .inputWrap input:-ms-input-placeholder {
            font-size: 14px
        }

        .buildProjectContents .answer ul li .inputWrap input::placeholder {
            font-size: 14px
        }

        .buildProjectContents .answer .addMemberBtnWrap button {
            padding: 10px 30px
        }

        .buildProjectContents .answer5 ul li .inputWrap .css-1stwjcq-container input {
            padding: 11.5px 10px
        }

        .buildProjectContents .answer5 ul li .inputWrap .imageBtn {
            width: 10px;
            height: 10px
        }

        .imageBtn.minus, .imageBtn.plus {
            background-size: 10px 10px
        }

        .buildProjectContents .answer5 ul li .inputWrap .countNumber {
            margin: 0 4px;
            font-size: 12px
        }

        .buildProjectContents .answer5 ul li .inputWrap .css-1stwjcq-container input::-webkit-input-placeholder {
            font-size: 10px
        }

        .buildProjectContents .answer5 ul li .inputWrap .css-1stwjcq-container input::-moz-placeholder {
            font-size: 10px
        }

        .buildProjectContents .answer5 ul li .inputWrap .css-1stwjcq-container input:-ms-input-placeholder {
            font-size: 10px
        }

        .buildProjectContents .answer5 ul li .inputWrap .css-1stwjcq-container input::placeholder {
            font-size: 10px
        }

        .signUpSelectWrap .selectWrap .wrap .left {
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            flex-direction: column;
            -moz-box-align: center;
            align-items: center;
            margin-right: 0
        }

        .signUpSelectWrap .selectWrap .wrap .left .symbolImg {
            margin-bottom: 24px
        }

        .signUpSelectWrap .selectWrap .wrap .left .txtAndBtnWrap {
            margin-left: 0;
            -moz-box-align: center;
            align-items: center
        }

        @media screen and (max-height: 1024px) {
            .headerCommonLayout {
                height: 360px !important;
                padding-left: 32px;
                padding-right: 10px
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .hotProjectWrap {
        padding: 20px 10px 10px !important;
    }
}
@media screen and (max-width: 1024px) {
    .hotPeopleWrap, .hotProjectWrap, .reviewContentWrap {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1024px) {
    .mainWrap h1 {
        text-align: left !important;
        margin-bottom: 12px !important;
        padding-bottom: 0 !important;
    }
    .mainWrap h1 span.bigTxt, .reviewContentWrap .reviewWrap h1 {
        font-size: 1.125rem !important;
        line-height: 1.125rem !important;
        margin-bottom: 12px;
    }
}


@media screen and (max-width: 420px) {
    .hotPeopleWrap .hotPeopleContentWrap .hotPeopleContent, .hotProjectContentWrap {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 420px){
    .hotProjectContentWrap {
        /* display: grid; */
        align-content: stretch;
        justify-items: center;
        justify-content: start;
    }
}
@media screen and (max-width: 640px){
    .hotProjectContentWrap {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }
}
@media screen and (max-width: 700px) {
    .hotProjectContentWrap {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }
}
@media screen and (max-width: 750px){
    .hotProjectContentWrap {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
    }
}
@media screen and (max-width: 950px){
    .hotProjectContentWrap {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }
}
@media screen and (max-width: 1024px) {
    .hotProjectContentWrap {
        grid-template-columns: repeat(4, 1fr);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 780px) {
    .hotProjectWrap {
        max-width: 386px;
    }
}

@media screen and (max-width: 950px) {
    .hotProjectWrap {
        padding: 20px 20px 12px;
    }


    @media screen and (max-width: 420px) {
        .hotProjectContentWrap {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media screen and (max-width: 1024px) {
        .hotProjectContentWrap {
            grid-template-columns: repeat(1, 1fr);
            display: grid !important;
        }

        .projectGridWrap {
            width: 100% !important;
        }
    }
    @media screen and (max-width: 950px) {
        .hotProjectContentWrap {
            grid-template-columns: repeat(1, 1fr);
            display: grid;
            grid-row-gap: 5px;
            grid-column-gap: 5px;
        }

    }
    @media screen and (max-width: 1024px) {
        .projectGridWrap {
            width: 100% !important;
            max-width: 353px;
        }

        .scroll {
            display: grid !important;
        }

        .reviewContentWrap {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 164px;
            padding-right: -102px;
            margin-left: 13px;
            width: 402px;
        }

        .reviewContentWrap .reviewWrap .reviewCard {
            max-width: 360px;
        }

        .checkLook {
            margin-left: 132px;
        }

        .storySection .contents.highLanking {
            margin-bottom: 33px;
            margin-left: 16px;

        }


        .Box {
            border: 1px solid #e6e6e6;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            min-width: 186px;
            margin-top: 30px;
            position: relative;
        }

        .storySection .contents .contetnsGrid {
            /* display: grid; */
            grid-template-columns: repeat(1, 1fr) !important;
            grid-column-gap: 10px;
            margin-right: 36px;
        }
    }
    @media screen and (max-width: 780px) {
        .projectGridWrap {
            width: 100% !important;
            max-width: 353px;
        }

        .scroll {
            display: grid !important;
        }

        .reviewContentWrap {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 164px;
            padding-right: -102px;
            margin-left: 13px;
            width: 402px;
        }

        .reviewContentWrap .reviewWrap .reviewCard {
            max-width: 360px;
        }

        .checkLook {
            margin-left: 132px;
        }

        .storySection .contents.highLanking {
            margin-bottom: 33px;
            margin-left: 16px;

        }


        .Box {
            border: 1px solid #e6e6e6;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            min-width: 186px;
            margin-top: 30px;
            position: relative;
        }

        .storySection .contents .contetnsGrid {
            /* display: grid; */
            grid-template-columns: repeat(1, 1fr) !important;
            grid-column-gap: 10px;
            margin-right: 36px;
        }

        .banners_active{
            position: relative;
            height: 100%;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;


            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .banners{
            display: none;
        }

        .banners_active{
            display: block!important;
        }
    }

}

.banners_active{
    display: none;
}
