<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고민상담 게시판</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <link rel="stylesheet" href="/css/community/board2.css">
    <link rel="stylesheet" href="/css/community/board3.css">
    <link rel="stylesheet" href="/css/community/board4.css">
    <link rel="stylesheet" href="/css/community/board.css">
    <link rel="stylesheet" href="/css/fix/loginheader.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/chatting.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">


</head>
<style>
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-size: 16px !important;
    }

    * {
        font-family: 'GmarketSansMedium' !important;
    }
    @media screen and (max-width: 1024px) {
        nav img.logo{
            height: 100%;
        }
        nav .Navbar a, nav .Navbar li {
            padding: 16px 0;
        }
        nav .Navbar a {
            font-size: 14px;
        }
    }


    .chattingWrap .chattingContentWrap .chattingHeader .left p{
        font-size: 16px;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .right .userIdAndTimeInfo .userId{
        font-size: 13px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .list ul li .chatInfo .userIdAndBeforeTime .userId{
        font-size: 12.8px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .list ul li .chatInfo .chatInfoTxt{
        font-size: 11.2px;
    }
    .chattingWrap .chattingContentWrap .chattingSection .list ul li .chatInfo .userIdAndBeforeTime .beforeTime{
        font-size: 11.2px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .list ul li .chatInfo .endTime{
        font-size: 10.4px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap .dayInfo p{
        font-size: 10.4px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap .opponent .userIdChatTxt .userId{
        font-size: 12.8px;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap .opponent .userIdChatTxt .chatTxt{
        font-size: 12.8px;
    }

    .mentions--multiLine .mentions__control, .mentions--multiLine .mentions__input{
        font-size: 12.8px;
    }
    .commonModal .modalTit{
        font-size: 18px;
    }
    .commonModal .btnWrap.doubleBtnWrap button{
        font-size: 12px;
    }
    .updatePost_1j {
        display: none;
    }

</style>

<body style="font-size: 16px !important;">


<div th:replace="/app/fix/header.html :: header"></div>
<div class="noLoginModal allModal">
    <div class="commonModal">
        <p class="modalTit">로그인이 필요합니다</p>
        <button class="closeBtn"><img loading="lazy" src="http://letspl.me/assets/icon/ic-close.svg" alt="close">
        </button>
        <div class="commonModalContent">
            <p>로그인 하시겠습니까?</p>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn">예</button>
            </div>
        </div>
    </div>
</div>

<div class="modalWrapOpen">
    <div class="commonModal">
        <p class="modalTit" style="font-size: 18px;margin-bottom: 15px">글 삭제 확인</p><button class="closeBtn"><img loading="lazy"
                                                                                                                 src="https://letspl.me/assets/icon/ic-close.svg" alt="close"></button>
        <div class="commonModalContent">
            <p style="font-size: 12px;margin-bottom: 12px;">해당 글을 삭제하시겠습니까?</p>
        </div>
        <div class="btnWrap doubleBtnWrap"><button class="btn whiteBtn" style="font-size: 12px;line-height: 3;">아니오</button><button
                class="btn redBtn" style="font-size: 12px;line-height: 3;">예</button></div>
    </div>
</div>
<section class="loungeSection_new">
    <div class="editorMdoal">
        <form th:action="@{/community/counseling}" th:object="${counselingDTO}" name="counselingWrite" id="counseling" method="post" class="form-horizontal form-validate" role="form" target="hidden_frame" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
        <div class="editor">
            <div class="closeButtonBox"><button
                    class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img class=""
                                                                                                  src="https://letspl.me/assets/images/ic-close.svg"></button></div>
            <div class="editorTop">
                <div class="editorTitle"><input type="text" id="counselingTitle" name="cTitle" th:field="*{counselingTitle}" placeholder="제목을 입력하세요.(최대 30자) " maxlength="30" value=""></div>
                <div class=" tagMultiSelectAnser">
                    <div class=" css-1stwjcq-container">
                        <div class=" css-1luw0me-control">

                            <div class=" css-1wy0on6"></div>
                        </div>
                        <div><input name="loungeTag" type="hidden"></div>
                    </div>
                </div>

            </div>
            <!--섬머노트-->
                <textarea th:field="*{counselingContent}" id="summernote" name="cContent"></textarea>

            <div class="editorWrapButtonBox">
                <div class="editorWrapButtonBoxLeft"><button
                        class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r buttonComponents_md__26Zib ">취소</button>
                </div>
                <div class="editorWrapButtonBoxRight">
                    <button type="button" class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r buttonComponents_red__3SLsc  buttonComponents_md__26Zib updatePost_1j">수정</button>
                    <button type="button" onclick="onSub()" class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r buttonComponents_red__3SLsc  buttonComponents_md__26Zib registerPost_1j">등록</button>
                </div>
            </div>
        </div>
        </form>
    </div>


    <div class="centerSection">
        <div class="loungeTab">
            <a th:href="@{/community/counseling}" class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    buttonComponents_categoryActive__31E3q">고민상담 게시판</a>
            <a th:href="@{/community/community}" class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    ">자유 게시판</a>
            <div class="postWrap">
                <div class="postBtn">
                    <span>새 글쓰기</span>
                </div>
            </div>
        </div>

        <div class="centerSectionBox">
            <!--카드-->
            <th:block th:each="counseling:${counselings}" th:object="${counseling}">
            <div class="loungeCard" style="margin-bottom: -10px;">

                <div class="loungeCardContents">
                    <div class="loungeCardContentsComponents_loungeContents__262-A">
                        <div class="loungeCardContentsComponents_loungeContentsTagMoreBox__1oKkG">
                            <div class="undefined">
                                <div class="tag_tag__2gh0s tag_typeDefault__3U6Rz tag_sizeDefault__2V2-5">
                                            <span>네오스인 고민</span>
                                </div>
                            </div>
                            <div class="loungeCardContentsComponents_loungeContentsRight__14cdz">
                                <div class="loungeCardContentsComponents_loungeContentsMore__2AXVI"><button
                                        class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                                        class="buttonComponents_mdImg__G1pNE" src="https://letspl.me/assets/images/ic-more.svg"></button>
                                    <div class="loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo"><button
                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postUpdate_1j">수정</button><button
                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 postDelete_1j">삭제</button></div>
                                </div>
                            </div>
                        </div>

                        <div class="loungeCardContentsComponents_loungeContentsTitleBox__2NtjH">
                            <div class="loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2">
                                <h3 class="loungeCardContentsComponents_title__1s8RE" th:text="*{counselingTitle}"> </h3>
                                <span class="loungeCardContentsComponents_date__3pY5X">21시간 전</span>
                            </div>
                        </div>
                        <div class="loungeCardContentsComponents_loungeContentsAreaDefault__3QCG4" th:text="*{counselingContent}">

                        </div>
                        <div class="loungeCardContentsComponents_loungeContentsMoreButtonWrap__1LR4v"><button
                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 buttonComponents_blue__1FlTU   ">펼치기</button>
                        </div>
                        <div class="replyComponent_reply__3l-Wc">
                            <div class="replyComponent_replyButtonBox__2O3ME">

                                <div class="replyComponent_replyOnOff__QKoso">
                                    <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 buttonComponents_blue__1FlTU   ">
                                        <span class="buttonComponents_gray__1blI9">첫번째 댓글을 달아주세요</span>
                                        <img class="buttonComponents_smMdImg__2IOAr" src="https://letspl.me/assets/images/ic-arrow-up.svg"></button>
                                </div>
                            </div>
                            <div class="replyComponent_replyFilter__10kow">
                                <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 buttonComponents_black__3vMzB   ">
                                    <img class="buttonComponents_smImg__1vYDM" src="/images/community/bluedot.png">등록순</button>
                                <button class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 buttonComponents_gray__1blI9   ">최신순</button>
                            </div>
                            <div class="replyComponent_replyInputBox__2yLKK">
                                <div class="replyComponent_replyInputContainer__3TJW8">
                                    <textarea class="replyComponent_replyInput__2vKhX replyTextArea" maxlength="1000" placeholder="댓글을 입력해주세요." style="height: 21px !important;resize: none;" oninput='this.style.height = "21px"; this.style.height = this.scrollHeight + "px"'></textarea>
                                </div>
                                <div class="replyComponent_replyButtonGroup__2i0ow">
                                    <div class="replyComponent_replyButtonGroupCount__j0XkV">
                                        <span class="replyTextCount">0</span>
                                        <span>/</span>
                                        <span>1000</span>
                                    </div>
                                    <button class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r    ">확인</button>
                                </div>
                            </div>
                            <div class="replyComponent_replyBox__1duHS">
                                <div class="replyComponent_replyContainer__3dxJZ">
                                    <div style="border-style: solid; border-width: 0px 0px 1px; border-color: rgb(234, 234, 234); margin-bottom: 12px;">
                                        <div class="userInformationComponents_userReplySection__3ty7Q">
                                            <div class="userInformationComponents_profile__2pr8a">
                                                <div class="userInformationComponents_profileLeftGroup__1lq6K">
                                                    <div class="userInformationComponents_profileLeftGroupLeftBox__2YqvE">
                                                        <div class="userInformationComponents_profileImg__3qJcX"><img
                                                                class="userInformationComponents_smImg__2uLTY"
                                                                src="https://letspl.me/assets/images/prof-no-img.png" alt="박종우"></div>
                                                        <p class="userInformationComponents_profileName__3l0ya"><i
                                                                class="userInformationComponents_profileLevel__6Bl4w"></i>익명</p>
                                                        <div class="userInformationComponents_profileLeftGroupTagBox__1IPyA"></div>
                                                    </div><span class="userInformationComponents_recordTime__LAQ3h">22.11.09 20:44</span>
                                                </div>
                                                <div class="userInformationComponents_profileRightGroup__3Ro_j">
                                                    <div class="userInformationComponents_profileRightGroupModifyBox__3xfKH"><button
                                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img class=""
                                                                                                                                          src="https://letspl.me/assets/images/ic-more.svg"></button>
                                                        <div class="userInformationComponents_profileRightGroupModifyBoxModal__1csNJ"><button
                                                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5  replyUpdate">수정</button><button
                                                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5  replyDelete">삭제</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="replyComponent_replyContent__3iS4J">
                                            <p class="replyContent_content_1j">안녕하세요</p>
                                            <div class="replyComponent_replyOpenAndLikeButtonGroup__3r9hv">
                                                <button
                                                    class="buttonComponents_button__1hvQa buttonComponets_plain__1ljW5 buttonComponents_lightGray__cqa_C rereplyButton_1j">대댓글쓰기</button>
                                            </div>
                                            <div>
                                                <div class="replyComponent_replyContainer__3dxJZ">
                                                    <div class="userInformationComponents_userReplySection__3ty7Q">
                                                        <div class="userInformationComponents_profile__2pr8a">
                                                            <div class="userInformationComponents_profileLeftGroup__1lq6K">
                                                                <div class="userInformationComponents_profileLeftGroupLeftBox__2YqvE">
                                                                    <div class="userInformationComponents_profileImg__3qJcX"><img
                                                                            class="userInformationComponents_smImg__2uLTY"
                                                                            src="https://letspl.me/assets/images/prof-no-img.png" alt="아니그웃"></div>
                                                                    <p class="userInformationComponents_profileName__3l0ya"><i
                                                                            class="userInformationComponents_profileLevel__6Bl4w"></i>익명</p>
                                                                    <div class="userInformationComponents_profileLeftGroupTagBox__1IPyA">
                                                                        <div class="tag_tag__2gh0s tag_typeGray__3-1Ag tag_sizeDefault__2V2-5" style="text-align: center;margin-left:4px;">
                                                                            <span style="margin-top: 3px;">작성자</span></div>
                                                                    </div>
                                                                </div><span class="userInformationComponents_recordTime__LAQ3h">22.11.10 08:46</span>
                                                            </div>
                                                            <div class="userInformationComponents_profileRightGroup__3Ro_j">
                                                                <div class="userInformationComponents_profileRightGroupModifyBox__3xfKH"><button
                                                                        class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img class=""
                                                                                                                                                      src="https://letspl.me/assets/images/ic-more.svg"></button>
                                                                    <div class="userInformationComponents_profileRightGroupModifyBoxModal__1csNJ"><button
                                                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5  replyUpdate">수정</button><button
                                                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5  replyDelete">삭제</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="replyComponent_replyContent__3iS4J">
                                                        <p class="replyContent_content_1j">안녕하세요</p>
                                                    </div>
                                                </div>
                                                <!--댓글쓰기 눌럿을때-->
                                                <div class="replyComponent_replyContainer__3dxJZ rereplyContainer__3x">
                                                    <div class="replyComponent_replyOfCommentContainer__2bLgx">
                                                        <textarea class="replyComponent_replyInput__2vKhX rereply_textarea" maxlength="1000" placeholder="대댓글을 입력해주세요." style="height: 21px !important;resize: none;" oninput='this.style.height = "21px"; this.style.height = this.scrollHeight + "px"'></textarea>
                                                        <div class="replyComponent_replyButtonGroup__2i0ow">
                                                            <div class="replyComponent_replyButtonGroupCount__j0XkV">
                                                                <span class="rereplyTextCount">0</span><span>/</span><span>1000</span></div>
                                                            <button class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r    ">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--댓글쓰기 눌럿을때-->

                                            </div>
                                        </div>
                                    </div>
                                    <div style="border-style: solid; border-width: 0px 0px 1px; border-color: rgb(234, 234, 234); margin-bottom: 12px;">
                                        <div class="userInformationComponents_userReplySection__3ty7Q">
                                            <div class="userInformationComponents_profile__2pr8a">
                                                <div class="userInformationComponents_profileLeftGroup__1lq6K">
                                                    <div class="userInformationComponents_profileLeftGroupLeftBox__2YqvE">
                                                        <div class="userInformationComponents_profileImg__3qJcX"><img
                                                                class="userInformationComponents_smImg__2uLTY"
                                                                src="https://letspl.me/assets/images/prof-no-img.png" alt="박종우"></div>
                                                        <p class="userInformationComponents_profileName__3l0ya"><i
                                                                class="userInformationComponents_profileLevel__6Bl4w"></i>익명</p>
                                                        <div class="userInformationComponents_profileLeftGroupTagBox__1IPyA"></div>
                                                    </div><span class="userInformationComponents_recordTime__LAQ3h">22.11.09 20:44</span>
                                                </div>
                                                <div class="userInformationComponents_profileRightGroup__3Ro_j">
                                                    <div class="userInformationComponents_profileRightGroupModifyBox__3xfKH"><button
                                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img class=""
                                                                                                                                          src="https://letspl.me/assets/images/ic-more.svg"></button>
                                                        <div class="userInformationComponents_profileRightGroupModifyBoxModal__1csNJ"><button
                                                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 replyUpdate">수정</button><button
                                                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 replyDelete">삭제</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="replyComponent_replyContent__3iS4J">
                                            <p class="replyContent_content_1j">안녕하세요</p>
                                            <div class="replyComponent_replyOpenAndLikeButtonGroup__3r9hv"><button
                                                    class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img class=""
                                                                                                                                  src="https://letspl.me/assets/images/ic_talk_up.svg"></button><button
                                                    class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 buttonComponents_lightGray__cqa_C rereplyButton_1j">대댓글쓰기</button>
                                            </div>
                                            <div>
                                                <div class="replyComponent_replyContainer__3dxJZ">
                                                    <div class="userInformationComponents_userReplySection__3ty7Q">
                                                        <div class="userInformationComponents_profile__2pr8a">
                                                            <div class="userInformationComponents_profileLeftGroup__1lq6K">
                                                                <div class="userInformationComponents_profileLeftGroupLeftBox__2YqvE">
                                                                    <div class="userInformationComponents_profileImg__3qJcX"><img
                                                                            class="userInformationComponents_smImg__2uLTY"
                                                                            src="https://letspl.me/assets/images/prof-no-img.png" alt="아니그웃"></div>
                                                                    <p class="userInformationComponents_profileName__3l0ya"><i
                                                                            class="userInformationComponents_profileLevel__6Bl4w"></i>익명</p>
                                                                    <div class="userInformationComponents_profileLeftGroupTagBox__1IPyA">
                                                                        <div class="tag_tag__2gh0s tag_typeGray__3-1Ag tag_sizeDefault__2V2-5" style="text-align: center;margin-left: 4px">
                                                                            <span style="margin-top: 3px;">작성자</span></div>
                                                                    </div>
                                                                </div><span class="userInformationComponents_recordTime__LAQ3h">22.11.10 08:46</span>
                                                            </div>
                                                            <div class="userInformationComponents_profileRightGroup__3Ro_j">
                                                                <div class="userInformationComponents_profileRightGroupModifyBox__3xfKH">
                                                                    <div class="userInformationComponents_profileRightGroupModifyBoxModal__1csNJ">
                                                                        <button
                                                                                class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 replyUpdate">수정</button><button
                                                                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5 replyDelete">삭제</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="replyComponent_replyContent__3iS4J">
                                                        <p class="replyContent_content_1j">안녕하세요</p>
                                                    </div>
                                                </div>
                                                <!--댓글쓰기 눌럿을때-->
                                                <div class="replyComponent_replyContainer__3dxJZ rereplyContainer__3x">
                                                    <div class="replyComponent_replyOfCommentContainer__2bLgx">
                                                        <textarea class="replyComponent_replyInput__2vKhX rereply_textarea" maxlength="1000" placeholder="대댓글을 입력해주세요." style="height: 21px !important;resize: none;" oninput='this.style.height = "21px"; this.style.height = this.scrollHeight + "px"'></textarea>
                                                        <div class="replyComponent_replyButtonGroup__2i0ow">
                                                            <div class="replyComponent_replyButtonGroupCount__j0XkV">
                                                                <span class="rereplyTextCount">0</span><span>/</span><span>1000</span></div>
                                                            <button class="buttonComponents_button__1hvQa buttonComponents_square__3hf2r    ">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--댓글쓰기 눌럿을때-->

                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>

        </div>

        <div class="moreButtonBox"><button
                class="buttonComponents_button__1hvQa buttonComponents_radius__2l9SM   buttonComponents_md__26Zib ">더
            보기</button></div>
    </div>
    <div class="rightSection" style="max-width: 300px;">
        <div class="rightSectionBox">
            <div class="loungeTrendComponents_LoungeTrendBox__2LuCJ" style="display: none;">
                <h4>조회 급상승 모임</h4>
                <ul class="loungeTrendComponents_LoungeTrendContainer__1xnsy">
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">1</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/undefined/images/rn_image_picker_lib_temp_b398ec73-e178-4289-a927-3a052fc56f91.jpg"><span
                            class="">대학 동아리 플랫폼 App</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">2</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_01.png"><span
                            class="">근무시간 관리 어플리케이션 팀원모집</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">3</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><span
                            class="">스타트업, zero to one</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">4</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_08.png"><span
                            class="">유튜버들의 소재 탐색 자동화 솔루션</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">5</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/3616/images/KakaoTalk_Photo_2022-09-05-16-42-32%20001.jpeg"><span
                            class="">대학교 카풀 앱 제작팀(모든 직군!)</span></button></li>
                </ul>
            </div>
            <div class="loungeTrendComponents_LoungeTrendBox__2LuCJ" style="width: 300px;">
                <h4>지금 인기 렛플인</h4>
                <ul class="loungeTrendComponents_LoungeTrendContainer__1xnsy"
                    style="width: 300px !important; max-width:300px !important">
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">1</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/4535/images/%EB%B3%B4%EA%B1%B0%EC%8A%A4.png"><span
                            class="">민쇼니</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">2</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://phinf.pstatic.net/contact/20220629_138/1656481654516fqNNk_PNG/profileImage.png"><span
                            class="">sun9hyun</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">3</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://letspl.me/assets/images/prof-no-img.png"><span
                            class="">추추추</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">4</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://phinf.pstatic.net/contact/20220616_30/1655372073682zvrW8_GIF/%B0%B6%B7%B0%BD%C3.gif"><span
                            class="">ROSA</span></button></li>
                    <li class="loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd"><span
                            class="loungeTrendComponents_LoungeLankingTxt__vlofS">5</span><button
                            class="buttonComponents_button__1hvQa buttonComponents_plain__1ljW5    "><img
                            class="buttonComponents_lgImg__2-hZO"
                            src="https://k.kakaocdn.net/dn/cjVEIE/btrKqQE6Q8C/NSvM3RRa6GDvHJXurHgxmK/img_640x640.jpg"><span
                            class="">sojoo</span></button></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--<div class="chattingWrap2">-->
<!--    <div class="active writingBtn" style="cursor: pointer"></div>-->
<!--</div>-->
<div th:replace="/app/fix/chattingAll.html :: chattingAll"></div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<!-- ghostTest -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="/js/community/freeboard.js"></script>
<script>
    $(document).ready(function() {
        // $('#summernote').summernote({
        //     height: 150,
        //     lang: "ko-KR"
        // });
        $('#summernote').summernote({
            height: 300,
            lang: "ko-KR",
            toolbar: [
                // [groupName, [list of button]]
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                ['color', ['forecolor','color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['view', ['fullscreen']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
            callbacks: {	//여기 부분이 이미지를 첨부하는 부분
                onImageUpload : function(files) {
                    uploadSummernoteImageFile(files[0],this);
                },
                onPaste: function (e) {
                    var clipboardData = e.originalEvent.clipboardData;
                    if (clipboardData && clipboardData.items && clipboardData.items.length) {
                        var item = clipboardData.items[0];
                        if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                            e.preventDefault();
                        }
                    }
                }
            }
        });
    });

</script>
<script>
    const $noLoginModal = $(".noLoginModal");
    const $closeBtn =$(".noLoginModal .whiteBtn");
    const $yesBtn =$(".noLoginModal .redBtn");

    const $xBtn = $(".noLoginModal .closeBtn")
    $closeBtn.click(function(){
        $noLoginModal.hide();
    })
    $yesBtn.click(function(){
        $noLoginModal.hide();
    })
    $xBtn.click(function(){
        $noLoginModal.hide();
    })

    function onSub() {
        var $title = $("#counselingTitle");
        var $content = $("#summernote");

        if($title.val() == ""){
            alert("제목을 입력해주세요");
            return;
        }

        if($content.val() == ""){
            alert("내용을 입력해주세요");
            return;
        }

        counselingWrite.submit();

        $(".editorMdoal").attr("style","display:none !important;")
        $(".editorMdoal").find(".editorTitle input").val("");
        $(".editorMdoal").find(".note-editable").text("");
        $(".updatePost_1j").css("display","none");

    }

</script>
<script src="/js/fix/chatting.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/community/summernote-ko-KR.js"></script>
<script src="/js/community/summernote-lite.js"></script>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>