@charset "UTF-8";


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GmarketSansMedium';
}

.searchResultSection {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.searchResultSection .searchInputWrap {
    position: relative;
}

.searchResultSection .searchInputWrap .searchInput, .searchResultSection .searchInputWrap .searchInput:focus {
    padding-left: 20px;
    padding-right: 36px;
    text-overflow: ellipsis;
}

.searchResultSection .searchInputWrap .searchInput {
    font-size: 24px;
    height: 70px;
    border: 1px solid #e6e6e6;
    margin-bottom: 0;
    margin-top: 40px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
}

input[type=password], input[type=search], input[type=submit], input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
}

input {
    -moz-box-flex: 1;
    flex: 1 1;
    border: none;
    height: 46px;
    font-size: 13px;
    padding: 4px 0 0;
}

.searchResultSection .searchInputWrap .inputBtnWrap {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    right: 2%;
}


.searchResultSection .searchInputWrap .inputBtnWrap .inputDelBtn, .searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn {
    display: -moz-inline-box;
    display: inline-flex;
}

.searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn {
    margin-left: 12px;
}

.searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn img {
    width: 50px;
}

fieldset, img {
    border: 0;
}

button {
    border: 0;
    background-color: transparent;
    /* cursor: pointer; */
}

.searchResultSection .searchResultTxtWrap {
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 40px;
    margin-bottom: 40px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.searchResultSection .searchResultTxtWrap .searchResultTxt {
    font-size: 20px;
}

.searchResultSection .searchResultTxtWrap .searchResultTxt span {
    color: #1A7CFF;
}

.searchResultSection .searchResultTxtWrap .inputinitBtn {
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #8e8ea2;
    padding: 8px;
    display: -moz-inline-box;
    display: inline-flex;
    border-radius: 2px;
    flex-shrink: 0;
    -moz-box-align: center;
    align-items: center;
    border-radius: 3px;
}

a, button, input, select, textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

button, input[type=button], input[type=file], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    border-radius: 0;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: 'GmarketSansMedium';
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

.searchResultSection .searchResultTxtWrap .inputinitBtn img {
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.searchResultSection .searchResultList.projectToplRightWrap {
    max-width: 100%;
}
.searchResultSection .searchResultList {
    margin-bottom: 20px;
}
.projectLayoutRowFlex1 {
    -moz-box-flex: 1;
    flex: 1 1;
    max-width: 590px;
    width: 100%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.searchResultSection .searchResultList .subtitWrap {
    margin-bottom: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.searchResultSection .searchResultList .subtitWrap .subtit {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.recommendProjectlist, .recommendProjectlist .projectThumbWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}
.recommendProjectlist {
    width: 100%;
    padding: 16px 24px 15px 20px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.recommendProjectlist .projectThumbWrap {
    width: 164px;
    height: 94px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #f3f3f4;
    background-color: #eee;
    margin-right: 20px;
    flex-shrink: 0;
}
.recommendProjectlist, .recommendProjectlist .projectThumbWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.recommendProjectlist .projectThumbWrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
fieldset, img {
    border: 0;
}

.recommendProjectlist .txtWrap .desTxt {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #999;
    margin-top: 6px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.recommendProjectlist .txtWrap .desTxt, .recommendProjectlist .txtWrap h2.tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
}

.recommendProjectlist .txtWrap .desTxt {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #999;
    margin-top: 6px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.recommendProjectlist .txtWrap .desTxt, .recommendProjectlist .txtWrap h2.tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
}

.searchResultSection .searchResultList.projectInfo {
    max-width: 100%!important;
}
.searchResultSection .searchResultList {
    margin-bottom: 20px;
}
.projectInfo {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.searchResultSection .searchResultList .subtitWrap {
    margin-bottom: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.searchResultSection .searchResultList .subtitWrap .subtit {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.searchResultSection .searchResultList .subtitWrap .subtit span {
    font-size: 20px;
    color: #1A7CFF;
}

.projectInfo .morePeopleView {
    width: 100%;
    margin: 0 auto 20px;
}

.searchResultSection .searchResultList.projectInfo .peopleRecommendContents {
    flex-wrap: wrap;
    white-space: normal;
    -moz-box-pack: start;
    justify-content: flex-start;
}
.projectInfo .morePeopleView .peopleRecommendContents {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 0 15px;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
}

.searchResultSection .searchResultList.projectInfo .peopleRecommendContents .box {
    margin: 0 20px 16px 0;
}
.projectInfo .morePeopleView .peopleRecommendContents .box {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 285px;
    -moz-box-flex: 0;
    flex: none;
    margin-right: 10px!important;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 0;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-align: start;
    align-items: flex-start;
    padding-bottom: 12px;
    position: relative;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .userPic {
    position: relative;
}
.projectInfo .morePeopleView .peopleRecommendContents .box .top .left {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 12px;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .left img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right {
    white-space: normal;
    position: relative;
    width: 100%!important;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right div {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right .userLv {
    width: 28px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right .peopleNameTxt {
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #42495b;
    display: inline-block;
    position: relative;
    letter-spacing: -.3px;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right div {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right .coffeAndHeart {
    margin-top: 4px;
}
.projectInfo .morePeopleView .peopleRecommendContents .box .top .right div {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .top .right div {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .bottom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 12px;
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    overflow: hidden;
    border-top: 1px solid #ededed;
    white-space: nowrap;
}

.projectInfo .morePeopleView .peopleRecommendContents .box .bottom p {
    font-size: 11px;
    color: #333;
    padding: 3.8px 11.7px 6.2px 12.3px;
    border-radius: 13px;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px;
}

.searchResultSection .searchResultList {
    margin-bottom: 20px;
}
.storySection {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.projectCollectWrap {
    padding: 40px 0 20px;
}

.searchResultSection .searchResultList .subtitWrap {
    margin-bottom: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.searchResultSection .searchResultList .subtitWrap .subtit {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.storySection .contents {
    max-width: 1200px;
    padding: 0;
}
.contents, .projectTabMenu {
    width: 100%;
    background-color: #fff;
}
.contents {
    max-width: 1040px;
    margin: 0 auto;
}

.searchResultSection .searchResultList {
    margin-bottom: 20px;
}
.projectCollectWrap {
    padding: 40px 0 20px;
}

.storySection .contents .contentsList ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}
dl, li, menu, ol, ul {
    list-style: none;
}

.storySection .contents .contentsList ul li {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px 24px 20px 20px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 12px;
}

.storySection .contents .contentsList ul li .left {
    display: -moz-inline-box;
    display: inline-flex;
    width: 100%;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.storySection .contents .contentsList ul li .thumb {
    width: 145px;
    height: 114px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.storySection .contents .contentsList ul li .left .thumb img {
    width: 145px;
    height: 114px;
    object-fit: cover;
}

.storySection .contents .contentsList ul li .left .listTIt {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    cursor: pointer;
}

.storySection .contents .contentsList ul li .left .listTIt .categoryTitWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.storySection .contents .contentsList ul li .left .listTIt .categoryTitWrap .category2 {
    font-size: 14px!important;
    line-height: 19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 4px!important;
    background-color: #f2f2f2;
    color: #ea6560!important;
    margin-right: 20px;
    flex-shrink: 0;
    margin-bottom: 8px;
    font-weight: 400;
    width: 65px;
    text-align: center;
    height: 24px;
}

.storySection .contents .contentsList ul li .left .listTIt .categoryTitWrap .titTxt {
    font-size: 17px;
    color: #42495b;
    font-weight: 400;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
}

.storySection .contents .contentsList ul li .left .listTIt .previewTxt, .storySection .contents .contentsList ul li .left .listTIt .tagWrap {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-weight: 400;
}
.storySection .contents .contentsList ul li .left .listTIt .previewTxt {
    color: #b5b5c2;
    display: -webkit-inline-box;
    word-break: normal;
}

.storySection .contents .contentsList ul li .left .listTIt .tagWrap {
    color: #222;
    margin-right: 4px;
    line-height: 14px;
    display: -webkit-box;
}
.storySection .contents .contentsList ul li .left .listTIt .previewTxt, .storySection .contents .contentsList ul li .left .listTIt .tagWrap {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-weight: 400;
}

.storySection .contents .contentsList ul li .left .listTIt .tagWrap span {
    font-size: 12px;
    color: #8e8ea2;
    margin-right: 4px;
}

.searchResultSection .searchResultList {
    margin-bottom: 20px;
}
.projectCollectWrap {
    padding: 40px 0 20px;
}

.searchResultSection .searchResultList .subtitWrap {
    margin-bottom: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.searchResultSection .searchResultList .subtitWrap .subtit {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.searchResultSection .searchResultList.projectCollectWrap.loungeWrap ul li {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    border-top: 1px solid #ededed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.searchResultSection .projectCollectWrap.loungeWrap ul li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
}

.searchResultSection .projectCollectWrap.loungeWrap ul li .top {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.searchResultSection .projectCollectWrap.loungeWrap ul li .top .left {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.searchResultSection .projectCollectWrap.loungeWrap ul li .top .left .thumb {
    width: 54px;
    height: 54px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 20px;
}

.searchResultSection .projectCollectWrap.loungeWrap ul li .top .left .thumb img {
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.searchResultSection .projectCollectWrap.loungeWrap ul li .top .right span {
    font-size: 13px;
    color: #ccc;
}

