<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEOS | 마이페이지</title>

    <link rel="stylesheet" href="/css/study/studyModal.css">
    <link rel="stylesheet" href="/css/neosUser/neosListNext.css">
    <link rel="stylesheet" href="/css/neosUser/modalList.css">
    <link rel="stylesheet" href="/css/study/listStudy.css">
    <link rel="stylesheet" href="/css/store/storeList.css">
    <link rel="stylesheet" href="/css/fix/chatting.css">
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>
<style>
    .projectGridWrap .projectBottomInfo .txtWrap .studyCategory {
        display: inline !important;
        font-size: 12px;
        line-height: 12px;
        height: 12px;
        color: #b1b1b1;
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
    }

    .favoriteTab .projectContentWrap.active {
        /*display: flex;*/
        display: -webkit-box;
        overflow-x: auto;
        margin-bottom: 25px;
    }

</style>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<section class="mypage">
    <div class="commonContentViewHeader">
        <h1>
            <span class="smTxt">LET'S see</span>
            <span class="bgTxt">마이페이지</span>
        </h1>
    </div>
    <input type="text" th:value="${session.loginUser}" name="userId"></input>
    <div class="myTabMenu">
        <ul>
            <li class="active">
                <a name="info">정보</a>
            </li>
            <li class="">
                <a name="project">스터디</a>
            </li>
            <li class="">
                <a class="story" name="story">자료상점</a>
            </li>
            <li class="">
                <a name="favorite">구독</a>
            </li>
            <li class="">
                <a name="alarm">알림</a>
            </li>
            <li class="">
                <a name="payment">포인트</a>
            </li>
            <li class="">
                <a name="exp">네오력</a>
            </li>
        </ul>
    </div>
    <!--  정보  -->
    <div class="myTabContents myProfileTab active">
        <div class="myProfileWrap">
            <form style="width: 100%" action="/my-detail/" >
                <div class="left">
                    <div class="profileImg">
                        <img class="userImg"  src="data:image/;base64" alt="user_image">
                    </div>
                    <label for="ImgBtn"></label>
                    <input type="file" name="userFileInput" accept="image/*" class="changeImgBtn" id="ImgBtn">

                </div>
                <div class="right">
                    <div class="profileInputWrap firstProfileInputWrap">
                        <div class="inputAndBtn">
                            <div class="inputAndBtnWrap">
                                <label>이메일</label>
                                <input name="userOAuthEmail" disabled="" value="">
                            </div>
                        </div>
                        <div class="inputAndBtn">
                            <div class="inputAndBtnWrap">
                                <label>닉네임</label>
                                <input name="userNickName" minlength="3" maxlength="10" placeholder="3~10자리 이내로 적어주세요!" value="">
                            </div>
                            <!--                        <div class="rightLayoutWrap">-->
                            <!--                            <span>사용 가능합니다</span>-->
                            <!--                        </div>-->
                        </div>
                        <div class="inputAndBtn">
                            <div class="inputAndBtnWrap" style="margin-bottom: 20px;">
                                <label>휴대폰번호</label>
                                <input name="userPhoneNumber" disabled="" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profileInputWrap">
                        <div class="labelSelect labelSelectThird">
                            <label>대학교/전공/학년</label>
                            <div class="rightWrap selectFour">
                                <select class="KRUni collegeCity"  name="collegeCity">
                                    <option class="KR00" value="KR00">지역 미지정</option>
                                </select>
                                <select class="selectUni Univer" id="collegeName" name="collegeName">
                                    <option selected="" value="02">대학교</option>
                                </select>
                                <select class="selectUni uniPart">
                                    <option selected="" value="0201">전공</option>
                                    <option value="인문계열">인문계열</option>
                                    <option value="사회계열">사회계열</option>
                                    <option value="자연계열">자연계열</option>
                                    <option value="의약계열">의약계열</option>
                                    <option value="공학계열">공학계열</option>
                                    <option value="예체능계열">예체능계열</option>
                                    <option value="교육계열">교육계열</option>
                                    <option value="IT계열">IT계열</option>
                                    <option value="기타계열">기타계열</option>
                                </select>
                                <select class="selectUni uniYear">
                                    <option value="1">학년</option>
                                    <option value="2">1학년</option>
                                    <option value="3">2학년</option>
                                    <option value="4">3학년</option>
                                    <option value="5">4학년</option>
                                </select>

                            </div>
                            <div style="display: flex; margin: 15px 0;">
                                <input type="text" class="uniEmail" placeholder="대학교 이메일">
                                <p name="userCollegeEmail" class="uniEmailText" style="line-height: 44px;">@snu.ac.kr</p>
                            </div>
                            <div class="checkboxs">
                                <input type="checkbox" id="uni_radio" class="userCollegeCertify" style="width: 20px; height: 20px; margin: 8px; margin-left: 0;">
                                <label for="uni_radio" style="padding: 0; margin: 0; line-height: 1px; font-size: 12.5px; color: #6e6e6e;">선택 안함</label>
                            </div>
                        </div>

                        <div class="labelSelect">
                            <label>대화 포인트</label>
                            <div class="rightWrap">
                                <select class="chatPoint">
                                    <option value="1000">1,000</option>
                                    <option value="2000">2,000</option>
                                    <option value="3000">3,000</option>
                                    <option value="4000">4,000</option>
                                    <option value="5000">5,000</option>
                                </select>
                            </div>
                            <span>상대방이 나에게 대화를 요청할 때, 필요한 포인트입니다.</span>
                        </div>
                        <div class="labelSelect">
                            <label>선호 지역 설정</label>
                            <div class="rightWrap">
                                <select class = "otoo">
                                    <option value="온라인/오프라인 모두 가능">온라인/오프라인 모두 가능</option>
                                    <option value="온라인만 가능">온라인만 가능</option>
                                    <option value="오프라인만 가능">오프라인만 가능</option>
                                </select>
                                <select class = "areaSort">
                                    <option value="상관없음">상관없음</option>
                                    <option value="서울특별시">서울특별시</option>
                                    <option value="경기도">경기도</option>
                                    <option value="부산광역시">부산광역시</option>
                                    <option value="인천광역시">인천광역시</option>
                                    <option value="대구광역시">대구광역시</option>
                                    <option value="경상남도">경상남도</option>
                                    <option value="경상북도">경상북도</option>
                                    <option value="대전광역시">대전광역시</option>
                                    <option value="충청남도">충청남도</option>
                                    <option value="충청북도">충청북도</option>
                                    <option value="전라남도">전라남도</option>
                                    <option value="전라북도">전라북도</option>
                                    <option value="광주광역시">광주광역시</option>
                                    <option value="강원도">강원도</option>
                                    <option value="울산광역시">울산광역시</option>
                                    <option value="제주특별자치도">제주특별자치도</option>
                                    <option value="세종특별자치시">세종특별자치시</option>
                                </select>
                            </div>
                        </div>
                        <div class="labelSelect">
                            <label>선호 시간 설정</label>
                            <div class="rightWrap">
                                <select class="userDay">
                                    <option value="주중/주말 모두가능">주중/주말 모두가능</option>
                                    <option value="주중만 가능">주중만 가능</option>
                                    <option value="주말만 가능">주말만 가능</option>
                                </select>
                                <select class="userTime">
                                    <option value="상관없음">상관없음</option>
                                    <option value="오전 위주">오전 위주</option>
                                    <option value="오후 위주">오후 위주</option>
                                    <option value="저녁 위주">저녁 위주</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="profileInputWrap">
                        <!--                    <div class="labelInput labelTag">-->
                        <!--                        <label>관심분야 (최대 1개)</label>-->
                        <!--                        <input type="text" class="interestAll" value="text">-->
                        <!--                        <div class="interestWrap">-->
                        <!--                            <p class="interest">여가/취미</p>-->
                        <!--                            <p class="interest">여행</p>-->
                        <!--                            <p class="interest">SNS</p>-->
                        <!--                            <p class="interest">뷰티/패션</p>-->
                        <!--                            <p class="interest">엔터테인먼트</p>-->
                        <!--                            <p class="interest">게임</p>-->
                        <!--                            <p class="interest">헬스/스포츠</p>-->
                        <!--                            <p class="interest">뉴스/정보</p>-->
                        <!--                            <p class="interest">종교</p>-->
                        <!--                            <p class="interest">학업</p>-->
                        <!--                            <p class="interest">우주/외계인</p>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <div class="labelSelect">
                            <input type="hidden" class="mbtiSelectText" value="0000"></input>
                            <label>MBTI</label>
                            <div class="rightWrap">
                                <select class="mbtiSelect">
                                    <option value="0000">미지정</option>
                                    <option value="ISTJ">ISTJ</option>
                                    <option value="ISFJ">ISFJ</option>
                                    <option value="INFJ">INFJ</option>
                                    <option value="INTJ">INTJ</option>
                                    <option value="ISTP">ISTP</option>
                                    <option value="ISFP">ISFP</option>
                                    <option value="INTP">INTP</option>
                                    <option value="INFP">INFP</option>
                                    <option value="ESTP">ESTP</option>
                                    <option value="ESFP">ESFP</option>
                                    <option value="ENTP">ENTP</option>
                                    <option value="ENFP">ENFP</option>
                                    <option value="ESTJ">ESTJ</option>
                                    <option value="ESFJ">ESFJ</option>
                                    <option value="ENTJ">ENTJ</option>
                                    <option value="ENFJ">ENFJ</option>
                                </select>
                            </div>
                            <span class="mbtiText">철저한 준비를 하며 활동적입니다. 통솔력이 있으며 단호합니다.</span>
                        </div>
                    </div>

                    <div class="labelTextarea">
                        <label>자세한 소개</label>
                        <div class="rightWrap">
                            <textarea class="userIntroduce" name="userIntroduce" maxlength="250" placeholder="최대 250자까지 작성 가능합니다." style="height: 49px !important; overflow: hidden;" oninput='this.style.height = "49px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>

                    <div class="btnWrap">
                        <button class="redBtn updateBtn">업데이트</button>
                    </div>
                    <p class="secessionTxt" style="font-size: 14px; color: gray; margin-top: 50px; margin-bottom: 20px;">👉 렛플을 탈퇴하려면
                        <a class="quitBtn" style="color: #1A7CFF; text-decoration: underline; margin-left: 4px; cursor: pointer">여기</a>
                        를 눌러주세요.
                    </p>
                </div>
            </form>
        </div>
    </div>


    <!--  스터디  -->
    <div class="myTabContents myProjectTab ">
        <h3 class="tabCommonTit">지원 현황</h3>
        <div class="joinStudy"></div>
<!--        <div class="noProject"><p>지원한 모임이 없습니다.</p></div>-->

        <h3 class="tabCommonTit" style="margin-top: 30px">진행 현황</h3>
        <div class="proceedingStudy" style="display: flex; margin-bottom: 15px;">

        </div>
<!--        <div class="noProject"><p>진행 중인 모임이 없습니다.</p></div>-->
<!--        <div class="projectGridWrap">-->
<!--            <div class="projectTopInfo">-->
<!--                <div class="top">-->
<!--                    <div class="badgeWrap">-->
<!--                        <div class="topBadge purple">-->
<!--                            <img loading="lazy" src="https://letspl.me/assets/images/ic-badge_project_story.png">-->
<!--                        </div>-->
<!--                        <div class="badge black">-->
<!--                            &lt;!&ndash; <h2>사이드프로젝트</h2> &ndash;&gt;-->
<!--                            <img src="/images/study/inha.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="favorite listFavorite off "></div>-->
<!--                </div>-->
<!--                <div class="projectThumb"><img loading="lazy"-->
<!--                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"-->
<!--                                               alt="커뮤니티 연계 교통 정보 어플"></div>-->
<!--            </div>-->
<!--            <div class="projectBottomInfo">-->
<!--                <div class="txtWrap projectWrap">-->
<!--                    <h3 class="category">전공과목</h3>-->
<!--                    <h2 class="tit">공업수학_라플라스 변환</h2>-->
<!--                    &lt;!&ndash;                                 <div class="iconWrap2"><img loading="lazy"-->
<!--                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"-->
<!--                            alt="Figma"></div> &ndash;&gt;-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="projectInfo2">-->
<!--                <div class="middleWrap">-->
<!--                    <div class="left">-->
<!--                        <div class="heartCount"><img loading="lazy"-->
<!--                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"-->
<!--                                                     alt="구독자 수"><span>3</span></div>-->
<!--                    </div>-->
<!--                    <div class="right">-->
<!--                        &lt;!&ndash; <p><span> 44</span><span> (-) </span></p> &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="bottomWrap">-->
<!--                    <div class="gatherTxt">-->
<!--                        <div><span>모집완료</span><span>0/4</span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <h3 class="tabCommonTit">완료 현황</h3>
        <div class="finishStudy" style="display: flex; margin-bottom: 15px;">

<!--            <div class="noProject"><p>완료한 모임이 없습니다.</p></div>-->
        </div>


    </div>

    <!--  자료상점  -->
    <div class="myTabContents storySection ">
        <h3 class="tabCommonTit">내 자료상점</h3>
        <div class="storyContentsWrap">
            <div class="contents highLanking myStore">
                <div class="contetnsGrid">

                </div>
            </div>
        </div>
        <div class="moreButtonBox" style="margin-top: 15px;">
            <button type="button" class="moreButton buttonComponents_button__1hvQa buttonComponents_radius__2l9SM buttonComponents_md__26Zib ">
                더 보기</button>
        </div>
    </div>

    <!--  구독  -->
    <div class="myTabContents favoriteTab ">
        <div class="workTabMenu">
            <ul>
                <li class="active">
                    <a>스터디</a>
                </li>
                <li class="">
                    <a>네오스인</a>
                </li>
            </ul>
        </div>
        <!--    스터디 구독    -->
        <div class="projectContentWrap favoriteTable studyFollowTable active">

        </div>

        <!--    네오스인 구독    -->
        <div class="peopleGrid favoriteTable userFollowTable">
            <ul class="peopleGridList">

            </ul>
        </div>
    </div>



    <!--  알림  -->
    <div class="myTabContents noticeTab ">
        <h3 class="tabCommonTit">알림내역</h3>

        <div class="noticeListWrap">
            <ul class="noticeListTimeLine">
                <li class="noticeDayWrap">
                    <span class="day">22.11.15</span>
                    <ul>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[스터디&amp;네트워킹]</span>
                                    <span>22.11.15</span>
                                </p>
                                <p class="noticeContent">오메가호근몬님이 스터디&amp;네트워킹 test에 초대하였습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">프로필 가기</a>
                                <a href="javascript:;">스터디&amp;네트워킹 가기</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="noticeDayWrap">
                    <span class="day">22.11.14</span>
                    <ul>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[소셜]</span>
                                    <span>22.11.14</span>
                                </p>
                                <p class="noticeContent">오메가호근몬님이 회원님을 구독하기 시작했습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">프로필 가기</a>
                            </div>
                        </li>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[스터디&amp;네트워킹]</span>
                                    <span>22.11.14</span>
                                </p>
                                <p class="noticeContent">추추추님이 스터디&amp;네트워킹 spring  boot 팀프로젝트에 문의 글을 등록하셨습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">프로필 가기</a>
                                <a href="javascript:;">스터디&amp;네트워킹 가기</a>
                            </div>
                        </li>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[스터디&amp;네트워킹]</span>
                                    <span>22.11.14</span>
                                </p>
                                <p class="noticeContent">추추추님이 스터디&amp;네트워킹 spring  boot 팀프로젝트에 문의 글을 등록하셨습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">프로필 가기</a>
                                <a href="javascript:;">스터디&amp;네트워킹 가기</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="noticeDayWrap">
                    <span class="day">22.11.10</span>
                    <ul>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[스터디&amp;네트워킹]</span>
                                    <span>22.11.10</span>
                                </p>
                                <p class="noticeContent">회원님을 찾는 스터디 프로덕트헌트_ 스타트업 제품런칭플랫폼가 게시되었습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">스터디 가기</a>
                            </div>
                        </li>
                        <li class="noticeContentWrap">
                            <div class="left">
                                <p class="categoryAndDate">
                                    <span>[스터디&amp;네트워킹]</span>
                                    <span>22.11.10</span>
                                </p>
                                <p class="noticeContent">회원님을 찾는 스터디 취약계층 지원 AI서비스 플랫폼가 게시되었습니다.</p>
                            </div>
                            <div class="btnWrap right">
                                <a href="javascript:;">스터디 가기</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>




        </div>
    </div>

    <!--  포인트  -->
    <div class="myTabContents paymentHistoryTab ">
        <div class="payTabmenu">
            <ul>
                <li class="active">
                    <a>충전 내역</a>
                </li>
                <li class="">
                    <a>사용 내역</a>
                </li>
            </ul>
        </div>

        <h3 class="tabCommonTit totalNeosPoint">포인트 내역</h3>
        <div class="payTabmenu" style="text-align: right;margin-bottom: -15px;margin-top: -35px;">
            <span style="font-size: 15px; color: #1A7CFF;">최근 30개만 확인 가능합니다.</span>
        </div>
        <div class="payTabContents">
            <!--      충전 내역      -->
            <div class="payTable pointChargeTable chargeTable active">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>포인트</th>
                        <th>상세</th>
                    </tr>
                    </thead>
                    <tbody class="plusNeosPoint">
<!--                    <tr>-->
<!--                        <td>22.11.04 </td>-->
<!--                        <td>10</td>-->
<!--                        <td>[이벤트] 본인인증 완료</td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <!--      사용 내역      -->
            <div class="payTable pointUseTable ">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>포인트</th>
                        <th>상세</th>
                    </tr>
                    </thead>
                    <tbody class="minusNeosPoint">
<!--                    <tr>-->
<!--                        <td>22.11.04 </td>-->
<!--                        <td>-1</td>-->
<!--                        <td>추추추님과의 대화 시 지불</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>22.11.04 </td>-->
<!--                        <td>-1</td>-->
<!--                        <td>민쇼니님과의 대화 시 지불</td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- 네오력 상세 -->
    <div class="myTabContents paymentHistoryTab ">

        <!--  네오력  -->

        <div class="neosPower">
            <h3 class="tabCommonTit">네오력</h3>
            <div class="neosT" style="display: flex" >
            <table class = "neoTable">
                <thead>
                <tr class="neoTr">
                    <th>뱃지</th>
                    <th class = "borderNone">기준</th>
                </tr>
                </thead>
                <tbody>
                <tr><td ><img class="badges" src="/images/myPage/gradeS.png"></td><td class = "borderNone">L10 최고 레벨입니다.</td></tr>
                <tr><td ><img class="badges" src="/images/myPage/gradeA.png"></td><td class = "borderNone">L8 ~ L9 상위 레벨입니다.</td></tr>
                <tr><td ><img class="badges" src="/images/myPage/gradeB.png"></td><td class = "borderNone">L5 ~ L7 중위 레벨입니다.</td></tr>
                <tr><td ><img class="badges" src="/images/myPage/gradeC.png"></td><td class = "borderNone">L1 ~ L4 하위 레벨입니다.</td></tr>
                </tbody>
            </table>

            <div class="powerContent">
        <div class = "pContent" >
            <li class ="methods" >네오력 획득 방법</li>
            <ul class="methodUl">
                <li class ="method">회원가입 시 50네오력 획득</li>
                <li class ="method">로그인 시 10네오력 획득</li>
                <li class ="method">구독 시 100네오력 획득</li>
                <li class ="method">게시글(스터디, 자료상점) 작성 시 100네오력 획득</li>
                <li class ="method">커뮤니티(고민상담, 자유게시판) 작성 시 50네오력 획득</li>
                <li class ="method">포인트(1000~50000)충전 시 네오력(10~500)획득</li>
                <li class ="method">댓글 작성 시 10네오력 획득</li>
<!--                <li class ="method">자료 구매시 100네오력 획득</li>-->
            </ul>
        </div>
            </div>
                </div>
        </div>


        <h3 class="tabCommonTit totalNeos">네오력 L<!-- -->2<!-- --> (<!-- -->280<!-- -->) - 다음 레벨까지&nbsp;<!-- -->20</h3>
        <div class="payTabmenu" style="text-align: right;margin-bottom: -15px;margin-top: -35px;">
            <span style="font-size: 15px; color: #1A7CFF;">최근 30개만 확인 가능합니다.</span>
        </div>

        <div class="payTabContents">

            <div class="payTable chargeTable active">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>네오력</th>
                        <th>상세</th>
                    </tr>
                    </thead>

                    <tbody class="neosPowerTbl">
<!--                    <tr><td>22.11.15  00:45</td><td>10</td><td>일일 로그인 완료</td></tr>-->
<!--                    <tr><td>22.11.14  17:10</td><td>-50</td><td>스터디&amp;네트워킹 구독 취소</td></tr>-->
<!--                    <tr><td>22.11.14  17:09</td><td>50</td><td>스터디&amp;네트워킹 구독</td></tr>-->
<!--                    <tr><td>22.11.14  17:09</td><td>-50</td><td>스터디&amp;네트워킹 구독 취소</td></tr>-->
<!--                    <tr><td>22.11.14  17:09</td><td>30</td><td>네오스인 구독</td></tr>-->
<!--                    <tr><td>22.11.14  01:54</td><td>10</td><td>일일 로그인 완료</td></tr>-->
<!--                    <tr><td>22.11.13  22:00</td><td>30</td><td>댓글 등록</td></tr>-->
<!--                    <tr><td>22.11.13  18:06</td><td>10</td><td>일일 로그인 완료</td></tr>-->
<!--                    <tr><td>22.11.11  08:26</td><td>50</td><td>스터디&amp;네트워킹 구독</td></tr>-->
<!--                    <tr><td>22.11.11  08:21</td><td>10</td><td>일일 로그인 완료</td></tr>-->
<!--                    <tr><td>22.11.08  19:40</td><td>50</td><td>노트 글 작성</td></tr>-->
<!--                    <tr><td>22.11.08  17:49</td><td>30</td><td>네오스인 구독</td></tr>-->
                    </tbody>


                </table>
            </div>
        </div>
    </div>



</section>

<!-- 관련 모달 START-->
<div class="modalWrapOpen">
    <!--스터디 구독하기 클리 시-->
    <div class="modalWrap modal1">
        <p class="modalTit studyTit"></p>
        <p class="modalTit">구독하시겠습니까?</p>
        <button class="closeBtn">
            <img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close" class="closeBtnImg">
        </button>
        <div class="modalContent">
            <p>구독하시면, 관련된 정보나</p>
            <p>홍보 컨텐츠가 SMS/이메일/푸쉬을 통해 정기적으로 배송됩니다</p>
            <p>자동으로 NEOS 광고수신동의가 이루어집니다</p>
        </div>
        <div class="btnWrap doubleBtnWrap">
            <button class="btn whiteBtn">아니요</button>
            <button class="btn blueBtn">예</button>
        </div>
    </div>

</div>
<!-- 관련 모달 END-->
<div th:replace="/app/fix/chattingAll.html :: chattingAll"></div>
<div th:replace="/app/neosUser/modalList.html :: modalSpace"></div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!--<script src="/js/study/listStudy.js"></script>-->
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/myPage/myPageAjax.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/myPageDom.js"></script>
<script src="/js/neosUser/neosListAfter.js"></script>
<script src="/js/fix/chatting.js"></script>
<!--<script src="/js/store/storeList.js"></script>-->
<script>
    const $location = $(".collegeCity");
    const $collegeNames = $("#collegeName");
    console.log($collegeNames.children());
    $location.on("change",function () {
        var collegeCity = $(".collegeCity option:selected").text();
        console.log(collegeCity);
        if(collegeCity != '지역 미지정'){
            $.ajax({
                url: "/my-detail/change/"+collegeCity,
                type:"get",
                success:function (result) {
                    //i는 인덱스 , item은 object
                    $collegeNames.empty();
                    $collegeNames.append(`<option selected="" value="02">대학교</option>`)
                    $(result).each((i,item)=>{
                        $collegeNames.append(` <option class="collegeName_1j" value="`+item.collegeName+`">`+item.collegeName+`</option>`)
                    })
                }
            })
        }

    })


    function modalOk(heart) {
        $(".modalWrapOpen .modal1 .btnWrap button.blueBtn").on("click", function () {
            $(".modal1").css('display','none');
            $(".modalWrapOpen").hide();
            $(heart).addClass('active2');
            $(heart).addClass('on');
            $(heart).removeClass('off');
        })
    }

    $(".listFavorite").click(function(){
        let name = $(this).closest(".projectGridWrap").find(".projectWrap .tit").text();
        const heart = $(this);
        if($(this).hasClass("off")) {
            heart.addClass('click');
        }

        $(".modal1").children(".studyTit").text(name + "을");

        if($(this).hasClass("off")) {
            $(".modalWrapOpen").show();
            $(".modal1").css('display','inline-block');
            $(".modalWrapOpen .modal1 .btnWrap button.blueBtn").on("click", function () {
                $(".modal1").css('display','none');
                $(".modalWrapOpen").hide();
                $(".click").addClass('active');
                $(".click").addClass('on');
                $(".click").removeClass('off');
                $(".click").removeClass('click');
            })
        } else {
            $(this).removeClass('active');
            $(this).addClass('off');
            $(this).removeClass('on');
        }
    });

    // 모달 종료
    $(".closeBtnImg").on("click",function(){
        $(".modalWrap").css('display','none');
        $(".modalWrapOpen").hide();
    });

    $(".whiteBtn").on("click",function(){
        $(".modalWrap").css('display','none');
        $(".modalWrapOpen").hide();
    });

    mbtiTest();


</script>
</html>