<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEOS | 충전</title>
    <link rel="stylesheet" href="/css/fix/charge.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>
<body>
<header th:replace="/app/fix/loginHeader.html :: header"></header>
<div id="next">
<section class="payment">
    <div class="commonContentViewHeader"><h1><span class="smTxt">LET'S be rich</span><span
            class="bgTxt">네오 포인트 충전</span></h1></div>
    <div>
        <div class="adWrap"><p>더 많은 네오스인이 만나고 싶나요?</p>
            <span>네오스와 함께 이야기 하는건 어떨까요?</span><span>(대화 완료 후, 상대방에게 포인트가 지급됩니다.)</span></div>
        <div class="step1 paymentStep"><p class="stepNumber"><span>1단계.</span>결제 금액을 선택해주세요.</p>
            <div class="chargeTable">
                <table>
                    <thead>
                    <tr>
                        <th>선택</th>
                        <th>금액</th>
                        <th>상품 상세</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label class="checkBox" ><input class = "radio" type="radio" name="price" value="F01" disabled=""><span
                                class="checkmark"></span></label></td>
                        <td>인증완료</td>
                        <td>포인트가 지급된 계정입니다</td>
                    </tr>
                    <tr>
                        <td><label class="checkBox"><input class = "radio" type="radio" name="price" value="5,000" checked="" ><span
                                class="checkmark"></span></label></td>
                        <td class="pr">5,000원</td>
                        <td>5000 네오포인트 + 500 네오력</td>
                    </tr>
                    <tr>
                        <td><label  class="checkBox"><input class = "radio"type="radio" name="price" value="10,000" ><span
                                class="checkmark"></span></label></td>
                        <td class="pr">10,000원</td>
                        <td>10000 네오포인트 + 1,000 네오력</td>
                    </tr>
                    <tr>
                        <td><label class="checkBox"><input class = "radio" type="radio" name="price" value="20,000" ><span
                                class="checkmark"></span></label></td>
                        <td class="pr">20,000원</td>
                        <td>20000 네오포인트 + 2,000 네오력</td>
                    </tr>
                    <tr>
                        <td><label class="checkBox"><input class = "radio" type="radio" name="price" value="50,000" ><span
                                class="checkmark"></span></label></td>
                        <td class="pr">50,000원</td>
                        <td>50000 네오포인트 + 5,000네오력</td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin-top: 10px;">총 결제금액 : <span class = "results">5,000</span>원  </div>
            </div>
        </div>
        <div class="step2 paymentStep"><p class="stepNumber"><span>2단계.</span>결제해주세요.</p>

            <div class="easyPayment paymentMethod"><p>간편 결제</p>
                <div>
                    <button class="kakao"></button>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/login.js"></script>
<script>
    var $value = $("input[type=radio][name=price]:checked").val();
    var $result = $(".results");

    $(document).ready(function() {
        $('.radio').change(function() {
            var radio = $("input[type=radio][name=price]:checked").val(); /*가격*/
            if(radio == "10,000"){
                $result.text("10,000")
            }
            if(radio == "20,000"){
                $result.text("20,000")
            }
            if(radio == "50,000"){
                $result.text("50,000")
            }
            if(radio == "5,000"){
                $result.text("5,000")
            }

        })
    });




</script>

</html>