<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅창</title>
    <link rel="stylesheet" href="/css/fix/chatting.css">
</head>
<body>
<div th:fragment="chattingAll">
    <div class="chattingWrap2">
        <div class="chattingToggle active callChatNormal" ></div>
    </div>

    <div class="chattingWrap listOff" id="chattingList">
        <div class="chattingContentWrap ">
            <div class="chattingHeader">
                <div class="left"><p>대화 목록</p></div>
                <div class="right active rightHead">
                    <a class="backBtn"></a>
                    <div class="thumbWrap" id="thumbProfile">
                        <div class="thumb" ><img loading="lazy" src="/images/fix/favicon.png"
                                                alt="chat_image" class="profileImages"  ></div>
                    </div>
                    <div class="userIdAndTimeInfo">
                        <p class="userId chattingRoomName">NEOS</p>
                        <div class="morAndFoldBtnWrap">
                            <div class="moreBtn exitBtn"></div>
                        </div>
                    </div>
                </div>
                <div class="foldChatBtn" ></div>
            </div>
            <div class="chattingSection">
                <div class="list left">
                    <ul>
                        <input type="hidden" th:value="${session.loginUser}" name="loginUser" class="sessionLoginUser">

<!--                        <th:block th:each="alls:${all}" th:object="${alls}" class="object">-->
<!--                            <input type="hidden" th:value="*{receiver.userId}" name="allId">-->
<!--                        </th:block>-->

                        <!-- 채팅방 목록 -->
                        <tbody>
                        <th:block th:each="content:${contents}" th:object="${content}" class="object">
                            <!-- 채팅방 목록 확인  -->
<!--                            <input type="hidden" th:value="*{chattingRoomId}" name="receiverIdRoom">-->
                            <!-- 상대방 아이디 받아오기 -->
                            <li class="active leftChattingList" th:href="*{chattingRoomId}" >
                                <input type="hidden" th:vlaue="*{chattingRoomId}" class="chattingId" >
<!--                                <input type="hidden" th:text="*{chattingRoomId}"  >-->

                                <div class="thumb" th:if ="${session.loginUser} == *{myRoom.userId}" ><img
                                        th:src="*{receiverRoom.userFile}"
                                        alt="chat_image"class ="userProfile"></div>
                                <div class="thumb" th:if ="${session.loginUser} != *{myRoom.userId}" ><img
                                        th:src="*{myRoom.userFile}"
                                        alt="chat_image"class ="userProfile"></div>
                                <div class="chatInfo">
                                    <div class="userIdAndBeforeTime">
                                        <div class="right" th:if ="${session.loginUser} == *{myRoom.userId}">
                                            <span class="userId" th:text="*{receiverRoom.userNickName}" ></span>
                                        </div>
                                        <div class="right" th:if ="${session.loginUser} != *{myRoom.userId}">
                                            <span class="userId" th:text="*{myRoom.userNickName}" ></span>
                                        </div>
                                        <div class = "beforeTime">
<!--                                       <span class="beforeTime"></span>-->
                                        </div>
                                    </div>
<!--                                    <p class="chatInfoTxt" th:text="*{chattingContentRoom}">-->

                                    </p>

                                    <p class="endTime" th:text="*{chatDate +''}"></p></div>
                            </a>
                        </th:block>
                        </tbody>
                    </ul>
                </div>

                <div class="chattingRoom right active rightBody" >
                    <div class="chattingRoomWrap" style="height: 490px;" id="chatroom" >
                        <!-- -------------------------- -->
                                <!--채팅방 내용(ajax)-->
                        <!-- -------------------------- -->
                        <div id="chat_ref_0"></div>
                    </div>
                    <div class="chatInputArea">
                        <div class="mentions mentions--multiLine"
                             style="position: relative; overflow-y: visible;">
                            <div class="mentions__control">
                                <div class="mentions__highlighter"
                                     style="position: relative; box-sizing: border-box; width: 100%; color: transparent; overflow: hidden; white-space: pre-wrap; overflow-wrap: break-word; border: 1px solid transparent; text-align: start;" ></div>
                                <textarea placeholder="@으로 상대방 지정이 가능합니다." rows="10" cols="40" class="mentions__input"
                                          style="display: block; width: 100%; position: absolute; margin: 0px; top: 0px; left: 0px; box-sizing: border-box; background-color: transparent; font-family: inherit; font-size: inherit; letter-spacing: inherit; height: 100%; bottom: 0px; overflow: hidden; resize: none; padding-top: 6px; outline: none; max-height: 150px;" oninput='this.style.height = "21px"; this.style.height = this.scrollHeight + "px"' id="message" ></textarea>
                            </div>
                        </div>
                        <button class="buttonComponents_button__1hvQa buttonComponents_circle__2iQ3w buttonComponents_blueBlack__2HIFu  buttonComponents_lgImg__2-hZO " id="button_send">
                            <img class="" src="https://letspl.me/assets/images/ic-send.svg"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 채팅방 모달 -->
    <div class="chatExitModal">
        <div class="commonModal chatExit">
            <div class="inputChattingName">

            </div>
            <button class="closeBtn"><img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close">
            </button>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn" >예</button>
            </div>
        </div>
    </div>

    <div class="request_chat">
        <div class="commonModal">
            <p class="modalTit">1000 네오 포인트 사용하시겠습니까?</p>
            <button class="closeBtn"><img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close">
            </button>
            <div class="commonModalContent"></div>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn chatStart">예</button>
            </div>
        </div>
    </div>

    <div class="already_chat">
        <div class="commonModal">
            <div class="tit">

            </div>
            <button class="closeBtn"><img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close"></button>
            <div class="commonModalContent"><p>예를 누르시면 대화창을 엽니다.</p></div>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn chatStart">예</button>
            </div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/fix/chatting.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
<script th:inline="javascript">



</script>

</html>