<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅창</title>
    <link rel="stylesheet" href="/css/fix/chatting.css">
</head>
<body>
<div th:fragment="chattingAll">
    <div class="chattingWrap2">
        <div class="chattingToggle active callChatNormal"></div>
    </div>

    <div class="chattingWrap listOff" id="chattingList">
        <div class="chattingContentWrap ">
            <div class="chattingHeader">
                <div class="left leftHead"><p>대화 목록</p></div>
                <div class="right active rightHead"><a class="backBtn"></a>
                    <div class="thumbWrap">
                        <div class="thumb"><img loading="lazy" src="/images/fix/favicon.png"
                                                alt="chat_image"></div>
                    </div>
                    <div class="userIdAndTimeInfo"><p class="userId">NEOS - 오픈 챗&nbsp;(636)</p>
                        <div class="morAndFoldBtnWrap">
                            <div class="moreBtn"></div>
                        </div>
                    </div>
                </div>
                <div class="foldChatBtn"></div>
            </div>
            <div class="chattingSection">
                <div class="list left leftBody">
                    <ul>
                        <li class="active">
                            <div class="thumb"><img
                                    src="https://phinf.pstatic.net/contact/20220616_30/1655372073682zvrW8_GIF/%B0%B6%B7%B0%BD%C3.gif"
                                    alt="chat_image"></div>
                            <div class="chatInfo">
                                <div class="userIdAndBeforeTime">
                                    <div class="right"><span class="userId">ROSA</span></div>
                                    <span class="beforeTime">방금 전</span>
                                </div>
                                <p class="chatInfoTxt">
                                    로사 하이 채팅방 테스트 중
                                </p>
                                <p class="endTime">종료 :&nbsp;22.12.02 18:08</p></div>
                        </li>
                        <li class="active">
                            <div class="thumb"><img loading="lazy" src="/images/fix/favicon.png"
                                                    alt="chat_image"></div>
                            <div class="chatInfo">
                                <div class="userIdAndBeforeTime">
                                    <div class="right"><span class="userId">NEOS - 오픈챗</span></div>
                                    <span class="beforeTime">2일 전</span></div>
                                <p class="chatInfoTxt">
                                    우리는 최강 2팀!
                                </p>
                                <p class="endTime">종료 : 종료기한없음</p></div>
                        </li>
                    </ul>
                </div>
                <div class="chattingRoom right active rightBody">
                    <div class="chattingRoomWrap" style="height: 490px;">
                        <div class="dayInfo"><p>22.10.24 월요일</p></div>

                        <div class="opponent">
                            <div class="thumb"><a href="/people/엔잡쏘" target="_blank"><img
                                    src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/4535/images/%EB%B3%B4%EA%B1%B0%EC%8A%A4.png"
                                    alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">심민성</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a style="color: rgb(51, 51, 51);">한 사람을&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 5:03</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="opponent">
                            <div class="thumb"><a href="/people/dddog" target="_blank"><img
                                    src="/images/fix/favicon.png" alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">추성윤</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a style="color: rgb(51, 51, 51);">동시에 사랑하고 있습니다&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 5:31</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="opponent">
                            <div class="thumb"><a href="/people/렛플운영자" target="_blank"><img
                                    src="https://phinf.pstatic.net/contact/20220629_138/1656481654516fqNNk_PNG/profileImage.png"
                                    alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">조성현</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a
                                        style="color: rgb(51, 51, 51);">&nbsp;</a><a
                                        style="color: rgb(51, 51, 51);">석빙고 처럼 차가워 보이지만&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 6:33</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="dayInfo"><p>22.11.04 금요일</p></div>
                        <div class="opponent">
                            <div class="thumb"><a href="/people/ROSA" target="_blank"><img
                                    src="https://phinf.pstatic.net/contact/20220616_30/1655372073682zvrW8_GIF/%B0%B6%B7%B0%BD%C3.gif"
                                    alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">김로사</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a style="color: rgb(51, 51, 51);">사실 알고보면 따뜻한 사람입니다&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 3:07</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="opponent">
                            <div class="thumb"><a href="/people/ROSA" target="_blank"><img
                                    src="/images/fix/favicon.png"
                                    alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">박종우</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a
                                        style="color: rgb(51, 51, 51);">랑만이 가득한 그 사람은&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 3:07</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="opponent">
                            <div class="thumb"><a href="/people/렛플운영자" target="_blank"><img
                                    src="/images/fix/favicon.png"
                                    alt="chat_image"></a></div>
                            <div class="userIdChatTxt"><span class="userId">유호근</span>
                                <div class="chatTxt"><span class="chatTxtContents"><a style="color: rgb(51, 51, 51);">해보다 눈부신 바로 당신입니다&nbsp;</a></span>
                                    <div class="timeWrap"><span class="time">오후 3:08</span></div>
                                </div>
                            </div>
                        </div>


                        <div id="chat_ref_0"></div>
                    </div>
                    <div class="chatInputArea">
                        <div class="mentions mentions--multiLine"
                             style="position: relative; overflow-y: visible; height: 24px;">
                            <div class="mentions__control">
                                <div class="mentions__highlighter"
                                     style="position: relative; box-sizing: border-box; width: 100%; color: transparent; overflow: hidden; white-space: pre-wrap; overflow-wrap: break-word; border: 1px solid transparent; text-align: start;"></div>
                                <textarea placeholder="@으로 상대방 지정이 가능합니다." rows="5" cols="40" class="mentions__input"
                                          style="display: block; width: 100%; position: absolute; margin: 0px; top: 0px; left: 0px; box-sizing: border-box; background-color: transparent; font-family: inherit; font-size: inherit; letter-spacing: inherit; height: 100%; bottom: 0px; overflow: hidden; resize: none; padding-top: 6px; outline: none;"></textarea>
                            </div>
                        </div>
                        <button class="buttonComponents_button__1hvQa buttonComponents_circle__2iQ3w buttonComponents_blueBlack__2HIFu  buttonComponents_lgImg__2-hZO ">
                            <img class="" src="https://letspl.me/assets/images/ic-send.svg"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chatExitModal">
        <div class="commonModal chatExit">
            <p class="modalTit">NEOS - 오픈챗</p>
            <p class="modalTit">채팅방을 나가시겠습니까?</p>
            <button class="closeBtn"><img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close">
            </button>
            <div class="commonModalContent"><p>원하실때 다시 들어올 수 있습니다</p>
                <p>기다리고 있을게요</p></div>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn">예</button>
            </div>
        </div>
    </div>

    <div class="request_chat">
        <div class="commonModal">
            <p class="modalTit">1 네오력</p>
            <p class="modalTit">사용하시겠습니까?</p>
            <button class="closeBtn"><img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close"></button>
            <div class="commonModalContent"><p>예를 누르시면,</p>
                <p> 추추추님과 대화를 시작합니다!</p></div>
            <div class="btnWrap doubleBtnWrap">
                <button class="btn whiteBtn">아니오</button>
                <button class="btn redBtn chatStart">예</button>
            </div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/fix/chatting.js"></script>
</html>