<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/css/fix/header.css">
<body>

<div class="Footer" th:fragment="footer">
    <div class="footerContentBottom">

        <div class="wrap">
            <div class="left">
                <ul>
                    <!-- <li>개빠사크루</li> -->
                    <li>사업등록번호 : 782-99-06054</li>
                    <li>대표 : 심민성</li>78
                    78rg
                    <li><a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=6193900615&amp;apv_perm_no="
                           target="_blank">통신판매신고번호 : 제 2022-서울강남-3477호</a></li>
                    <li>주소 : 경상남도 창원시 소답동 청학아파트 304호</li>
                    <li><a href="tel:070-4111-6054">TEL : 070.4111.6054</a></li>
                    <li>개인정보담당자 : 김로사<a href="mailto:help@lespl.me">&nbsp;ro@neos.me</a></li>
                </ul>
                <p>Copyright ⓒ 2022 NEOS. All rights reserved.</p>
                <ul class="mbWrap">
                    <li><a href="/tnc/service_policy">서비스 이용약관</a></li>
                    <li><a href="/tnc/privacy_policy">개인정보취급방침</a></li>
                    <li><a href="/tnc/payment_policy">전자금융거래약관</a></li>
                    <li><a href="/tnc/refund_policy">결제/환불약관</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>