<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 전 헤더</title>
    <link rel="stylesheet" href="/css/fix/header.css">

</head>
<body>
<header class="Header" th:fragment="header">
    <nav>
        <a th:href="@{/main/main}">
        <img src="/images/fix/logo.png" alt="letspl_logo" class="logo">
        </a>

        <ul class="Navbar">
         <img src="/images/fix/finger.png" class="finger" style="width: 20px;" >
            <li><a class="click" th:href="@{/neosUser/list}">모집하기</a></li>
            <li><a class="click" th:href="@{/study/list}">스터디</a></li>
            <li><a class="click" th:href="@{/store/store-list}">자료상점</a></li>
            <li><a class="click" th:href="@{/community/community}">커뮤니티</a></li>
            <li><a class="click" th:href="@{/notice/list}">공지사항</a></li>
        </ul>
        <div th:if="${session.loginUser == null}" class="loginWrap">
            <div class="searchWrap">
                <a class="searchIc" th:href="@{/search/search-before}"><span>검색</span>
                    <img class="pcSearch" src="	https://letspl.me/assets/images/ic-search-white.png" alt="검색하기">
                    <img class="mobileSearch" src="	https://letspl.me/assets/images/ic-search.png" alt="검색하기">
                </a>
            </div>
            <div class="joinAndLoginWrap">
                <a class="joinAndLogin" style="font-size: 14px;" onclick="joinShow()">가입</a>
                <a class="joinAndLogin"  style="font-size: 14px;" onclick="loginShow()">로그인</a>
            </div>
            <div class="mobileLogin">
                <a><img loading="lazy" src="https://letspl.me/assets/images/ic-login.png" alt="로그인"></a>
            </div>
        </div>

        <div th:if="${session.loginUser != null}" class="loginWrap">
            <div class="loginLogout">
                <div class="newDot">
                    <div class="redDot"></div>
                    <input type="hidden" name="userId" id="userId" th:value="${session.loginUser}">
                    <input type="hidden" id="userOauthId">
                </div>
                <div class="searchWrap">
                    <a class="searchIc" th:href="@{/search/search}"><span>검색</span>
                        <img class="pcSearch" src="	https://letspl.me/assets/images/ic-search-white.png"
                             alt="검색하기">
                        <img class="mobileSearch" src="	https://letspl.me/assets/images/ic-search.png" alt="검색하기">

                    </a>
                </div>
                <a class="navBtn buildProject" th:href="@{/study/create}">
                    <span>스터디 생성</span>
                    <img class="mobileBuild" src="https://letspl.me/assets/images/ic-project-new.png" alt="모임/스토리 만들기">
                </a>
                <div class="profile" onclick="">
                    <img
                            src="https://phinf.pstatic.net/contact/20220629_138/1656481654516fqNNk_PNG/profileImage.png">
                </div>

                <!--  팝업창  -->
                <div class="hoverMenu ">
                    <div class="profileSummary clearfix">
                        <div class="left prifileInfo"><a href="/people/sun9hyun"><img id="userProfileImg"
                                                                                      src="https://phinf.pstatic.net/contact/20220629_138/1656481654516fqNNk_PNG/profileImage.png"></a>
                        </div>
                        <div class="right idInfo">
                            <div class="lvAndLogout">
                                <div class="lv"><img  class="userLv" id = "userLevel"
                                                     src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                                     alt="렛플렙"></div>
                                <th:block th:if="${#strings.endsWith(session.realId,'-google')}">
                                    <a class="logOut" href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:10718/logout/google">로그아웃</a>
                                </th:block>
                                <th:block th:unless="${#strings.endsWith(session.realId,'-google')}">
                                    <a class="logOut" th:href="@{/logout/logout}">로그아웃</a>
                                </th:block>
                                <script th:inline="javascript">
                                    var realId = [[${session.realId}]];
                                    if(realId.endsWith('k')){
                                        const logout = document.querySelector(".logOut");
                                        logout.href='https://kauth.kakao.com/oauth/logout?client_id=e29231bc42552a6803c663f6ba7bad63&logout_redirect_uri=http://localhost:10718/logout/logout'
                                    }
                                </script>


                            </div><a href="/people/sun9hyun">
                            <p class="userId" id="userName">sun9hyun</p>
                        </a><a href="/people/sun9hyun">
                            <p class="positionTxt"><span>본캐 :&nbsp</span><span id="userCollege"></span></p>
                        </a>
                        </div>
                    </div>
                    <div class="pointWrap">
                        <div class="pointTxt"><span id="neosPoint">8 </span><span>&nbsp P</span></div>
                        <a th:href="@{/pay/point}"><button type="button" ><span>충전</span></button></a>
                    </div>
                    <div class="navLIst">
                        <div><a class="popClick" href="/my?tab=project">내 프로필</a></div>
                        <div><a class="popClick"   th:href="@{/my-page/my}">마이페이지</a></div>
                        <div><a class="popClick" href="/my?tab=project">모임 현황</a></div>
                    </div>
                    <div class="alarmList">
                        <ul>
                            <li class="alarmTit">내 모임 (<span>1</span>)</li>

                            <li class="alarmContent"><a class="popClick" href="/project/624">
                                <p>[스터디&amp;네트워킹] spring boot 팀프로젝트</p><span class="dateInfo">22.11.08
                                                부터 참여중</span><span class="newTag"></span>
                            </a></li>

                        </ul>
                        <ul>
                            <li class="alarmTit">신규 알림 (<span class="alarmTotalCount">3</span>)</li>
                            <div class="alarmText"> </div>
<!--                            <li class="alarmContent"><a class="popClick" href="/my?tab=alarm">-->
<!--                                <p>회원님을 찾는 프로젝트 대학 동아리 플랫폼 App가 게시되었습니다.</p><span class="dateInfo">22.11.09-->
<!--                                                09:08</span><span class="newTag"></span>-->
<!--                            </a></li>-->
                            <li class="moreAlarm">
                                <p>이 외 <em>0</em>건의 메시지가 있습니다.</p><a class="popClick" href="/my?tab=alarm">확인하러 가기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!--  로그인 모달-->
    <div class="modalWrapOpenByHeader loginModal1">
        <div class="loginModal"><p class="modalTit">로그인</p>
            <button class="closeBtn closeButton" onclick="loginHide()" ><img src="/images/admin/closeBtn.png" alt="close" style="cursor: pointer"></button>
            <button class="loginBtn naver loginNaver" style="cursor: pointer;">네이버 아이디로 로그인<!-- --> </button>
            <button class="loginBtn kakao loginKakao" style="cursor: pointer;">카카오 계정으로 로그인</button>
            <button class="loginBtn google loginGoogle" style="cursor: pointer;">구글 계정으로 로그인</button>
            <a class="signupBtn signupButton" style="cursor: pointer;"></a></div>
    </div>
    <!--회원 가입 모달-->
    <div class="modalWrapOpenByHeader joinModal1">
        <div class="joinModal">
            <p class="modalTit">회원 가입하기</p><button class="closeBtn" onclick="joinHide()">
            <img src="/images/admin/closeBtn.png" alt="close" style="cursor: pointer" >

        </button>
            <button class="joinBtn naver joinNaver" style="cursor: pointer">네이버 아이디로 가입</button>

            <button class="joinBtn kakao joinKakao" style="cursor: pointer">카카오 계정으로 가입</button>
            <button class="joinBtn google joinGoogle" style="cursor: pointer">구글 계정으로 가입</button>
            <p class="loginNoticeTxt">소셜 로그인으로 가입 시
                <a target="_blank" href="/tnc/service_policy">이용약관,&nbsp;</a>

                <a target="_blank" href="/tnc/privacy_policy">개인정보처리방침,&nbsp;</a>
                <a target="_blank" href="/tnc/payment_policy">전자금융거래약관</a>
                에 동의함으로 처리됩니다
            </p>
            <a class="signupBtn" style="cursor: pointer"></a>
        </div>
    </div>

</header>
</body>
</html>