<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOS</title>
    <link rel="stylesheet" href="/css/search/searchComplete.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <style>
        .moreButtonBox{
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            justify-content: center;
            padding: 20px 0;
            align-items: center;
        }
        .moreButton{
            padding: 13px 24px;
            border: 1px solid #ced2d4;
            border-radius: 50px;
        }
    </style>
</head>

<body>
<header th:replace="/app/fix/header.html :: header"></header>


<div class="searchResultSection">


        <form th:action="@{/search/search}" method="post" name="searchForm" id="searchForm">
            <div class="searchInputWrap">
                    <input type="text" class="searchInput" placeholder="검색내용을 입력해주세요(ex. 제목, 키워드)" name="keyword" value="" maxlength="30" autocomplete="off">

                <div class="inputBtnWrap">
                    <button type="button" class="inputDelBtn" style="display: none;">
                        <img loading="lazy" src="https://letspl.me/assets/images/ic-del.svg" alt="초기화">
                    </button>
                    <button type="button" class="inputSearchBtn">
                        <img loading="lazy" src="https://letspl.me/assets/images/ic-search.png" alt="검색">
                    </button>
                </div>
            </div>
        </form>
    <!-- ==================================================================================================================== -->

    <th:block th:if="${keyword != null}">
        <div class="searchHistoryWrap" style="margin-bottom: 0px;"></div>
        <div class="searchResultTxtWrap">
            <h3 class="searchResultTxt">"<span th:text="${keyword}" id="keyword" th:value="${keyword}"></span>"에 대한 검색 결과&nbsp;<span th:text="${total}">&nbsp;59</span>개
            </h3>
            <a th:href="@{/search/search}">
                <button type="button" class="inputinitBtn">
                    <span>검색 초기화</span>
                    <img loading="lazy" src="https://letspl.me/assets/images/ic-del.svg" alt="초기화">
                </button>
            </a>
        </div>


        <th:block th:if="${total != 0}">
            <div class="searchResultList projectToplRightWrap projectLayoutRowFlex1 ">
                        <div class="subtitWrap">
                            <p class="subtit"> 스터디
                                <th:block th:if="${studysize == 0}">
                                    <span>0</span>건
                                </th:block>
                                <th:block th:unless="${studysize == 0}">
                                    <span th:text="${studysize}">&nbsp;5</span>건
                                </th:block>
                            </p>
                        </div>
                <div class="studyWrap">
                    <th:block th:each="study, studyStatus:${studys}" th:object="${study}">
                            <div class="recommendProjectlist">
                                <div class="projectThumbWrap">
                                    <img th:if="*{studyType =='전공'}" class="buttonComponents_lgImg__2-hZO" src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_12.png">
                                    <img th:if="*{studyType =='교양'}" class="buttonComponents_lgImg__2-hZO" src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_01.png">
                                    <img th:if="*{studyType =='공통'}" class="buttonComponents_lgImg__2-hZO" src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_05.png">
                                </div>
                                <div class="txtWrap">
                                    <p class="tit" style="font-size: 20px;" th:text="*{studyTitle}">[서울] 전기차 충전운영 플랫폼 개발</p>
                                    <p class="desTxt">
                                        <span th:text="*{studyContent}">
                                                플랫폼 서비스를 준비중인 예비창업 팀입니다. 현재 4명(총괄, 디자인1, 개발1)의 팀원으로 구성되어 앱 개발을 진행하고 있습니다. (30% 완료, 11월 출시
                                                예정) 전기차 시대를 맞이하여 충전 문화의 혁신을 주도할 팀원을 모집합니다.[ SCS 팀 구성원 ]
                                                현재 저희 팀은 이런식으로 구성되어 있어요👥
                                        </span>
                                    </p>
                                    <p class="typeTxt" style="font-size: 14px;" th:text="'#'+*{studyKeyword}">[모집중] 크로스플랫폼</p>
                                </div>
                            </div>
                    </th:block>
                </div>
                <div class="moreButtonBox">
                    <button type="button" class="moreButton studyBtn buttonComponents_button__1hvQa buttonComponents_radius__2l9SM buttonComponents_md__26Zib ">
                        더 보기
                    </button>
                </div>
                </div>

            <div class="searchResultList projectCollectWrap storySection" style="padding: 0px 0px;">
            <div class="subtitWrap">
                <p class="subtit"> 자료상점
                    <th:block th:if="${storesize == 0}">
                        <span>0</span>건
                    </th:block>
                    <th:block th:unless="${storesize == 0}">
                        <span th:text="${storesize}">&nbsp;5</span>건
                    </th:block>
                </p>
            </div>
            <div class="contents">
                <div class="contentsList">
                    <ul class="storeAdd">
                        <th:block th:each="store, storeStatus:${stores}" th:object="${store}">
                            <li>
                                <div class="left">
                                    <div class="listTIt">
                                        <div class="categoryTitWrap">
                                            <span class="category2" th:text="*{storeStatus}">FREE</span>
                                            <p class="titTxt" th:text="*{storeTitle}">[언노운나이츠]사이드프로젝트로 게임 개발하기 1/2</p>
                                        </div>
                                        <div class="previewTxt" th:utext="*{storeContent}">﻿이 글은 인디게임 제작사 "Teamarex"에서 직접 작성한,"언노운 나이츠"게임개발 후기에
                                            대한 내용입니다.렛플은 해당 게임의 개발 및 수익과 무관하며, 컨텐츠 공유의 목적에서 이 스토리를 양도받아 게재합니다.사이드프로젝트로
                                            게임개발하시는 분들에게 도움이 되길 바랍니다.사이드프로젝트의 시작
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                    <div class="moreButtonBox">
                        <button type="button" class="moreButton storeBtn buttonComponents_button__1hvQa buttonComponents_radius__2l9SM buttonComponents_md__26Zib ">
                            더 보기
                        </button>
                    </div>

                </div>
            </div>
        </div>
            <div style="margin: -35%;"></div>
        </th:block>

        <th:block th:if="${total == 0}">
            <div>
                <img src="https://letspl.me/assets/images/no-result.png" style="margin-top: 50px; max-width: 300px; height: auto; margin-left: 434px; margin-bottom: 27px;">
            </div>
            <div style="margin: -35%;"></div>
        </th:block>

    </th:block>
</div>
<div style="margin: 25.5%;"></div>


<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
/* 검색 취소 */
    var $ipt = $('.searchInput'),
        $clearIpt = $('.inputDelBtn');

    // var $look = $('.inputSearchBtn');

    $ipt.keyup(function(){
        $(".inputDelBtn").toggle(Boolean($(this).val()));
        // $(".inputSearchBtn").toggle(Boolean($(this).val()));
    });

    $clearIpt.toggle(Boolean($ipt.val()));
    // $look.toggle(Boolean($ipt.val()));

    $clearIpt.click(function(){
        $(".searchInput").val('').focus();
        $(this).hide();
        // $look.hide();
    });

    $(".inputSearchBtn").on("click", function(){
        let keyword = $(".searchInput").val();
        if(!keyword){
            alert("빈 문자열은 검색하실 수 없습니다.")
        }

        $("#searchForm").submit();
    })

</script>
<script src="/js/search/searchAjax.js"></script>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>