<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOS</title>
    <link rel="stylesheet" href="/css/search/searchAfter.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>

<body>
<header th:replace="/app/fix/header.html :: header"></header>
    <div class="searchResultSection">
        <div class="searchInputWrap"><input type="text" class="searchInput" placeholder="검색내용을 입력해주세요(e.g 리액트 개발자)"
                value="누구세요" maxlength="30">
            <div class="inputBtnWrap"><span id="del"><button class="inputDelBtn"></span><img loading="lazy" src="https://letspl.me/assets/images/ic-del.svg"
                        alt="초기화"></button><button class="inputSearchBtn"><img loading="lazy"
                        src="https://letspl.me/assets/images/ic-search.png" alt="검색"></button></div>

<!--        <div class="input-group">-->
<!--            <input id="searchinput" type="text">-->
<!--            <span id="searchclear">X</span>-->
<!--        </div>-->
        </div>
        <div class="searchHistoryWrap" style="margin-bottom: 50px;"></div>
        <div class="searchResultTxtWrap">
            <h3 class="searchResultTxt">"누구세요"에 대한 검색 결과<span>&nbsp;0</span>&nbsp;개</h3><button
                class="inputinitBtn"><span>검색 초기화</span><img loading="lazy" src="https://letspl.me/assets/images/ic-del.svg"
                    alt="초기화"></button>
        </div>
        <div>
            <img src="https://letspl.me/assets/images/no-result.png" style="max-width: 300px;height: auto;margin-left: 434px; margin-bottom: 77px">
        </div>
    </div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!--<script src="/js/search/searchAfter.js"></script>-->
<script>

    var $ipt = $('.searchInput'),
        $clearIpt = $('.inputDelBtn');

    $ipt.keyup(function(){
        $(".inputDelBtn").toggle(Boolean($(this).val()));
    });

    $clearIpt.toggle(Boolean($ipt.val()));
    $clearIpt.click(function(){
        $(".searchInput").val('').focus();
        $(this).hide();
    });


</script>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>