<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOS | 검색 전</title>
    <link rel="stylesheet" href="/css/search/searchBefore.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>

<body>
<header th:replace="/app/fix/header.html :: header"></header>
    <div class="searchResultSection">
        <div class="searchInputWrap">
            <input class="searchInput" type="text" placeholder="검색내용을 입력해주세요(ex. )"
                maxlength="30" value="">
            <div class="inputBtnWrap">
                <button class="inputDelBtn">
                    <img loading="lazy" src="https://letspl.me/assets/images/ic-del.svg" alt="초기화">
                </button>
                <button class="inputSearchBtn">
                    <img loading="lazy"src="https://letspl.me/assets/images/ic-search.png" alt="검색">
                </button>
            </div>
        </div>
    </div>
    <div style="margin: 33.5%;"></div>


    <div th:replace="/app/fix/footer.html :: footer"></div>

    </body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    var $ipt = $('.searchInput'),
        $clearIpt = $('.inputDelBtn');

    $ipt.keyup(function(){
        $(".inputDelBtn").toggle(Boolean($(this).val()));
    });

    $clearIpt.toggle(Boolean($ipt.val()));
    $clearIpt.click(function(){
        $(".searchInput").val('').focus();
        $(this).hide();
    });
</script>
<script src="/js/search/searchAjax.js"></script>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>