<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의하기</title>
    <link rel="stylesheet" href="/css/inquiry/inquiry.css">
    <link rel="stylesheet" href="/css/admin/modal.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">


</head>
<body>


<header th:replace="/app/fix/header.html :: header"></header>
<div id="__next">
    <section class="userProfileSection">
        <div class="profileInfo">
            <div class="pic">
                <div class="picWrap"><img
                        src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/4535/images/%EB%B3%B4%EA%B1%B0%EC%8A%A4.png"
                        alt="민쇼니"></div><a class="favoriteSymbol">
                <div class="favorite active"></div>
            </a>
            </div>
            <div class="profileInfoTxt">
                <div class="profileInfoTxtFirst">
                    <div class="profileStatusSection">
                        <div class="userTag grayTag"><span style="cursor: pointer">번호미인증</span></div>
                        <div class="userTag" style="background-color:#50a9ab;border:1px solid#50a9ab">
                            <span style="cursor: pointer">ENTP</span>
                        </div>
                        <div class="modifyBtn" style="cursor: pointer"><img src="https://letspl.me/assets/images/ic-profile-modify.png"
                                                                            alt="수정"></div>
                    </div>
                    <h2 class="tit"><img class="userLv"
                                         src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_4.png"
                                         alt="렛플렙">&nbsp;
                        <!-- -->민쇼니
                    </h2>
                    <p class="introduction">마지막 로그인 :
                        <!-- --> 오늘
                    </p>
                    <div class="topBtnWrap btnWrap"><button class="pinkBtn">1:1 대화</button><button
                            class="blackBtn">모임
                        초대</button></div>
                </div>
                <div class="myTabWrapContainer">
                    <div class="myTabWrap"><a class="">정보</a><a class="active">나의 문의함(
                        <!-- -->1
                        <!-- -->)
                    </a><a class="">스토리(
                        <!-- -->0
                        <!-- -->)
                    </a></div>
                </div>
                <section class="grayBg secretNote">
                    <div class="projectFeedContents mypage">
                        <p class="tit">나의 문의함(Q&amp;A)&nbsp; <span>(1)</span></p>

                        <div class="communiWrap"><textarea  class="textarea1" id="textId" placeholder="네오스 궁금한것이 있나요? " rows="2"
                                                            maxlength="1000"></textarea>
                            <div class="buttonCountWrap">
                                <p class="count"  style="margin-left: 8px;" ><span class="countSpan">0</span>/<span>500</span></p><button style="margin-left: 834px; display: none" class="registration"  >등록</button> <button class="cance">취소</button>
                            </div>
                        </div>
                        <div class="section feedUploadedSection">
                            <div class="feedUploadWrap">
                                <div class="feedContentsWrap">
                                    <div class="top"><a href="/people/민쇼니" target="_blank">
                                        <div class="thumb"><img loading="lazy"
                                                                src="https://letspl.s3.ap-northeast-2.amazonaws.com/user/4535/images/%EB%B3%B4%EA%B1%B0%EC%8A%A4.png"
                                                                alt="user_image"></div>
                                    </a>
                                        <div class="name">
                                            <p class="profileName">민쇼니

                                            </p><span>22.11.09 16:51</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="feedContents"><textarea  class="textarea1" id="textUp" disabled="" maxlength="1000"
                                                                         style="font-size: 0.875rem; height: 62px !important;">의대에 관심있는데 안과전공한 사람들의 스터디에 들어가고싶은데 어케 들어가여?</textarea>
                                    </div>
                                    <div class="btnWrap"><button id="upbtn" class="txtBtn">수정</button>
                                        <div class="divider"></div><button class="txtBtn">삭제</button>
                                    </div>

                                    <div class="bottom"><a class="">댓글 닫기</a><span class="replayCount">0</span></div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </section>
</div>
</div>
</section>
</div>
<div class="modalWrapOpen">
    <div class="commonModal">
        <p class="modalTit" style="font-size: 18px;margin-bottom: 15px">댓글 삭제 확인</p><button class="closeBtn"><img
            src="/images/admin/closeBtn.png" alt="close"></button>
        <div class="commonModalContent">
            <p style="font-size: 12px;margin-bottom: 12px;">해당 댓글을 삭제하시겠습니까?</p>
        </div>
        <div class="btnWrap doubleBtnWrap"><button class="btn whiteBtn" style="font-size: 12px;line-height: 3;">아니오</button><button
                class="btn redBtn" style="font-size: 12px;line-height: 3;">예</button></div>
    </div>
</div>
<div th:replace="/app/fix/footer.html :: footer"></div>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!--<script src="/js/inquiry/inquiry.js"></script>-->


<script>


    /* 글자 카운터  */
    $("#textId").keyup(function(e) {
        //console.log("키업!");
        var content = $(this).val();
        $(".countSpan").text( content.length  ); //실시간 글자수 카운팅
        if (content.length > 500) {
            $(this).val(content.substring(0, 500));

        }
    });

    /* 나의 문의 수정 수정완료 */

    let check=false;
    $('#upbtn').click(function () {
        // console.log(this);

        if(!check){
            $(this).closest('.feedContentsWrap').find(".textarea1").attr('disabled', false);
            $(this).text('등록')
            check=true;
        }else{
            $(this).closest('.feedContentsWrap').find(".textarea1").attr('disabled', true);
            $(this).text('수정')
            check=false;
        }

        // $(this).parent().parent().find("textarea").prop('disabled',true);
    })


    /* 등록 수정글 */
    var $ipt = $('.textarea1');

    var  $clearIpt = $('.cance');
    var  $registrationPt = $('.registration');


    $ipt.keyup(function(){
        $(".cance").toggle(Boolean($(this).val()));
        $(".registration").toggle(Boolean($(this).val()));
    });

    $clearIpt.toggle(Boolean($ipt.val()));
    // $registrationPt.toggle(Boolean($ipt.val()));

    $clearIpt.click(function(){
        $(".textarea1").val('').focus();
        $(this).hide();
        $registrationPt.hide();
    });





</script>

</html>