<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>certification</title>
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/error/error404.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<section class="errorSection">
    <div class="errorWrap">
        <div class="left"><h3>로그인 실패!</h3>
            <p class="redTxt">인증이 필요합니다.</p>
            <p class="lgTxt">이메일 인증이<br>필요한 상태입니다.</p>
            <p class="normalTxt">이메일이 제대로 발송되지 않았다면<br>고객센터를 통해 문의해주시기 바랍니다.<!-- --> </p>
            <div class="btnWrap">
                <a th:href="@{/main}">
                    <button class="blackBtn">첫 화면으로</button>
                </a>
            </div>
        </div>
        <div class="right img"><img  src="/images/fix/error.png" alt="error_image"></div>
    </div>
</section>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>