<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>회원가입 모달</title>
    <link rel="stylesheet" href="/css/loginAndJoin/join.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>
<body>


    <nav>
        <img src="/images/fix/logo.png" alt="letspl_logo" class="logo">
        <ul class="Navbar">
            <li><a href="">네오스인</a></li>
            <li><a href="">스터디</a></li>
            <li><a href="">자료상점</a></li>
            <li><a href="">커뮤니티</a></li>
            <li><a href="">공지사항</a></li>
        </ul>
        <div class="loginWrap">
            <div class="searchWrap">
                <a class="searchIc"><span>검색</span>
                    <img class="pcSearch" src="	https://letspl.me/assets/images/ic-search-white.png" alt="검색하기">
                </a>
            </div>
            <div class="joinAndLoginWrap">
                <a class="joinAndLogin">가입</a>
                <a class="login" style="font-size: 14px; color: #666; cursor: pointer " >로그인</a>
            </div>
        </div>
    </nav>


<!-- 회원가입 모달창-->
    <div class="modalWrapOpen">
<div class="joinModal">
    <p class="modalTit">회원 가입하기</p><button class="closeBtn" onclick="closeModal()">
    <img loading="lazy" src="https://letspl.me/assets/icon/ic-close.svg" alt="close" style="cursor: pointer" >

</button>
    <button class="joinBtn naver" style="cursor: pointer">네이버 아이디로 가입</button>

    <button class="joinBtn kakao" style="cursor: pointer">카카오 계정으로 가입</button>
    <button class="joinBtn google" style="cursor: pointer">구글 계정으로 가입</button>
    <p class="loginNoticeTxt">소셜 로그인으로 가입 시
        <a target="_blank" href="/tnc/service_policy">이용약관,&nbsp;</a>

        <a target="_blank" href="/tnc/privacy_policy">개인정보처리방침,&nbsp;</a>
        <a target="_blank" href="/tnc/payment_policy">전자금융거래약관</a>
        에 동의함으로 처리됩니다
    </p>
    <a class="signupBtn" style="cursor: pointer">로그인</a>
</div>
    </div>



    <div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="/js/loginAndJoin/join.js"></script>-->

<script>
/* 회원 가입 누르면 모달  */
  /*  $(document).ready(function() {
        console.log("들어왔다");
        $('.joinAndLogin').on('click', function() {
            console.log("또들어왔넴")
            $('.joinModal').toggleClass('open');
            return false;
        });
        console.log("한번더 들어왔따")
    });

    /!* 모달 닫기 할 떄 닫힘*!/
    function closeModal() {
        $('.joinModal').toggleClass();
        window.location.reload();
    };*/

$(".joinAndLogin").on("click", function () {
    $(".modalWrapOpen").css("display", "block");
})

$(".closeBtn").on("click", function () {
    $(".modalWrapOpen").css("display", "none");
})

$(".signupBtn").on("click", function () {
    $(".modalWrapOpen").css("display", "none");
})







</script>

</html>

