<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/loginAndJoin/joinPage.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<section>
    <div class="signupWrap">
        <h3><span class="smTxt" style="color: #1A7CFF;">본 캐릭터 설정</span><span class="bigTxt">회원 가입이 바로 완료됩니다</span>
        </h3>
        <div class="form join1">
            <form method="post" id="joinForm" th:action="@{/join/join}" th:object="${userDTO}">
            <ul class="firstSignForm">
                <div th:text="${name}"></div>
                <input type="hidden" name="userFile" th:value="${oAuthUserProfile}">
                <input type="hidden" name="userOAuthId" th:value="${tokenId}">

                <li><label for="">이메일</label>
                    <div class="inputWrap threeInput row">
                        <div class=" css-1yoqljf-container">
                            <div class=" css-ou3ob2-control">
                                <div class=" css-rqvngq-ValueContainer">
                                    <div class=" css-25h44v-placeholder" th:text="${oauthEmails}"></div>
                                    <input type="hidden" name="userOAuthEmail" th:value="${oauthEmails}">
                                    <div class="css-1ag7u5m-Input">
                                        <div class="" style="display:inline-block"><input type="text" disabled=""
                                                                                          autocapitalize="none" autocomplete="off" autocorrect="off"
                                                                                          id="react-select-10-input" spellcheck="false" tabindex="0" value=""
                                                                                          aria-autocomplete="list"
                                                                                          style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                            <div
                                                    style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 12.8px; font-family: Noto Sans KR; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" css-1hb7zxy-IndicatorsContainer"></div>
                            </div>
                        </div><button value="인증완료" class="txtBtn gray" disabled="">인증완료</button><span
                            class="smTxt"></span>
                    </div>
                </li>





                <li><label for="user_nickname">닉네임</label>
                    <div class="inputWrap threeInput row"><input type="text" id="user_nickname" name="userNickName"
                                                                 class="midInput" value="" autocomplete="on" minlength="3" maxlength="10"
                                                                 placeholder="3~10자리 이내로 적어주세요!" style="width: 100%; outline: none" th:value="${oAuthNickNames}"></div>
                </li>
                <li><label for="user_phone">핸드폰 번호</label>
                    <div class="inputWrap threeInput row"><input type="text" id="user_phone" name="userPhoneNumber"
                                                                 class="midInput" value="" autocomplete="on" minlength="3" maxlength="11"
                                                                 placeholder="핸드폰 번호를 입력해주세요!" style="width: 100%; outline: none" ></div>
                </li>

                <li class="fourSelect"><label for=""> 본 캐릭터 설정 </label>




                    <div class="inputWrap threeInput row">
                        <div class="threeInTwoInput">
                            <select class="checkBtn KRUni" id="location_1j" name="collegeCity">
                                <option value="KR00">지역 미지정</option>
                                <th:block th:each="city : ${collegeCityList}">
                                    <option th:value="${city}" th:text="${city}"></option>
                                </th:block>
                            </select>


                            <select class="checkBtn selectUni" id="collegeName" name="collegeName">
                            <option selected="" value="02">대학교</option>

                        </select>


                            <select class="checkBtn selectUni" id="collegeMajor" name="userCollegeMajor">
                            <option selected="" value="0201">전공</option>
                                <th:block th:each="major : ${userMajorList}">
                                    <option th:value="${major}" th:text="${major}"></option>
                                </th:block>
                        </select>

                            <select class="checkBtn selectUni" id="collegeGrade" name="userCollegeYear">
                        <option value="01">학년</option>
                        <option value="1">1학년</option>
                        <option value="2">2학년</option>
                        <option value="3">3학년</option>
                        <option value="4">4학년</option>
                    </select>
                        </div>
                    </div>
                </li>

                <!-- 대학 인증 -->
                <li><label style="width: 109px;" >대학 이메일 </label>
                    <div class="inputWrap " style="display: flex; margin: 15px 0;  position: relative;">
                        <input class="checkBtn unEmail" id="collegeEmail" type="email" name="userCollegeEmail" placeholder="대학교 이메일을 적어주세요 !" style="width: 50%; outline: none; padding: 10px;">
                        <p class="uniEmailText" style="line-height: 44px; position: absolute; margin-left: 547px;" id="collegeUrl_1j">@snu.ac.kr</p>
                    </div>

                </li>


                <div class="checkboxs" style="position: relative;">
                    <input id="checkB" type="checkbox" style="width: 20px; height: 20px; margin: 8px; margin-left: 0;" />
                    <input type="hidden" class="certify_1j" name="userCollegeCertify" value="false">
                    <label  style="position: absolute; margin-top: 9px; font-size: 12.5px; color: #6e6e6e;">해당사항 없음</label>
                </div>

                <div class="btnWrap"><button type="button" value="가입완료" class="grayBtn joinOkBtn_1j" onclick="joinSubmit()" style="background-color: #1a7cff;cursor: pointer" >가입완료</button></div>

            </ul></form>
        </div>
    </div>
</section>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/loginAndJoin/joinPage.js"></script>
<script src="/js/fix/login.js"></script>
<script src="/js/loginAndJoin/joinOk.js"></script>
<script>
    const $location = $("#location_1j");
    const $collegeNames = $("#collegeName");
    console.log($collegeNames.children());
    $location.on("change",function () {
        var collegeCity = $("#location_1j option:selected").text();
        if(collegeCity != '지역 미지정'){
            $.ajax({
                url: "/change/"+collegeCity,
                type:"post",
                success:function (result) {
                    //i는 인덱스 , item은 object
                    $collegeNames.empty();
                    $collegeNames.append(`<option selected="" value="02">대학교</option>`)
                    $(result).each((i,item)=>{
                        $collegeNames.append(` <option class="collegeName_1j" value="`+item.collegeName+`">`+item.collegeName+`</option>`)
                    })
                }
            })
        }

    })

    $collegeNames.on("change",function () {
        var collegeName = $("#collegeName option:selected").text();
        $("#collegeId_1j").remove();
        if(collegeName != "대학교"){
            $.ajax({
                url: "/change/"+collegeName,
                type:"put",
                success:function (result) {
                    //i는 인덱스 , item은 object
                    var url = result.collegeEmailDomain.split("www.")[1];
                    var id = result.collegeId;
                    $("#collegeUrl_1j").text("@"+url);

                    $("#collegeUrl_1j").after(`<input type="hidden" id="collegeId_1j" name="collegeId" value="`+id+`">`)
                }
            })
        }

    })


</script>

</html>







