@charset "UTF-8";

.projectPageHeaderWrap {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 44px;
    position: relative;
    background-size: cover;
}

.projectPageHeaderWrap .projectPurposeWrap {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
}

.projectPageHeaderWrap .projectPurposeWrap div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 27px;
    border-radius: 2px;
    background-color: #f9f8ff;
    display: inline-block;
}

.projectPageHeaderWrap .projectPurposeWrap div h2 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    padding: 5px 0;
}

.projectPageHeaderWrap .projectPageHeaderContent {
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
}

.projectPageHeaderWrap .projectTit {
    text-align: center;
    color: #222;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
}

.projectPageHeaderWrap .projectLeaderWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 12px;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap {
    cursor: pointer;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg, .projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg a {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg {
    width: 37px;
    height: 37px;
    border-radius: 8px;
    overflow: hidden;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg a img {
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .userIdTxt {
    font-size: 14px;
    color: #666;
    margin-left: 11.5px;
    margin-right: 6.5px;
    font-weight: 400;
    display: inline-block;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .confirmPhoneTxt {
    font-size: 13px;
    color: #1A7CFF;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .lastLoginTxt {
    font-size: 13px;
    color: #b7b7c7;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .idHoverMenu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 555;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .idHoverMenu ul li {
    width: 100%;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .idHoverMenu ul li a {
    display: block;
    padding: 10px 15px;
    font-weight: 400;
    font-size: .875rem;
    color: #333;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projectPageHeaderWrap .statusTagWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.projectPageHeaderWrap .statusTagWrap .statusTag.white {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projectPageHeaderWrap .statusTagWrap .statusTag:last-child {
    margin-right: 0;
}

.projectPageHeaderWrap .statusTagWrap .statusTag {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 9px;
    color: #333;
    border-radius: 100px;
    margin-right: 6px;
    font-size: .7rem;
}

/*------------------------------------------------------------------------------*/

.projectPageWrap {
    max-width: 1200px;
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.projectPageWrap .contents {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 40px;
    position: relative;
    max-width: 840px;
    margin: 0;
}

.contents, .projectTabMenu {
    width: 100%;
    background-color: #fff;
}

.projectTabMenu {
    margin-bottom: 15px;
    top: 55px;
    z-index: 500;
}

.contents, .projectTabMenu {
    width: 100%;
    background-color: #fff;
}

.projectTabMenu>ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.projectTabMenu>ul li {
    font-size: 15px;
    color: #42495b;
    -moz-box-flex: 1;
    flex: 1 1;
}

.projectTabMenu>ul li a.active {
    color: #42495b;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    padding: 12px 0;
    font-size: 16px;
}

.projectTabMenu>ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11.5px 0;
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    color: #8e8ea2;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.projectDetailWrap {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

.projectInfoTabContents.active {
    display: block;
}

/*----------------------------------------------------------------------*/
.projectInfoTabContents .section.statusSection {
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px 15px 0;
}

.projectInfoTabContents .section {
    margin-bottom: 35px;
}

/*----------------------------------------------------------------------*/

.projectDetailWrap .projectTab .section h1.tabTit {
    font-size: 22px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    padding-bottom: 15px;
}

.projectInfoTabContents .section.statusSection ul {
    margin-top: 16px;
}

.projectInfoTabContents .section.statusSection ul li {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 20px;
}

/*-------------------------------------------------------------------*/

.projectInfoTabContents .section.onlyTxtSection textarea:disabled {
    -webkit-text-fill-color: #222;
    opacity: 1;
}

/*-------------------------------------------------------------------*/
.projectPageWrap .projectRightInfoContetns {
    max-width: 300px;
    width: 100%;
}

.projectPageWrap .projectRightInfoContetns .projectRightInfoWrap {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    border: 1px solid #ddd;
    position: sticky;
    top: 78px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .basicInfoWrap {
    padding-top: 0;
}

.projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .infoWrap {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}

.projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .basicInfoWrap .leaderInfo .userIdWrap, .projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .basicInfoWrap .leaderInfo .userIdWrap, .projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .infoWrap .checkboxTit {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.projectPageWrap .projectRightInfoContetns .projectRightInfoWrap .infoWrap .checkboxTit {
    font-size: 1.125rem;
    color: #000;
    font-weight: 500;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 14px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.projectTextArea{
    width: 100%;
    font-size: 16px;
    padding: 10px 0px;
    border-radius: 4px;
    margin-right: 14px;
    resize: none;
    border: 0px;
    background-color: transparent;
    height: 405px !important;
    font-family: 'GmarketSansMedium' !important;
}
.projectTextArea::-webkit-scrollbar{
    display: none;
}
.infoWrap{
    padding-bottom: 8px !important;
}

.checkboxTit{
    margin-bottom: 15px;
}

.qrImg{
    border-bottom: solid 1px #e6e6e6;
}

.qrLast{
    border: none;
}

.fileList{
    display: flex;
}

.fileList img{
    width: 140px;
    height: 140px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.feedInputSection.qnaInputSection {
    padding: 16px 12px 12px 16px;
    height: 100px;
}

.textarea:focus {
    outline: none;
}

.feedInputSection {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 12px 0 20px;

}

.feedInputSection .feedInputWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    margin-bottom: 12px;
}

.feedInputSection .feedInputWrap textarea, .feedInputSection .feedInputWrap textarea.on {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-flex: 1;
    flex: 1 1;
    padding: 0;
    border: 0;
    font-size: 14px;
    resize: none;
    font-family: 'GmarketSansMedium' !important;
}

.feedUploadedSection .feedUploadWrap .feedContentsWrap {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    border-top: 1px solid #ededed;
}
.feedUploadedSection .feedUploadWrap .top {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.feedUploadedSection .feedUploadWrap .top .thumb {
    width: 54px;
    height: 54px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

.feedUploadedSection .feedUploadWrap .top .thumb img {
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.feedUploadedSection .feedUploadWrap .top .name {
    -moz-box-flex: 1;
    flex: 1 1;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}

.feedUploadedSection .feedUploadWrap .top .name p.profileName {
    font-size: 1rem;
    color: #42495b;
    cursor: pointer;
}

.feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView {
    position: absolute;
    display: none;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    z-index: 10;
}

.feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView ul li {
    width: 100%;
}

.feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView ul li a {
    display: block;
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: -1.1px;
    font-size: .875rem;
    color: #333;
}

.feedUploadedSection .feedUploadWrap .top .name span {
    font-size: .75rem;
    color: #c9c9d9;
}
.feedContents {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 12px;
}

.feedContents textarea:disabled {
    height: auto;
    resize: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #222;
    margin-bottom: 13px;
    width: 100%;
    font-size: .875rem;
    opacity: 1;
    -webkit-text-fill-color: #222;
    font-family: 'GmarketSansMedium' !important;
}

.feedContents textarea {
    height: auto;
    resize: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #222;
    margin-bottom: 13px;
    margin-top: 13px;
    width: 100%;
    border: 1px solid #9796a7;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
}

.feedUploadedSection .bottom, .feedUploadedSection .feedUploadWrap .btnWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -moz-box-align: center;
    align-items: center;
}

.feedUploadedSection .bottom {
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}

.feedUploadedSection .feedUploadWrap .bottom a {
    cursor: pointer;
    font-size: .75rem;
    color: #c9c9d9;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.feedUploadedSection .feedUploadWrap .bottom a.active:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.feedUploadedSection .feedUploadWrap .bottom a.active:after, .feedUploadedSection .feedUploadWrap .bottom a:after {
    content: " ";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 2px;
    background-image: url(https://letspl.me/_next/static/media/option-triangle.2abb88b721408916136ac6048ff74b95.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.feedUploadedSection .feedUploadWrap .bottom a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.feedUploadedSection .feedUploadWrap .bottom .replayCount {
    font-size: .75rem;
    color: #42495b;
    display: -moz-inline-box;
    display: inline-flex;
}

.feedUploadedSection .feedUploadWrap .bottom .replayCount:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(https://letspl.me/_next/static/media/ico_comment.66b0e87a88ad24dc805cabc6e2ca41af.svg);
}

