@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
    font-size: 14px;
}

userProfileSection,
.userProfileSection .profileInfo {
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.userProfileSection .profileInfo {
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding: 20px 0 0;
}

.userProfileSection .profileInfo .pic {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: #ddd;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    position: relative;
    margin: 0 auto 16px;
}

.userProfileSection .profileInfo .pic .picWrap {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: #ddd;
    overflow: hidden;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    position: relative;
}



.userProfileSection .profileInfo .pic .picWrap img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.userProfileSection .profileInfo .pic .favoriteSymbol {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    bottom: -12px;
    right: -12px;
    background: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.userProfileSection .profileInfo .pic .favoriteSymbol .favorite.active {
    background-image: url(https://letspl.me/_next/static/media/ic-favorite-full.5a5209416a8859031c9099b5540c281a.svg);
}

.userProfileSection .profileInfo .pic .favoriteSymbol .favorite {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(/_next/static/media/ic-favorite-empty-white.b1db0e3….svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 54%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.userProfileSection .profileInfo .profileInfoTxtFirst {
    text-align: center;
}

.userProfileSection .profileInfo .profileInfoTxt .profileStatusSection {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.userProfileSection .profileInfo .profileInfoTxt .userTag.grayTag {
    background-color: #9796a7;
    border: 1px solid #9796a7;
}

.userProfileSection .profileInfo .profileInfoTxt .userTag {
    border: 1px solid #ea6560;
    background-color: #ea6560;
    border-radius: 100px;
    display: inline-block;
    height: auto !important;
    margin-right: 4px;
}



.userProfileSection .profileInfo .profileInfoTxt .userTag span {
    color: #fff;
    font-size: .6875rem;
    display: block;
    padding: 4px 14px;
}

element.style {
    background-color: #50a9ab;
    border: 1px solid#50a9ab;
}

.userProfileSection .profileInfo .profileInfoTxt .modifyBtn {
    display: inline-block;
    height: 26px;
}

.userProfileSection .profileInfo .profileInfoTxt .modifyBtn img {
    width: 26px;
    height: 26px;
}

fieldset,
img {
    border: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.userProfileSection .profileInfo .profileInfoTxt .tit {
    font-size: 22px;
    color: #42495b;
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.userProfileSection .profileInfo .profileInfoTxt .tit img {
    width: 40px;
    object-fit: cover;
}

.userProfileSection .profileInfo .profileInfoTxt .introduction {
    font-size: .8125rem;
    color: #696980;
}

.userProfileSection .profileInfo .profileInfoTxt .topBtnWrap {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userProfileSection button.pinkBtn {
    border-radius: 4px;
    font-size: .75rem;
    color: #fff;
    width: auto !important;
    padding: 12px 38px !important;
    background-color: #1A7CFF;
}


.userProfileSection .topBtnWrap button:last-child {
    margin-left: 6px;
}

.userProfileSection button.blackBtn {
    border-radius: 4px;
    font-size: .75rem;
    color: #fff;
    padding: 12px 35px !important;
    background-color: #42495b;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.myTabWrapContainer {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 55px;
    z-index: 1000;
    background-color: #fff;
}

.myTabWrapContainer .myTabWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    margin-bottom: 30px;
    border-bottom: 1.5px solid #ededed;
    width: 100%;
}

.userProfileSection .profileInfo .profileInfoTxt a {
    font-size: 1rem;
    color: #8e8ea2;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    line-height: 1.6;
}

.myTabWrapContainer .myTabWrap a {
    margin-right: 10px;
    margin-left: 10px;
}

.myTabWrapContainer .myTabWrap a {
    padding: 14px 4px;
    font-size: 15px;
    line-height: 15px;
    color: #999;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.myTabWrapContainer .myTabWrap a.active,
.myTabWrapContainer .myTabWrap a:hover {
    color: #333;
    font-weight: 700;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.secretNote {
    background-color: #fafafa;
    margin-top: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22px 25px;
}

section {
    width: 100%;
}

.secretNote .projectFeedContents.mypage {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}


.mypage.projectFeedContents .tit {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: start !important;
    justify-content: flex-start !important;
}

.mypage.projectFeedContents .tit span {
    font-size: 22px;
    color: #999;
    font-weight: 400;
}

.mypage.projectFeedContents .communiWrap,
.mypage.projectFeedContents .communiWrap .buttonCountWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.mypage.projectFeedContents .communiWrap {
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    margin-bottom: 20px;
}

.mypage.projectFeedContents .communiWrap textarea {
    padding: 13px 0;
    font-size: 14px;
    border-radius: 4px;
    resize: none;
    border: none;
    outline: none;
}

.secretNote .projectFeedContents.mypage .feedUploadedSection .feedUploadWrap {
    margin-bottom: 20px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .feedContentsWrap {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    border-top: 1px solid #ededed;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .thumb {
    width: 54px;
    height: 54px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .thumb img {
    width: 54px;
    height: 54px;
    object-fit: cover;
}


.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name {
    -moz-box-flex: 1;
    flex: 1 1;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name p.profileName {
    font-size: 1rem;
    color: #42495b;
    cursor: pointer;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView {
    position: absolute;
    display: none;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    z-index: 10;
}

dl,
li,
menu,
ol,
ul {
    list-style: none;
}


.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView ul li {
    width: 100%;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name p.profileName .hoverView ul li a {
    display: block;
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: -1.1px;
    font-size: .875rem;
    color: #333;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .name span {
    font-size: .75rem;
    color: #c9c9d9;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .feedContents {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 12px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .feedContents textarea:disabled {
    height: auto;
    resize: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #222;
    margin-bottom: 13px;
    width: 100%;
    font-size: .875rem;
    opacity: 1;
    -webkit-text-fill-color: #222;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .btnWrap {
    -moz-box-pack: end;
    justify-content: flex-end;
    margin-top: 12px;
}

.projectFeedContents .feedUploadedSection .bottom,
.projectFeedContents .feedUploadedSection .feedUploadWrap .btnWrap {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -moz-box-align: center;
    align-items: center;
}

.btnWrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .btnWrap button:first-child {
    color: #42495b;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .btnWrap .divider {
    width: 1px;
    height: 10px;
    background-color: #d8d8d8;
    margin: 0 12px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .btnWrap button.txtBtn {
    flex-shrink: 0;
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0;
    color: #81839c;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    font-size: .75rem;
    margin-top: 3px;
}




.projectFeedContents .feedUploadedSection .bottom {
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom a {
    cursor: pointer;
    font-size: .75rem;
    color: #c9c9d9;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom a.active:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom a.active:after,
.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom a:after {
    content: " ";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 2px;
    background-image: url(https://letspl.me/_next/static/media/option-triangle.2abb88b721408916136ac6048ff74b95.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom .replayCount {
    font-size: .75rem;
    color: #42495b;
    display: -moz-inline-box;
    display: inline-flex;
}


.projectFeedContents .feedUploadedSection .feedUploadWrap .bottom .replayCount:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(https://letspl.me/_next/static/media/ico_comment.66b0e87a88ad24dc805cabc6e2ca41af.svg);
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.feedUploadWrap .replyWrap {
    background-color: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 34px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.feedUploadWrap .replyWrap .replayInput {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: start;
    align-items: flex-start;
    width: 100%;
}

.feedUploadWrap .replyWrap .replayInput .txtInput {
    -moz-box-flex: 1;
    flex: 1 1;
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: end;
    align-items: flex-end;
}

.feedUploadWrap .replyWrap .replayInput .txtInput textarea {
    -moz-box-flex: 1;
    flex: 1 1;
    font-size: .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 16px;
    border-radius: 4px;
    resize: none;
    border: 1px solid #e3e3e3;
    color: #222;
}

.feedUploadWrap .replyWrap .buttonCountWrap {
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.feedUploadWrap .replyWrap .buttonCountWrap .count {
    font-size: 14px;
    color: #b1b1b1;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.feedUploadWrap .replyWrap .buttonCountWrap .count span:first-child {
    color: #333;
}

.feedUploadWrap .replyWrap .replayInput .txtInput button {
    padding: 7px 27px !important;
    margin-left: 0;
    margin-top: 12px;
}

a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.feedUploadWrap .replyWrap .replyWrapContent {
    margin-bottom: 14px;
    border-bottom: 1px solid #e3e3e3;
}

.feedUploadWrap .replyWrap .top {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.feedUploadWrap .replyWrap .top .left {
    margin-right: 16px;
    flex-shrink: 0;
}

.feedUploadWrap .replyWrap .top .left .profileThumb {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
}

.feedUploadWrap .replyWrap .top .right {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}

.feedUploadWrap .replyWrap .top .right .profileName {
    font-size: 1rem;
    color: #42495b;
    line-height: 1.125rem;
}

.feedUploadWrap .replyWrap .top .right .profileName .hoverView {
    position: absolute;
    display: none;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    z-index: 10;
}

.feedUploadWrap .replyWrap .top .right .dateTxt {
    font-size: .75rem;
}

.feedUploadWrap .replyWrap .bottom {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 0;
}

.feedUploadWrap .replyWrap .bottom .left {
    width: 44px;
    margin-right: 16px;
}

.feedUploadWrap .replyWrap .bottom .txtWrap,
.feedUploadWrap .replyWrap .bottom .txtWrap textarea {
    -moz-box-flex: 1;
    flex: 1 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feedUploadWrap .replyWrap .bottom .txtWrap {
    display: -moz-inline-box;
    display: inline-flex;
    margin-right: 14px;
    width: 100%;
    padding-left: 10px;
}

element.style {
    font-size: 0.875rem;
    height: 42px !important;
}

.feedUploadWrap .replyWrap .bottom .txtWrap textarea:disabled {
    background: none;
    border: none;
    font-size: .875rem;
    color: #222;
    -moz-box-flex: 1;
    flex: 1 1;
    padding: 0;
    resize: none;
    opacity: 1;
    -webkit-text-fill-color: #222;
    margin-bottom: 20px;
}

.secretNote .projectFeedContents.mypage .communiWrap .buttonCountWrap {
    display: -moz-box !important;
    display: flex !important;
    -moz-box-orient: horizontal !important;
    -moz-box-direction: normal !important;
    flex-direction: row !important;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-right: 0;
}

.mypage.projectFeedContents .communiWrap .buttonCountWrap {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
}

.mypage.projectFeedContents .communiWrap .buttonCountWrap .count {
    font-size: 14px;
    color: #b1b1b1;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.mypage.projectFeedContents .communiWrap .buttonCountWrap button {
    padding: 7px 21px 6px;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 13px;
    color: #222;
}

.textarea2{
    resize: none;
    width: 100%;
    outline: none;
    border-color: #1A7CFF;
    padding: 6px;
    margin: 10px;
}

.projectFeedContents .feedUploadedSection .feedUploadWrap .top .thumb img {
    width: 54px;
    height: 54px;
    object-fit: cover;

}

.statusCircle{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 13px!important;
    border-radius: 100px;
    display: -moz-inline-box;
    display: inline-flex;
    background-color: #1A7CFF;
    margin-right: 18px;

}


.modalWrapOpen .commonModal {
    padding: 60px 20px 40px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    max-width: 406px;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    z-index: 999999;
}