<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEOS | 공지사항</title>
    <link rel="stylesheet" href="/css/notice/noticeDetails.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
</head>
<body>



<header th:replace="/app/fix/header.html :: header"></header>
<div id="next">
<section class="noticeSection">
    <th:block th:object="${noticeDTO}">
        <div class="commonContentViewHeader">
            <h1><span class="smTxt">NOTICE</span><span class="bgTxt">공지사항</span></h1>
        </div>
        <div class="noticeViewWrap">
            <div class="noticeViewTop">
                <div class="noticeTitleWriter">
                    <div class="left">
                        <p> 제목</p>
                    </div>
                    <div class="right">
                        <p  th:text="*{noticeTitle}"></p>
                    </div>
                </div>
            </div>
            <div class="noticeViewContents">

                <div>
                    <p>
                        <span></span>
                    </p>

                    <p>
                        <spen><br></spen>
                    </p>

                    <p>
                        <span th:text="*{noticeContent}"></span>
                    </p>
                </div>

            </div>
            <div class="btnWrap"><button class="whiteBtn">목록으로</button></div>
            <div class="beforeNextFeedWrap">
                <div class="FeedRow">
                    <div class="left">
                        <div class="befors">다음글</div>
                    </div>
                    <th:block th:if="${prevNoticeDTO != null}">
                        <div class="right moveNotice"><a href="#" th:text="${prevNoticeDTO.noticeTitle}"></a></div>
                        <input type="hidden" th:href="${prevNoticeDTO.noticeId}">
                    </th:block>
                    <th:block th:unless="${prevNoticeDTO != null}">
                        <div class="right"><a>다음 글이 없습니다.</a></div>
                    </th:block>
                </div>
                <div class="FeedRow">
                    <div class="left">
                        <div class="befors">이전 글</div>
                    </div>
                    <th:block th:if="${nextNoticeDTO != null}">
                        <div class="right moveNotice"><a href="#" th:text="${nextNoticeDTO.noticeTitle}"></a></div>
                        <input type="hidden" th:href="${nextNoticeDTO.noticeId}">
                    </th:block>
                    <th:block th:unless="${nextNoticeDTO != null}">
                        <div class="right"><a>이전 글이 없습니다.</a></div>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
    </section>
</div>
<div th:replace="/app/fix/footer.html :: footer"></div>

</body>

<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
    $('.whiteBtn').on("click", function (e) {
        e.preventDefault();
        location.href = "/notice/list";
    });

    $('.moveNotice').on("click", function (e) {
        e.preventDefault();
        location.href = "/notice/detail" + "?noticeId=" + $(this).next().attr("href");
    });
</script>
</html>