<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEOS | 공지사항</title>

    <link rel="preload" href="https://letspl.me/_next/static/css/7d968ad404afc29f3247.css" as="style">
    <link rel="stylesheet" href="https://letspl.me/_next/static/css/7d968ad404afc29f3247.css" data-n-g="">
    <link rel="preload" href="https://letspl.me/_next/static/css/bb362d6ee2ef67b1e2f7.css" as="style">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">

</head>
<style>
    @font-face {
        font-family: 'SpoqaHanSansNeo-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: 'GmarketSansMedium' !important;
    }
</style>



<body>
<header th:replace="/app/fix/header.html :: header"></header>

<div id="__next">



    <section class="noticeSection">
        <div class="commonContentViewHeader">
            <h1><span class="smTxt" style="color: #1A7CFF;">LET'S know</span><span class="bgTxt">공지사항</span></h1>
        </div>
        <div class="noticeListWrap">
            <div class="noticeList">
                <table>
                    <thead>
                    <tr>
                        <th class="title">제목</th>
                        <th class="date">작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p style="cursor: pointer">포인트 충전 가격 인상 안내</p>
                        </td>
                        <td>
                            <p>22.07.18 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">채팅 시스템 업데이트 안내</p>
                        </td>
                        <td>
                            <p >22.07.13 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">스터디 모집 글 공지사항 안내</p>
                        </td>
                        <td>
                            <p>22.06.26 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">스터디 검수 및 노출 조건 안내 </p>
                        </td>
                        <td>
                            <p>22.06.16 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">네오스 모바일 어플리케이션이 출시되었습니다</p>
                        </td>
                        <td>
                            <p>22.06.13 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">스터디 검수조건 안내</p>
                        </td>
                        <td>
                            <p>22.03.11 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">렛플 프로젝트 게시 시 , 연결 게시 사이트 안내 (2021년 12월)</p>
                        </td>
                        <td>
                            <p>21.05.23 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[신규 기능] 렛플 - 스토리 오픈</p>
                        </td>
                        <td>
                            <p>21.03.28 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[기능 업데이트] 프로젝트 지원시 ,개인정보제공(이메일정보)동의추가</p>
                        </td>
                        <td>
                            <p>21.03.21 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[신규 기능] 렛플 - 상호 평가 모듈 오픈</p>
                        </td>
                        <td>
                            <p>21.02.21 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[신규 기능] 렛플 - 그룹챗 기능 베타 오픈</p>
                        </td>
                        <td>
                            <p>21.02.17 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[이벤트] 커피 포인트를 받자 </p>
                        </td>
                        <td>
                            <p>21.02.03 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">렛돈내플 이벤트 선정 결과 공지</p>
                        </td>
                        <td>
                            <p>21.02.01 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[이벤트] 최고의 프로젝트 중간 집계</p>
                        </td>
                        <td>
                            <p>21.01.19 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">프로젝트 등록/신청 및 노출 로직 변경</p>
                        </td>
                        <td>
                            <p>21.01.12 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[이벤트] 커피 포인트를 드립니다</p>
                        </td>
                        <td>
                            <p>20.12.20 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[신규 기능] 렛플 "오픈 챗" 기능 추가 </p>
                        </td>
                        <td>
                            <p>20.11.20 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[이벤트] 렛돈내플 (기간연장/ 대상확대)</p>
                        </td>
                        <td>
                            <p>20.11.15 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">[이벤트] 본인인증 하고 5 커피 포인트 받자!</p>
                        </td>
                        <td>
                            <p>20.10.01 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="cursor: pointer">렛플이 오픈하였습니다.</p>
                        </td>
                        <td>
                            <p>20.09.01 </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagingAndBtn"><span class="pagination pagination-sm clearfix"><a
                        class="btn_paging prev screen_out" style="cursor: pointer"></a><a class="active">1</a><a
                        class="btn_paging next screen_out" style="cursor: pointer"></a></span></div>
            </div>
        </div>
    </section>
</div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>


</html>