<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" href="/css/notice/noticeDetails.css">
    <link rel="stylesheet" href="/css/fix/header.css">



</head>
<body>



<header th:replace="/app/fix/header.html :: header"></header>
<div id="next">
<section class="noticeSection">
        <div class="commonContentViewHeader">
            <h1><span class="smTxt">NOTICE</span><span class="bgTxt">공지사항</span></h1>
        </div>
        <div class="noticeViewWrap">
            <div class="noticeViewTop">
                <div class="noticeTitleWriter">
                    <div class="left">
                        <p> 제목</p>
                    </div>
                    <div class="right">
                        <p> 포인트 충전 가격 인상 안내</p>
                    </div>
                </div>
            </div>
            <div class="noticeViewContents">
                <div>
                    <p>
                        <span>안녕하세요 네오스에 GM 심슨입니다</span>
                    </p>

                    <p>
                        <spen><br></spen>
                    </p>

                    <p>
                        <span>요즘 물가 인상에 따라서 포인트 충전 비용이 인상됩니다.</span>
                    </p>

                    <p>
                        <spen>해당 공지사항 부분을 이해 부탁드립니다. </spen>
                    </p>

                    <p>
                        <spen><br></spen>
                    </p>

                    <p>
                        <spen>앞으로는 충전 비용이 인상이 없을겁니다 </spen>
                    </p>

                    <p>
                        <spen><br></spen>
                    </p>

                    <p>
                        <spen>원래는 10000원 충전하면 </spen>
                    </p>
                    <p>
                        <spen>부가세 10% 해서 11000원이 결제 되었지만 </spen>
                    </p>
                    <p>
                        <spen><br></spen>
                    </p>
                    <p>
                        <spen>앞으로는 부가세 20%로 해서 결제가 진행이 됩니다. </spen>
                    </p>
                    <p>
                        <spen>물가가 안정될시에 다시 원상대로 롤백 시키겠습니다.</spen>
                    </p>
                    <p>
                        <spen><br></spen>
                    </p>
                    <p>
                        <spen>항상 저희 네오스를 이용해주셔서 감사하며 앞으로도 자주 이용해 주시길 바랍니다 </spen>
                    </p>
                    <p>
                        <spen>지금 까지 GM 심슨 이였습니다 </spen>
                    </p>
                    <p>
                        <spen>그럼 즐거운 네오스 되세요! </spen>
                    </p>
                    <p>
                        <spen><br></spen>
                    </p>

                    <p>
                        <spen>그럼 모두 네바~</spen>
                    </p>


                </div>
            </div>
            <div class="btnWrap"><button class="whiteBtn">목록으로</button></div>
            <div class="beforeNextFeedWrap">
                <div class="FeedRow">
                    <div class="left">
                        <div class="befors">이전글</div>
                    </div>
                    <div class="right"><a href="/notice/83">채팅 시스템 업데이트 안내</a></div>
                </div>
                <div class="FeedRow">
                    <div class="left">
                        <div class="befors">다음글</div>
                    </div>
                    <div class="right"><a>다음글이 없습니다</a></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
</html>