.modalWrapOpen {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1500;
    display: none;
}


.modalWrapOpen .commonModal {
    padding: 60px 20px 40px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    max-width: 406px;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    z-index: 999999;
}

.modalWrapOpen .commonModal .modalTit {
    font-size: 1.125rem;
    color: #42495b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

.modalWrapOpen .commonModal .closeBtn {
    width: 22px;
    height: 22px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 24px;
}

.modalWrapOpen .commonModal .closeBtn img {
    width: 100%;
}

.modalWrapOpen .commonModal .commonModalContent p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}

.modalWrapOpen .commonModal .btnWrap {
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.btnWrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalWrapOpen .commonModal .commonModalContent p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}



.modalWrapOpen .commonModal .btnWrap.doubleBtnWrap button {
    height: 44px;
    width: 49%;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
}

.btnWrap button.whiteBtn {
    background-color: #fff;
    color: #000;
    font-size: .75rem;
    padding: 11px 35px;
    border-radius: 4px;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}


button.whiteBtn{
    border: 1px solid #1a7cff !important;
    color: #1a7cff !important;
    background-color: #fff !important;
}

button.redBtn{
    border: 1px solid #1a7cff !important;
    background-color: #1a7cff !important;
    color: #fff !important;
}

button.whiteBtn:hover{
    border: 1px solid #1a7cff !important;
    color: #fff !important;
    background-color: #1a7cff !important;
    opacity: 0.5;
}

/*여기부터 다른 모달*/
.modalWrapOpen2 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    display: none;
}


.modalWrapOpen2 .commonModal2 {
    padding: 60px 20px 40px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    max-width: 406px;
    min-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    z-index: 999999;
}

.modalWrapOpen2 .commonModal2 .modalTit2 {
    font-size: 1.125rem;
    color: #42495b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.25rem;
}

.modalWrapOpen2 .commonModal2 .closeBtn2 {
    width: 22px;
    height: 22px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 24px;
}

.modalWrapOpen2 .commonModal2 .closeBtn2 img {
    width: 100%;
}

.modalWrapOpen2 .commonModal2 .commonModalContent2 p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}

.modalWrapOpen2 .commonModal2 .btnWrap2 {
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.btnWrap2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalWrapOpen2 .commonModal2 .commonModalContent2 p {
    font-size: .75rem;
    color: #8e8ea2;
    text-align: center;
    line-height: 1rem;
}



.modalWrapOpen2 .commonModal2 .btnWrap2.doubleBtnWrap2 button {
    height: 44px;
    width: 49%;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    padding: 0;
    border-radius: 4px;
}

.btnWrap2 button.whiteBtn2 {
    background-color: #fff;
    color: #000;
    font-size: .75rem;
    padding: 11px 35px;
    border-radius: 4px;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}


button.whiteBtn2{
    border: 1px solid #1a7cff !important;
    color: #1a7cff !important;
    background-color: #fff !important;
}

button.redBtn2{
    border: 1px solid #1a7cff !important;
    background-color: #1a7cff !important;
    color: #fff !important;
}

button.whiteBtn2:hover{
    border: 1px solid #1a7cff !important;
    color: #fff !important;
    background-color: #1a7cff !important;
    opacity: 0.5;
}