<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" href="/css/error/error404.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/loginHeader.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<section class="errorSection">
    <div class="errorWrap">
        <div class="left"><h3>Sorry</h3>
            <p class="redTxt">500 Error</p>
            <p class="lgTxt">죄송합니다. <br>문제가 발생하였습니다.</p>
            <p class="normalTxt">해당 오류를 문의해주세요. <br>빠른 시일 내에 해결하도록 노력하겠습니다.<!-- --> </p>
            <div class="btnWrap">
                <a href="#" onClick="history.back()">
                    <button class="blackBtn">이전 페이지로</button>
                </a>
                <a th:href="@{/main/main}">
                    <button class="blackBtn">첫 화면으로</button>
                </a>
            </div>
        </div>
        <div class="right img"><img  src="/images/fix/error.png" alt="error_image"></div>
    </div>
</section>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
</html>