@charset "UTF-8";
/*-----탭 이동------------------------------------------------------------------------------------------*/
.mypage .myTabContents.active {
    display: block;
}

.mypage .myTabContents {
    display: none;
}
/*-----공통------------------------------------------------------------------------------------------*/
.mypage {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.commonContentViewHeader {
    padding: 40px 10px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.commonContentViewHeader h1 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.commonContentViewHeader h1 .smTxt {
    color: #1A7CFF;
    font-size: .875rem;
}

.commonContentViewHeader h1 .bgTxt {
    color: #42495b;
    font-size: 1.75rem;
    line-height: 1.5;
}

.mypage .myTabMenu {
    width: 100%;
    margin-bottom: 40px;
}

.mypage .myTabMenu ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.mypage .myTabMenu ul li {
    -moz-box-flex: 1;
    flex: 1 1;
}

.mypage .myTabMenu ul li a {
    display: flex;
    font-size: 1rem;
    color: #8e8ea2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 0;
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
}

.mypage .myTabMenu ul li.active a, .mypage .myTabMenu ul li:hover a {
    color: #333;
    border-bottom: 2px solid #000;
}

.mypage .myTabContents h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #333;
    margin-bottom: 18px;
}
/*-----정보------------------------------------------------------------------------------------------*/
.mypage .myProfileTab .myProfileWrap {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    max-width: 1080px;
    margin: 0 auto;
}
.mypage .myProfileTab .myProfileWrap .left {
    position: relative;
    width: 130px;
    height: 130px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin: 0 auto 40px;
}
.mypage .myProfileTab .myProfileWrap .left .profileImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mypage .myProfileTab .myProfileWrap .left .profileImg img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.mypage .myProfileTab .myProfileWrap .left input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.mypage .myProfileTab .myProfileWrap .left label {
    position: absolute;
    background-image: url("https://letspl.me/_next/static/media/ic-profile-photo.be3f4f97fd8e63497e93732e5f79ece1.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 50%;
    width: 36px;
    height: 36px;
    top: 95px;
    right: 2px;
    border-radius: 100%;
    border: 0;
    -webkit-box-shadow: 0 5px 16px 0 rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 5px 16px 0 rgba(0,0,0,.08);
    box-shadow: 0 5px 16px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    cursor: pointer;
}
.mypage .myProfileTab .myProfileWrap .right {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
}

.mypage .myProfileTab .myProfileWrap .right .firstProfileInputWrap {
    padding-top: 0;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1080px;
    width: 100%;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding: 5px 0;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn:first-child{
    margin-bottom: 20px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    margin-bottom: 10px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtnWrap {
    width: 100%;
}
.mypage .myProfileTab .myProfileWrap .right label {
    color: #222;
    font-size: 14px;
    margin-bottom: 14px;
    display: inline-block;
    flex-shrink: 0;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn input:disabled {
    border-radius: 4px;
    background-color: #f8f8f8;
    border: none!important;
    size: 13px;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn input {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding: 10px!important;
    border-radius: 4px!important;
    border: 1px solid #e3e3e3!important;
    max-width: 100%;
    width: 100%;
    height: 44px;
    size: 13px;
}
.mypage .myProfileTab .myProfileWrap .rightLayoutWrap {
    display: -moz-box;
    display: flex;
    width: 100%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: end;
    align-items: flex-end;
    margin-top: 8px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn span {
    font-size: .75rem;
    color: #1A7CFF;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .inputAndBtn:last-child {
    margin-bottom: 0;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect.labelSelectThird {
    -moz-box-align: start;
    align-items: flex-start;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    margin-bottom: 32px;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect.labelSelectThird label {
    padding-top: 10px;
}
.mypage .myProfileTab .myProfileWrap .right .rightWrap {
    width: 100%;
    display: -moz-box;
    display: flex;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect select {
    max-width: 352px;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 4px!important;
    height: 44px;
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    color: #696980;
    margin-right: 10px;
    padding-left: 10px;
    background-image: url("https://letspl.me/_next/static/media/option-triangle.2abb88b721408916136ac6048ff74b95.svg");
    background-position: 99%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect span {
    font-size: .75rem;
    color: #1A7CFF;
    margin-top: 5px;
    margin-left: 5px;
}

.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelInput, .labelTextarea {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start;
    margin-bottom: 32px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelInput .interestWrap {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelInput .interestWrap p {
    padding: 12px 16px 11px;
    border-radius: 100px;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelInput .interestWrap p.active, .mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelInput .interestWrap p:hover {
    border-radius: 21px;
    background-color: #333;
    color: #fff;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelSelect span {
    font-size: .75rem;
    color: #1A7CFF;
    margin-top: 5px;
    margin-left: 5px;
}
.mypage .myProfileTab .myProfileWrap .right .profileInputWrap .labelTextarea {
    -moz-box-align: start;
    align-items: flex-start;
}
.labelTextarea textarea {
    width: 100%;
    -moz-box-flex: 1;
    flex: 1 1;
    padding: 13px 10px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    border-radius: 8px;
    height: 160px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inputBtnWrap .inputBtn {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    margin-bottom: 20px;
    -moz-box-align: center;
    align-items: center;
}
.inputBtnWrap .portfolioIcon {
    width: 44px;
    height: 44px;
    background-color: #ebebeb;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    margin-right: 14px;
}
.inputBtnWrap .portfolioIcon img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.inputBtnWrap .inputBtn input {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding: 10px!important;
    border-radius: 8px!important;
    border: 1px solid #e3e3e3!important;
    width: 100%;
    height: 44px;
    font-size: 13px;
}
.inputBtnWrap .inputBtn .blackBtn {
    font-size: .75rem;
    padding: 8px 29px!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    border: 1px solid #42495b;
    width: auto;
    margin-left: 12px;
    height: 40px;
}
.btnWrap {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    background-color: #fff;
    right: 2px;
}
.btnWrap button.redBtn {
    color: #fff;
    background-color: #1A7CFF;
    padding: 8px 26px;
    border: 1px #1A7CFF;
    border-radius: 3px;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
}


/*-----스터디------------------------------------------------------------------------------------------*/
.mypage .myTabContents.favoriteTab .noProject, .mypage .myTabContents.myProfileTab .noProject, .mypage .myTabContents.myProjectTab .noProject, .mypage .myTabContents.noticeTab .noProject {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 0;
    border-radius: 4px;
    background-color: #f7f7f7;
    text-align: center;
    margin-bottom: 30px;
}

.mypage .myTabContents.favoriteTab .noProject p, .mypage .myTabContents.myProjectTab .noProject p, .mypage .myTabContents.noticeTab .noProject p {
    font-size: 1rem;
    color: #c9c9c9;
}

body, button, input, select, td, textarea, th {
    line-height: normal;
}

.top .favorite:hover {
    background-image: url(https://letspl.me/_next/static/media/ic-favorite-empty-hover.03f7a2966e132a098a985cdc42f83b46.svg);
}

.projectGridWrap {
    max-width: 285px;
    width: 100%;
    height: 290px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 12px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    overflow: hidden;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    margin-bottom: 30px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
/*-----자료상점----------------------------------------------------------------------------------------*/
.storySection {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.storySection .contents {
    max-width: 1200px;
    padding: 0;
}

.contents, .projectTabMenu {
    width: 100%;
    background-color: #fff;
}

.contents {
    max-width: 1040px;
    margin: 0 auto;
}

.storySection .contents .noStoryWrap {
    background-color: #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
    display: block;
}
.Box {
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    min-width: 180px;
    margin-top: 10px;
    position: relative;
}
/*-----구독----------------------------------------------------------------------------------------*/
.mypage .myTabContents .workTabMenu ul, .mypage .myTabContents .workTabMenu ul li {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}
.mypage .myTabContents .workTabMenu ul {
    width: 100%;
    display: -moz-box;
    display: flex;
    margin-bottom: 24px;
}
.mypage .myTabContents .workTabMenu ul li.active, .mypage .myTabContents .workTabMenu ul li:hover {
    border: 1px solid #000;
    background-color: #000;
}
.mypage .myTabContents .workTabMenu ul li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.mypage .myTabContents .workTabMenu ul li {
    display: -moz-inline-box;
    display: inline-flex;
    width: 50%;
    -moz-box-pack: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}
.mypage .myTabContents .workTabMenu ul li.active a, .mypage .myTabContents .workTabMenu ul li:hover a {
    color: #fff;
}
.mypage .myTabContents .workTabMenu a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 44px;
    box-sizing: border-box;
    padding: 12px 0;
    width: 100%;
    display: block;
    font-size: .8rem;
    color: #8e8ea2;
    text-align: center;
    cursor: pointer;
}
.mypage .myTabContents .workTabMenu ul li:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*-----구독 탭이동----------------------------------------------------------------------------------------*/
.favoriteTab .projectContentWrap.active{
     display: block;
 }
.favoriteTab .projectContentWrap {
    display: none;
}
.favoriteTab .peopleGrid.active{
    display: block;
}
.favoriteTab .peopleGrid{
    display: none;
}
.letspler_Re .bottom .userFavorite li h3 {
    margin-bottom: 0;
}
/*-----알림----------------------------------------------------------------------------------------*/
.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 30px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine:before {
    content: "";
    width: 2px;
    position: absolute;
    background-image: url(https://letspl.me/_next/static/media/gray-dot.3e028117a79512444d91c3bc68be5f84.svg);
    background-repeat: repeat-y;
    height: 100%;
    top: 0;
    left: auto;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap {
    margin-bottom: 12px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap:before {
    content: "";
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap .day {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 12px;
    margin-bottom: 16px;
    display: inline-block;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    right: 16px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    max-width: 1172px;
    width: 100%;
    margin-left: 13px;
    margin-bottom: 12px;
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap:before {
    content: "";
    position: absolute;
    left: -17px;
    width: 6px;
    height: 6px;
    border: 1px solid #1A7CFF;
    background-color: #fff;
    border-radius: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left {
    width: auto;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate {
    display: -moz-inline-box;
    display: inline-flex;
    font-size: .75rem;
    margin-bottom: 2px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate span:first-child {
    color: #000;
    font-size: 14px;
    margin-right: 12px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate span:last-child {
    color: #c9c9d9;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.noticeContent {
    font-size: .75rem;
    color: #8e8ea2;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.right {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: end;
    justify-content: flex-end;
    flex-shrink: 0;
    font-size: 12px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.right a:first-child {
    margin-right: 12px;
    padding: 5px 18px 6px 19px;
    border-radius: 15px;
    border: 1px solid #d2d2d2;
}

.myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.right a:last-child {
    margin-right: 0!important;
    border: none!important;
    padding: 5px 18px 6px 19px;
    border-radius: 15px;
    background-color: #f2f2f2;
}
/*-----포인트----------------------------------------------------------------------------------------*/
.payTabmenu ul {
    width: 100%;
    display: -moz-box;
    display: flex;
    margin-bottom: 24px;
}
.payTabmenu ul li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.payTabmenu ul li.active, .payTabmenu ul li:hover{
    border: 1px solid #000;
    background-color: #000;
}
.payTabmenu ul li {
    display: -moz-inline-box;
    display: inline-flex;
    width: 50%;
    -moz-box-pack: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}
.payTabmenu ul li.active a, .payTabmenu ul li:hover a {
    color: #fff;
}
.payTabmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 44px;
    box-sizing: border-box;
    padding: 12px 0;
    width: 100%;
    display: block;
    font-size: .8rem;
    color: #8e8ea2;
    text-align: center;
    cursor: pointer;
}
.paymentHistoryTab .payTabContents .payTable.active {
    display: block;
}
.paymentHistoryTab .payTabContents .payTable {
    width: 100%;
    display: none;
}
.paymentHistoryTab .payTabContents .payTable table {
    border-top: 2px solid #42495b;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.paymentHistoryTab .payTabContents .payTable table tr th:first-child {
    width: 200px;
}
.paymentHistoryTab .payTabContents .payTable table tr th {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 9px 0;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: .875rem;
    color: #333;
    border-bottom: 1px solid #bababa;
}
.paymentHistoryTab .payTabContents .payTable table tr th:nth-child(2) {
    width: 190px;
}
.paymentHistoryTab .payTabContents .payTable table tr th:nth-child(4) {
    width: 174px;
    border-right: none;
}
.paymentHistoryTab .payTabContents .payTable table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 11px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: .75rem;
}
.paymentHistoryTab .payTabContents .payTable table tr td:nth-child(3) {
    text-align: left;
    padding-left: 60px;
}
.paymentHistoryTab .payTabContents .payTable table tr td:nth-child(4) {
    border-right: none;
}
/*-----포인트----------------------------------------------------------------------------------------*/
.payTabContents{
    margin-bottom: 30px;
}

.paymentHistoryTab .payTabContents .payTable.active {
    display: block;
}

.paymentHistoryTab .payTabContents .payTable {
    width: 100%;
    display: none;
}

.paymentHistoryTab .payTabContents .payTable table {
    border-top: 2px solid #42495b;
    width: 100%;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.paymentHistoryTab .payTabContents .payTable table tr th:first-child {
    width: 200px;
}
.paymentHistoryTab .payTabContents .payTable table tr th:nth-child(2) {
    width: 190px;
}


.paymentHistoryTab .payTabContents .payTable table tr th {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 9px 0;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: .875rem;
    color: #333;
    border-bottom: 1px solid #bababa;
}

.paymentHistoryTab .payTabContents .payTable table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 11px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: .75rem;
}

.paymentHistoryTab .payTabContents .payTable table tr td:nth-child(3) {
    text-align: left;
    padding-left: 60px;
}