@charset "UTF-8";


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

dl, li, menu, ol, ul {
    list-style: none;
}

.userList {
    line-height: 1.5;
    color: #333;
    font-size: 16px;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

.peopleView {
    width: 100%;
    background-color: #fff;
}

.letsplerViewerHeader {
    padding: 40px 0 24px;
}

.projectView {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.commonContentViewHeader {
    padding: 40px 10px 24px;
    box-sizing: border-box;
}

.commonContentViewHeader h1 {
    display: flex;
    flex-direction: column;
}

.commonContentViewHeader h1 .smTxt {
    color: #1A7CFF;
    font-size: .875rem;
}

.commonContentViewHeader h1 .bgTxt {
    color: #42495b;
    font-size: 1.75rem;
    line-height: 1.5;
}

.todayLetspler {
    margin-top: 20px;
    margin-bottom: 20px;
}

.todayLetspler .tit {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 20px;
}

.todayLetsplerWrap {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    height: 15rem;
}

.todayLetsplerWrap .imgWrap {
    width: 100%;
    max-width: 350px;
    height: 270px;
    margin-right: 30px;
    flex-shrink: 0;
}

.todayLetsplerWrap .imgWrap img {
    width: 350px;
    height: 270px;
    object-fit: contain;
    border: 1.5px solid #fdffff;
    background-color: #fdffff;
}

.todayLetsplerWrap .imgWrap img, .todayLetsplerWrap .txtWrap {
    box-sizing: border-box;
}

fieldset, img {
    border: 0;
}

img {
    border-style: none;
}

.todayLetsplerWrap .txtWrap {
    width: 100%;
    padding-right: 64px;
    padding-bottom: 7px;
}

.todayLetsplerWrap .txtWrap .letsplerDescWrap .smTxt {
    font-size: 15px;
    color: #1A7CFF;
    margin-bottom: 10px;
    margin-top: 10px;
}

.todayLetsplerWrap .txtWrap .letsplerDescWrap .descTxt {
    font-size: 14px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 21px;
    text-align: left;
    word-break: break-all;
    font-weight: 400;
}

.peopleSearchOption .tit {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.peopleSearchOption .searchOption {
    display: flex;
    margin-top: 22px;
}

.commonContentViewHeader .searchOption {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
}

.searchOption {
    display: flex;
    margin-bottom: 20px;
}

.peopleSearchOption .searchOption .smSelect {
    max-width: 186px;
    width: 100%;
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: .6875rem;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    background-image: url(https://letspl.me/_next/static/media/ic_option_arrow.556e891f4497a2dc76c8a33607a31937.svg);
    background-position: 90%;
    background-size: 10px 5px;
    background-repeat: no-repeat;
    appearance: none;
}

.searchOption .smSelect {
    max-width: 140px;
    width: 100%;
    border: 1px solid #bcbccb;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: .6875rem;
    color: #696980;
    margin-right: 10px;
    padding-left: 20px;
    background-image: url(https://letspl.me/_next/static/media/ic_option_arrow.556e891f4497a2dc76c8a33607a31937.svg);
    background-position: 90%;
    background-size: 10px 5px;
    background-repeat: no-repeat;
    appearance: none;
}

.peopleSearchOption .searchOption .smSelect:last-child, .peopleSearchOption .searchOption .smSelect:nth-child(4) {
    margin-right: 0;
}

.peopleGrid, .peopleGrid .peopleGridList .peopleViewContent {
    margin: 0 auto;
}

.peopleGrid {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.peopleGrid ul.peopleGridList {
    width: 100%;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
}

.letspler_Re {
    max-width: 285px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .2s;
}

.projectInfo.letspler_Re {
    grid-column: 1/5;
    grid-row: 4;
    max-width: 100%;
    padding: 0;
    border: 0;
}

.projectInfo {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.peopleGrid .bigMoreBtn {
    box-sizing: border-box;
    border: 1px solid #81839c;
    margin-top: 38px;
    display: inline-block;
    left: 91%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 28px;
}

.bigMoreBtn:hover {
    background-color: #1A7CFF;
}

.peopleGrid .bigMoreBtn a:hover {
    color: #fff;
}

.peopleGrid .bigMoreBtn a {
    display: inline-block;
    font-size: 14px;
    color: #81839c;
    padding: 10px 55px;
    font-weight: 300;
    cursor: pointer;
}

.letspler_Re .newMark {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 37px;
    height: 37px;
}

.letspler_Re .top {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.letspler_Re .top .profilePicWrap {
    position: relative;
}

.letspler_Re .top .profilePicWrap .profilePic {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #f3f3f4;
    background-color: #efefef;
    margin-right: 20px;
    flex-shrink: 0;
}

.letspler_Re .top .profilePicWrap .profilePic img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.letspler_Re .top .profileTxt, .letspler_Re .top .profileTxt .idWrap {
    display: inline-flex;
}

.letspler_Re .top .profileTxt {
    flex-direction: column;
}

.letspler_Re .top .profileTxt .idWrap {
    flex-direction: row;
    align-items: center;
}

.letspler_Re .top .profileTxt, .letspler_Re .top .profileTxt .idWrap {
    display: inline-flex;
}

.letspler_Re .top .profileTxt .idWrap .userLv {
    width: 28px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
}

.letspler_Re .top .profileTxt .idWrap .userName {
    font-size: 15px;
    line-height: 28px;
    color: #333;
    margin-right: 5px;
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 500;
}

.letspler_Re .top .profileTxt .idWrap .userName .idHoverMenu {
    display: none;
    position: absolute;
    top: 44px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
    margin-left: -2px;
}

.letspler_Re .top .profileTxt .idWrap .userName .idHoverMenu li {
    width: 100%;
}

.letspler_Re .top .profileTxt .idWrap .userName .idHoverMenu li a {
    display: block;
    padding: 5px 15px;
    font-weight: 400;
    font-size: .875rem;
    color: #333;
    padding-bottom: 1px;
}

.letspler_Re .top .profileTxt .idWrap .userName .idHoverMenu li a:hover {
    color: #fff;
}

.letspler_Re .top .profileTxt .idWrap .certiWrap {
    display: inline-flex;
}

.letspler_Re .top .profileTxt .coffeAndHeart, .letspler_Re .top .profileTxt .coffeAndHeart div {
    display: inline-flex;
    flex-direction: row;
}

.letspler_Re .top .profileTxt .coffeAndHeart {
    margin-top: -4px;
    margin-left: 1px;
}

.letspler_Re .top .profileTxt .coffeAndHeart div {
    align-items: center;
    margin-right: 10px;
}

.letspler_Re .top .profileTxt .coffeAndHeart, .letspler_Re .top .profileTxt .coffeAndHeart div {
    display: inline-flex;
    flex-direction: row;
}

.letspler_Re .top .profileTxt .coffeAndHeart div img {
    width: 18px;
    height: 18px;
}

.letspler_Re .top .profileTxt .coffeAndHeart div {
    align-items: center;
    margin-right: 10px;
}

.letspler_Re .top .profileTxt .coffeAndHeart div span {
    font-size: 13px;
    color: #333;
    margin-top: 3px;
}

.letspler_Re .bottom .userFavorite li h2, .letspler_Re .bottom .userFavorite li h3 {
    line-height: normal;
    font-size: medium;
    flex-direction: row;
    align-items: center;
}

.letspler_Re .bottom .userFavorite li h3 span:first-child {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.letspler_Re .bottom .userFavorite li span:first-child {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.letspler_Re .bottom .userFavorite li h3 span:nth-child(2) {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
    font-weight: 400;
}

.letspler_Re .bottom .userFavorite li span:nth-child(2) {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
    font-weight: 400;
}

.letspler_Re .bottom .ingProjectTxt {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
}

.letspler_Re .bottom .ingProjectTxt span {
    color: #ea6560;
}

.letspler_Re .bottom .ingProjectTxt {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
}

.letspler_Re .bottom .userInfoTagWrap {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-left: -5px;
    height: 23.48px;
    margin-bottom: 0;
    justify-content: flex-start;
}

.letspler_Re .bottom .chatBtn {
    width: 100%;
    display: flex;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    justify-content: center;
    padding: 6px;
    font-size: 13px;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}

.letspler_Re .bottom .chatBtn div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.letspler_Re .bottom .chatBtn div img {
    width: 16px;
    margin-right: 6px;
}

.letspler_Re .bottom .chatBtn div span {
    cursor: pointer;
}

.letspler_Re .bottom .userInfoTagWrap div {
    padding: 3.8px 12.7px 6.2px 12.3px;
    border-radius: 13px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 11px;
}

.letspler_Re .bottom .userInfoTagWrap div h2, .letspler_Re .bottom .userInfoTagWrap div h3 {
    font-size: 11px;
    line-height: 11px;
    color: #333;
    font-weight: 400;
}

.letspler_Re .bottom .chatBtn:hover {
    background-color: #1A7CFF;
    color: #fff
}

.letspler_TopList {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.letspler_TopList .tit {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.letspler_TopList .tit span {
    position: relative;
}

.letspler_TopList .tit span:before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgba(26, 124, 255, .4);
    left: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
}

.letspler_TopList .topList, .letspler_TopList .topList .top3listWrap {
    display: flex;
    flex-direction: column;
}

.letspler_TopList .topList .top3listWrap {
    width: 100%;
}

.letspler_TopList .topList .top3listWrap .top3.yellow {
    background-color: #fef9de;
}

.letspler_TopList .topList .top3listWrap .top3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 16px 36px 16px 24px;
    border-radius: 4px;
    margin-bottom: 6px;
    justify-content: space-between;
    box-sizing: border-box;
}

a, button, input, select, textarea {
}

a, a:active, a:hover {
    text-decoration: none;
}

a {
    color: #333;
}

a {
    background-color: transparent;
}

.letspler_TopList .topList .top3listWrap .top3 .left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.letspler_TopList .topList .top3listWrap .top3 .left img {
    width: 26px;
    height: 34px;
    margin-right: 10px;
    flex-shrink: 0;
}

.letspler_TopList .left p, .letspler_TopList .left p .status {
    display: inline-flex;
    align-items: center;
}

.letspler_TopList .left p {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.letspler_TopList .topList .top3listWrap .top3 .right {
    padding: 5px 0 5px 20px;
    background-color: #fff;
    border-radius: 100px;
    max-width: 948px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.letspler_TopList .topList .top3listWrap .top3 .right p {
    font-size: 12px;
}

.letspler_TopList .topList .top3listWrap .top3 .right p span {
    margin-left: 4px;
}

.letspler_TopList .topList .top3listWrap .top3 .right p {
    font-size: 12px;
}

.letspler_TopList .topList .top3listWrap .top3.gray {
    background-color: #f1f1f1;
}

.letspler_TopList .topList .top3listWrap .top3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 16px 36px 16px 24px;
    border-radius: 4px;
    margin-bottom: 6px;
    justify-content: space-between;
    box-sizing: border-box;
}

.letspler_TopList .topList .top3listWrap .top3.red {
    background-color: #f9e8d9;
}

.letspler_TopList .topList .top10listWrap, .letspler_TopList .topList .top10listWrap .top10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letspler_TopList .topList .top10listWrap {
    flex-wrap: wrap;
}

.letspler_TopList .topList .top10listWrap .top10 {
    width: calc(50% - 8px);
    padding: 17px 36px 18px 24px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.letspler_TopList .topList .top10listWrap, .letspler_TopList .topList .top10listWrap .top10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letspler_TopList .topList .top10listWrap .top10 .left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

.letspler_TopList .topList .top10listWrap .top10 .left .lanking {
    font-size: 14px;
    margin-right: 20px;
}

.letspler_TopList .topList .top10listWrap .top10 .right {
    padding: 5px 0 6px 20px;
    width: 100%;
    max-width: 340px;
    border-radius: 14px;
    background-color: #fafafa;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
}

.letspler_TopList .topList .top10listWrap .top10 .right p {
    font-size: 10px;
    color: #333;
}

.ranking_number {
    font-size: 13px;
    color: #222;
    margin-left: 6px;
    margin-right: 4px;
}

.idHoverMenu li:hover {
    background-color: rgba(26, 124, 255, .8);
}

.letspler_Re .top .profileTxt .idWrap .userCertIcon {
    width: 18px;
    height: 18px;
    object-fit: cover;
    padding-bottom: 7px;
}

.letspler_Re .top .favorite {
    position: absolute;
    width: 24px;
    height: 19px;
    background-color: #fff;
    background-image: url(https://letspl.me/_next/static/media/ic-favorite-empty-white.b1db0e3e169a5cf61afa41daf5bfdc15.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 50%;
    bottom: -6px;
    right: 10px;
    border-radius: 100px;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    padding-bottom: 2px;
    cursor: pointer;
    padding-top: 2px;
}

.letspler_Re .top .favorite.active {
    background-size: 14px;
    background-image: url(https://letspl.me/_next/static/media/ic-favorite-full.5a5209416a8859031c9099b5540c281a.svg);
}

.top .favorite:hover {
    background-image: url(https://letspl.me/_next/static/media/ic-favorite-empty-hover.03f7a2966e132a098a985cdc42f83b46.svg);
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}











@media screen and (max-width: 1024px) {

    .commonContentViewHeader {
        padding: 20px 10px 16px;
        box-sizing: border-box;
    }

    .commonContentViewHeader h1 .bgTxt {
        font-size: 1.25rem;
    }

    .todayLetspler {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }

    .letspler_TopList .tit, .peopleSearchOption .tit, .peopleView .peopleRecommendWrap .subTit, .todayLetspler .tit, .userNote.lounge .loungeWrap .tit p {
        color: #333;
        font-size: 1.125rem !important;
        margin-bottom: 12px;
    }

    .todayLetsplerWrap {
        flex-direction: column;
    }

    .todayLetsplerWrap .imgWrap {
        margin-right: 0;
        max-width: 100%;
        height: 180px;
    }

    .todayLetsplerWrap .imgWrap img {
        width: 100%;
        height: 180px;
    }

    .todayLetsplerWrap .txtWrap {
        padding-right: 16px;
        padding-left: 16px;
        margin-top: 10px;
    }

    .todayLetsplerWrap .txtWrap .top {
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .peopleSearchOption {
        padding-left: 10px;
        padding-right: 10px;
    }

    .commonContentViewHeader .searchOption {
        display: grid!important;
        grid-template-columns: repeat(3,1fr);
        border: none !important;
    }

    .commonContentViewHeader .searchOption {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        border: 1px solid #e3e3e3!important;
        border: none !important;
    }

    .commonContentViewHeader .searchOption {
        grid-template-columns: repeat(3,1fr)!important;
        grid-column-gap: 4px;
    }

    .commonContentViewHeader .searchOption .smSelect {
        border: 1px solid #e3e3e3!important;
        max-width: 100%;
        border-radius: 8px!important;
    }

    .peopleView .peopleGrid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .peopleGrid {
        padding: 16px 0;
    }

    .peopleView .peopleGrid ul.peopleGridList {
        grid-column-gap: 12px;
    }

    .peopleGrid ul.peopleGridList {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .letspler_Re, .peopleView .peopleGrid ul.peopleGridList .letspler_Re {
        width: 100%;
        max-width: 100%;
        transition: all .2s;
    }

    .letspler_TopList {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .letspler_TopList .tit {
        padding-left: 20px;
        padding-right: 20px;
    }

    .letspler_TopList .topList .top3listWrap .top3 {
        flex-direction: column;
        padding: 16px;
    }

    .letspler_TopList .topList .top3listWrap .top3 .left {
        margin-bottom: 14px;
    }

    .letspler_TopList .topList .top3listWrap .top3 .left {
        margin-bottom: 14px;
    }

    .letspler_TopList .topList .top10listWrap {
        flex-direction: column;
    }

    .letspler_TopList .topList .top10listWrap .top10 {
        width: 100%;
        flex-direction: column;
        padding: 16px;
    }

    .letspler_TopList .topList .top10listWrap .top10 .left {
        margin-bottom: 14px;
    }

    .letspler_TopList .topList .top10listWrap .top10 .right {
        max-width: 100%;
    }

    .todayLetsplerWrap {
        height: 33rem;
    }

    .peopleSearchOption .tit {
        margin-bottom: -20px;
    }




    .chattingWrap .chattingContentWrap {
        height: 90vh !important;
    }

    .chattingWrap .chattingContentWrap .chattingHeader {
        box-shadow: 0 3px 24px 0 rgb(0 0 0 / 6%);
    }

    .chattingWrap .chattingContentWrap .chattingSection .list, .chattingWrap .chattingContentWrap .left {
        max-width: 100%;
    }


    .chattingWrap .chattingContentWrap .chattingHeader .left p {
        padding: 20px 0 !important;
        text-align: left;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .right.active {
        padding: 16px 0 !important;
    }

    .chattingWrap.listOff .chattingContentWrap .chattingHeader .right .backBtn {
        display: inline-block;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .right .userIdAndTimeInfo {
        width: 54%;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .right .userIdAndTimeInfo .morAndFoldBtnWrap {
        right: 60px !important;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .right .userIdAndTimeInfo .morAndFoldBtnWrap .moreBtn {
        margin-right: 5px;
    }

    .chattingWrap .chattingContentWrap .chattingHeader .foldChatBtn {
        right: 20px !important;
        left: auto !important;
        top: 22px !important;
    }

    .chattingWrap .chattingContentWrap .chattingSection .list ul li {
        width: 100% !important;
        max-width: 100% !important;
    }

    .chattingWrap .chattingContentWrap .chattingSection .list ul li .chatInfo {
        width: 100%;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap {
        margin-top: 0;
        height: calc(100vh - 200px)!important;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chatInputArea {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: flex-end;
        background-color: #fff;
        padding: 0 12px;
        align-items: center;
        box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
        z-index: 1;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap {
        margin-top: 0;
        height: calc(100vh - 200px)!important;
    }

    .chattingWrap {
        z-index: 9997!important;
        position: fixed;
        left: 50%;
        right: 0!important;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        text-align: right;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chatInputArea {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: flex-end;
        background-color: #fff;
        padding: 0 12px;
        align-items: center;
        box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
        z-index: 1;
    }

    .chattingWrap2 {
        right: -140px !important;
        height: 70px !important;
        max-width: 300px !important;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap .dayInfo p:after {
        content: "";
        width: 100px !important;
    }

    .chattingWrap .chattingContentWrap .chattingSection .chattingRoom .chattingRoomWrap .dayInfo p:before {
        content: "";
        width: 100px !important;
    }


    .searchResultSection {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .searchResultSection .searchInputWrap {
        position: relative;
        margin-bottom: 100px;
    }

    .searchResultSection .searchInputWrap .searchInput {
        font-size: 24px;
        height: 70px;
        border: 1px solid #e6e6e6;
        margin-bottom: 0;
        margin-top: 40px;
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 16px;
        position: relative;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -moz-box;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        right: 2%;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn {
        margin-left: 12px;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn img {
        width: 50px;
    }






}













