<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOS | 네오스인</title>
    <link rel="stylesheet" href="/css/neosUser/neosListNext.css">
    <link rel="stylesheet" href="/css/neosUser/modalList.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/chatting.css">
    <link rel="stylesheet" href="/css/fix/loginheader.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">

</head>
<style>
    .peopleSearchOption .searchOption .universitySelect {
    }

    .chattingHeader .right.active {
        display: inline-flex;
    }

    .chattingSection .right.active {
        display: inline-flex;
    }

    .chattingHeader .left {
        display: block;
    }

    .chattingSection .list.left {
        display: block;
    }

    @media screen and (max-width: 1024px) {
        .rightHead {
            display: none !important;
        }

        .rightBody {
            display: none !important;
        }

        .leftHead {
            display: none !important;
        }

        .leftBody {
            display: none !important;
        }





    }


    .searchResultSection {
        max-width: 1200px;
        width: 33%;
        margin: 0 auto;
    }

    .searchResultSection .searchInputWrap {
        position: relative;
        margin-bottom: 100px;
    }

    .searchResultSection .searchInputWrap .searchInput {
        font-size: 17px;
        height: 37px;
        border: 1px solid #e6e6e6;
        margin-bottom: 0;
        margin-top: 40px;
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -moz-box;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        right: 2%;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn {
        margin-left: 12px;
    }

    .searchResultSection .searchInputWrap .inputBtnWrap .inputSearchBtn img {
        width: 40px;
    }

    .searchResultSection .searchResultTxtWrap .inputinitBtn {
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #8e8ea2;
        padding: 8px;
        display: -moz-inline-box;
        display: inline-flex;
        border-radius: 2px;
        flex-shrink: 0;
        -moz-box-align: center;
        align-items: center;
    }

    .searchResultSection .searchResultTxtWrap .inputinitBtn img {
        width: 16px;
        height: 16px;
        margin-left: 6px;
    }


</style>
<body>
<header th:replace="/app/fix/header.html :: header"></header>

<section class="peopleView">
    <div class="commonContentViewHeader letsplerViewerHeader projectView">
        <h1><span class="smTxt">팀빌딩</span><span class="bgTxt">모집하기</span></h1>
        <div class="todayLetspler">
            <h1 class="tit">너! 내 동료가 되라!</h1>
            <div class="todayLetsplerWrap">
                <div class="imgWrap"><img src="/images/neosUser/group_img.jpg"></div>
                <div class="txtWrap">
                    <div class="letsplerDescWrap">
                        <p class="smTxt">&nbsp;채팅</p>
                        <p></p>
                        <h3 class="descTxt">내가 원하는 네오스인을 찾아서 채팅을 시작해보세요!</h3>
                        <h3 class="descTxt">팀원을 모집하기 위한 첫걸음! 네오스인의 프로필을 확인하고 </h3>
                        <h3 class="descTxt">자신이 원하는 인재라면! 주저하지 말고 채팅 해보세요! 아마 좋은 결과가 있을거에요!</h3>
                    </div>
                    <p>&nbsp;</p>
                    <div class="letsplerDescWrap">
                        <p class="smTxt">&nbsp;프로젝트 스터디</p>
                        <p></p>
                        <h3 class="descTxt">내가 원하는 팀원을 찾았으면 본격적으로 프로젝트와 스터디를 시작해봐요!</h3>
                        <h3 class="descTxt">프로젝트 탭을 눌러서 모임을 생성하고 모임을 시작해보세요! </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="_next">
<section class="peopleView">
    <div class="commonContentViewHeader letsplerViewerHeader projectView">
        <div class="peopleSearchOption">
            <div class="kimisJJang" style="display : flex; ">
            <h1 class="tit" style="margin-top: 30px; display : flex; margin-right: -52%;">인기 네오스인</h1>

                <!--검색바 -->
                <div class="searchResultSection" >
                    <div class="searchInputWrap" style="display : flex">
                        <input class="searchInput" type="text" placeholder="닉네임을 검색해 주세요!" maxlength="30" value="" style="padding: 10px; margin-right: 2px; outline: none;" name="keyword" id="search">
                        <div class="inputBtnWrap">
                        <span id="del">
                            <button class="inputSearchBtn" onclick="searchName()">
                                <img loading="lazy" src="https://letspl.me/assets/images/ic-search.png" alt="검색" style="margin-top: 45px;">
                            </button>
                    </span>

                            <button class="inputinitBtn searchCancel" style=" display: none; display: flex; margin-right: -136px; margin-top: 30px;">
                                <span style="margin-left: 21px;margin-top: 15px;margin-right: 8px; ">검색 취소</span>
                                <img style="position: relative;top: 12px;height: 20px;" loading="lazy" src="https://letspl.me/assets/images/ic-del.svg" alt="초기화">
                            </button>
                        </div>

                    </div>
                </div>
        </div>

    <div class="peopleGrid" style="margin-bottom: -87px;  margin-top: -67px;">
        <ul class="peopleGridList popularity">

            <!-- 인기 네오스인 -->
         <!--   <th:block th:each="user:${users}" th:object="${user}">
            <li class="letspler_Re" ><img loading="lazy" class="newMark"
                                         src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">
                <div class="top">
                    <div class="profilePicWrap">
                        <div class="profilePic" >
                            <img th:src="*{userFile}" alt="민쇼니"></div>
                        <a class="favorite heart" ></a>
                    </div>
                    <div class="profileTxt">
                        <div class="idWrap">
                           <img  th:src="*{userNeosBadge}"   loading="lazy" class="userLv" style="width: 20px">
                            <div class="userName" >
                                <span class="name" th:text="*{userNickName}">민쇼니</span>
                                <ul class="idHoverMenu">
                                    <li><a class="detail">프로필 상세</a>
                                            <input type="hidden" th:href="*{userId}">
                                    </li>
                                    <li><a class="chat">1:1대화</a></li>
                                    <li><a class="invite">스터디 초대</a></li>
                                </ul>
                            </div>
                            <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                        src="https://letspl.me/assets/images/ic-certi-red.png"
                                                        alt="실명인증"></div>
                            <div class="certiWrap"></div>
                        </div>
                        <div class="coffeAndHeart">
                            <div > <p><img loading ="lazy" src="/images/neosUser/chatting-icon.png"
                                      alt="네오스포인트" style="margin-top: 6px;">  </p> <span class="userPoint" th:text="*{userChattingPoint}"> </span></div>
                            <div><img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"
                                      style="width: 20px; height: 20px;"><span id="result">0</span></div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <ul class="userFavorite">
                        <li>
&lt;!&ndash;                            <h3><span>[대학]&nbsp;<span class="university" th:text="*{collegeName}" ></span></span><span class="grade" th:text="*{userCollegeYear}"></span><span style="font-size: 14px;color: #999999;">학년</span></h3>&ndash;&gt;

                            <th:block th:if="*{collegeId != null}">
                                <h3><span>[대학]&nbsp;<span class="university" th:text="*{collegeName}" ></span></span><span class="grade" th:text="*{userCollegeYear}"></span><span style="font-size: 14px;color: #999999;">학년</span></h3>
                            </th:block>

                            <th:block th:unless="*{collegeId != null}">
                                <h3><span>[대학]&nbsp;<span class="university">해당사항없음</span></span><span class="grade"></span><span style="font-size: 14px;color: #999999;"></span></h3>
                            </th:block>
                        </li>


                        <li>
                            <th:block th:if="*{collegeId != null}">
                                <h3><span>[전공]&nbsp;<span class="major" th:text="*{userCollegeMajor}"></span></span><span></span></h3>
                            </th:block>

                            <th:block th:unless="*{collegeId != null}">
                                <h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span><span></span></h3>

                            </th:block>
                        </li>
                    </ul>
                    <div class="userInfoTagWrap"></div>
                    <a class="chatBtn" >
                        <div><img loading="lazy" src="/images/neosUser/chatting-icon.png"
                                  alt="네오스포인트"><span >NEO CHAT</span></div>
                    </a>
                </div>
            </li>
            </th:block>-->




        </ul>
        <div class="bigMoreBtn moreBtn"><a>더 불러오기</a></div>
    </div>
        </div>


        <div class="peopleSearchOption">
            <h1 class="tit" style="margin-top: 30px;">추천 네오스인</h1>

            <!-- 추천 유저 프로필 -->
         <div class="peopleGrid" >
                <ul class="peopleGridList neos">

<!--                    <th:block th:each="user:${users}">-->
<!--                        <li class="letspler_Re" th:object="${user}"><img loading="lazy" class="newMark"-->
<!--                                                                         src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">-->
<!--                            <div class="top">-->
<!--                                <div class="profilePicWrap">-->
<!--                                    <div class="profilePic" >-->
<!--                                        <img th:src="*{userFile}" alt="민쇼니"></div>-->
<!--                                    <a class="favorite heart" ></a>-->
<!--                                </div>-->
<!--                                <div class="profileTxt">-->
<!--                                    <div class="idWrap">-->
<!--                                        <img  th:src="*{userNeosBadge}"   loading="lazy" class="userLv" style="width: 20px">-->
<!--                                        <div class="userName" >-->
<!--                                            <span class="name" th:text="*{userNickName}">민쇼니</span>-->
<!--                                            <ul class="idHoverMenu">-->
<!--                                                <li><a class="detail">프로필 상세</a>-->
<!--                                                    <input type="hidden" th:href="*{userId}">-->
<!--                                                </li>-->
<!--                                                <li><a class="chat">1:1대화</a></li>-->
<!--                                                <li><a class="invite">스터디 초대</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"-->
<!--                                                                    src="https://letspl.me/assets/images/ic-certi-red.png"-->
<!--                                                                    alt="실명인증"></div>-->
<!--                                        <div class="certiWrap"></div>-->
<!--                                    </div>-->
<!--                                    <div class="coffeAndHeart">-->
<!--                                        <div > <p><img loading ="lazy" src="/images/neosUser/chatting-icon.png"-->
<!--                                                       alt="네오스포인트" style="margin-top: 6px;">  </p> <span class="userPoint" th:text="*{userChattingPoint}"> </span></div>-->
<!--                                        <div><img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"-->
<!--                                                  style="width: 20px; height: 20px;"><span id="result">0</span></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="bottom">-->
<!--                                <ul class="userFavorite">-->
<!--                                    <li>-->

<!--                                        <th:block th:if="*{collegeId != null}">-->
<!--                                            <h3><span>[대학]&nbsp;<span class="university" th:text="*{collegeName}" ></span></span><span class="grade" th:text="*{userCollegeYear}"></span><span style="font-size: 14px;color: #999999;">학년</span></h3>-->
<!--                                        </th:block>-->

<!--                                        <th:block th:unless="*{collegeId != null}">-->
<!--                                            <h3><span>[대학]&nbsp;<span class="university">해당사항없음</span></span><span class="grade"></span><span style="font-size: 14px;color: #999999;"></span></h3>-->
<!--                                        </th:block>-->
<!--                                    </li>-->


<!--                                    <li>-->
<!--                                        <th:block th:if="*{collegeId != null}">-->
<!--                                            <h3><span>[전공]&nbsp;<span class="major" th:text="*{userCollegeMajor}"></span></span><span></span></h3>-->
<!--                                        </th:block>-->

<!--                                        <th:block th:unless="*{collegeId != null}">-->
<!--                                            <h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span><span></span></h3>-->

<!--                                        </th:block>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <div class="userInfoTagWrap"></div>-->
<!--                                <a class="chatBtn" >-->
<!--                                    <div><img loading="lazy" src="/images/neosUser/chatting-icon.png"-->
<!--                                              alt="네오스포인트"><span >NEO CHAT</span></div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </th:block>-->




                </ul>

             <div class="bigMoreBtn moreBtn1"><a>더 불러오기</a></div>
            </div>

        </div>







        </div>
    </section>
</div>

<div th:replace="/app/neosUser/modalList.html :: modalSpace"></div>
<div th:replace="/app/fix/chattingAll.html :: chattingAll"></div>
<div th:replace="/app/fix/footer.html :: footer"></div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/neosUser/neosListAfter.js"></script>
<script src="/js/fix/chatting.js"></script>
<script src="/js/fix/login.js"></script>
<script src="/js/fix/header.js"></script>
<script>


    /*/!*프로필 상세 누를시 상세 페이지 이동 *!/
    $(".detail").on("click", function (e) {
        alert($(this).next().attr("href"));
        e.preventDefault();
        location.href = "/neosUser/info/yes" + "?userId=" + $(this).next().attr("href");
    });
*/


    /* 검색 취소  */

    var $ipt = $('.searchInput'),
        $clearIpt = $('.inputinitBtn');

    $ipt.keyup(function(){
        $(".inputinitBtn").toggle(Boolean($(this).val()));
    });

    $clearIpt.toggle(Boolean($ipt.val()));
    $clearIpt.click(function(){
        $(".searchInput").val('').focus();
        $(this).hide();
    });


    /* 프로필 상세 위임 */
    $("#_next").on("click", ".detail" ,function () {
        alert($(this).next().attr("href"));
        location.href = "/neosUser/info/yes" + "?userId=" + $(this).next().attr("href");
    })

/* 마우스 클릭하면 하트 나오는 위임 */
    $("#_next").on("click", ".heart" ,function () {
        $(this).toggleClass('active');
    })

/* 마우스 오버 이벤트 위임*/
    $("#_next").on("mouseover",".userName",function(){

        $(this).children('.idHoverMenu').css("display", "block");

    })

    /* 마우스 아웃 이벤트 위임*/
    $("#_next").on("mouseout", ".userName", function () {
        // $(this).css("color", "#2A4");
        $(this).children('.idHoverMenu').css("display", "none");
    })



</script>

<!-- 인기 네오스인 더보기 페이징 -->
<script th:inline="javascript">
    globalThis.page = 0;
    globalThis.size = 4;



    function searchName(){
        let keyword = $('.searchInput').val();
        showNews(keyword);
    }

    $('.searchCancel').on("click", function () {
        globalThis.page = 0;
        globalThis.size = 4;
        show();
    })



        globalThis.check = false;
        show();

        function show() {
            globalThis.check = false;
            console.log("들어옴")
            $.ajax({

                url:"/neosUser/neosUserList?page=0&size=" + (globalThis.size), /**4*/
                type : "get",
                async: false,
                success: function (userDTOS) {
                    console.log(userDTOS)
                    if(userDTOS != null){
                        getList1(userDTOS);
                    }
                },
                error: function (xhr , status , err) {
                    console.log(xhr,status,err);
                }

            });
        }


    function showNews(keyword) {
        globalThis.check = true;
        $.ajax({
            url:"/neosUser/" + keyword+"?page=0&size="+globalThis.size,
            type:"post",
            success: function (userDTOS){
                  if(userDTOS != null) {
                       getList1(userDTOS);
                }
            }

          })
       }



        function getList1(userDTOS) {
            let text = '';
            $(userDTOS.content).each((i,item) => {

                $college = item.collegeId;

                $user = item.userName;


                text += `<li class="letspler_Re">`
                text += `<img loading="lazy" class="newMark"  src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">`
                text += `<div class="top">`
                text += `<div class="profilePicWrap">`
                text += `<div class="profilePic" >`
                text += `<img src="` + item.userFile + `" alt='민쇼니'></div>`
                text += `<a class="favorite heart"></a>`
                text += `</div>`
                text += `<div class="profileTxt">`
                text += `<div class="idWrap">`
                text += `<img src="` + item.userNeosBadge + `" loading=\`lazy\` class=\`userLv\` style='width: 20px'>`
                text += `<div class="userName" >`
                text += `<span class="name">`+item.userNickName+`</span>`
                text += `<ul class="idHoverMenu">`
                text += `<li>`
                text += `<a class="detail">프로필 상세</a>`
                text += `<input type="hidden" href=" ` +item.userId +`">`
                text += `</li>`
                text += `<li><a class="chat">1:1대화</a></li>`
                text += `<li><a class="invite">스터디 초대</a></li>`
                text += `</ul>`
                text += `</div>`
                text += `<div class="certiWrap">`
                text += `<img loading="lazy" class="userCertIcon"  src="https://letspl.me/assets/images/ic-certi-red.png"  alt="실명인증">`
                text += `</div>`
                text += `<div class="certiWrap"></div>`
                text += `</div>`
                text += `<div class="coffeAndHeart">`
                text += `<div>`
                text += `<p>`
                text += `<img loading ="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트" style="margin-top: 6px;">`
                text += `</p>`
                text += `<span class="userPoint">`+item.userChattingPoint+`</span>`
                text += `</div>`
                text += `<div>`
                text += `<img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"  style="width: 20px; height: 20px;">`
                text += `<span id="result" >`+item.followList+`</span>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `<div class="bottom">`
                text += `<ul class="userFavorite">`
                text += `<li>`

                if ($college != null){
                    text += `<h3><span>[대학]&nbsp;<span class="university">`+ item.collegeName+`</span></span>`
                    text += `<span class="grade">`+ item.userCollegeYear +`</span>`
                    text += `<span style="font-size: 14px;color: #999999;">학년</span></h3>`
                }
                else if($college == null){
                    text += `<h3><span>[대학]&nbsp;<span class="university">해당사항없음</span>`
                    text += `</span>`
                    text += `<span class="grade">`
                    text += `</span>`
                    text += `<span style="font-size: 14px;color: #999999;">`
                    text += `</span>`
                    text += `</h3>`
                }

                text += `</li>`

                text += `<li>`

                if ($college != null){
                    text += `<h3><span>[전공]&nbsp;<span class="major">`+item.userCollegeMajor+`</span></span>`
                    text += `<span></span>`
                    text += `</h3>`
                }

                if ($college == null){
                    text += `<h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span>`
                    text += `<span></span>`
                    text += `</h3>`
                }

                text += `</li>`
                text += `</ul>`
                text += `<div class="userInfoTagWrap"></div>`
                text += `<a class="chatBtn">`
                text += `<div>`
                text += `<img loading="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트">`
                text += `<span >NEO CHAT</span>`
                text += `</div>`
                text += `</a>`
                text += `</div>`
                text += `</li>`



            });

            $("ul.popularity").html(text);
            /*if (userDTOS.last){
                $(".moreBtn").hide();*/

           /* $("ul.neos").html(text);
            /!*if (userDTOS.last){
                $(".moreBtn").hide();*!/*/
        }



        /*더 보기 버틀*/

        $(".moreBtn").on("click", function(e){
            e.preventDefault();
            if(!globalThis.check){
                globalThis.size = globalThis.size+4;
                show();
            } else {
                globalThis.size = globalThis.size+4;
                let keyword = $('.searchInput').val();
                showNews(keyword);
            }

        });









</script>


<!--  추천 네오스인 뿌리기  -->

<script th:inline="javascript">


    globalThis.page = 0;
    $(document).ready(function () {
        globalThis.check = false;
        showneos();

        function showneos() {
            console.log("들어옴")
            $.ajax({

                url:"/neosUser/neosUserList?page=" + (globalThis.page), /**4*/
                type : "get",
                async: false,
                success: function (userDTOS) {
                    console.log(userDTOS)
                    if(userDTOS != null){
                        getList2(userDTOS);
                    }
                },
                error: function (xhr , status , err) {
                    console.log(xhr,status,err);
                }

            });
        }

        function getList2(userDTOS) {
            let text = '';
            $(userDTOS.content).each((i,item) => {

                $college = item.collegeId;

                $user = item.userName;


                text += `<li class="letspler_Re">`
                text += `<img loading="lazy" class="newMark"  src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">`
                text += `<div class="top">`
                text += `<div class="profilePicWrap">`
                text += `<div class="profilePic" >`
                text += `<img src="` + item.userFile + `" alt='민쇼니'></div>`
                text += `<a class="favorite heart"></a>`
                text += `</div>`
                text += `<div class="profileTxt">`
                text += `<div class="idWrap">`
                text += `<img src="` + item.userNeosBadge + `" loading=\`lazy\` class=\`userLv\` style='width: 20px'>`
                text += `<div class="userName" >`
                text += `<span class="name">`+item.userNickName+`</span>`
                text += `<ul class="idHoverMenu">`
                text += `<li>`
                text += `<a class="detail">프로필 상세</a>`
                text += `<input type="hidden" href=" ` +userId +`">`
                text += `</li>`
                text += `<li><a class="chat">1:1대화</a></li>`
                text += `<li><a class="invite">스터디 초대</a></li>`
                text += `</ul>`
                text += `</div>`
                text += `<div class="certiWrap">`
                text += `<img loading="lazy" class="userCertIcon"  src="https://letspl.me/assets/images/ic-certi-red.png"  alt="실명인증">`
                text += `</div>`
                text += `<div class="certiWrap"></div>`
                text += `</div>`
                text += `<div class="coffeAndHeart">`
                text += `<div>`
                text += `<p>`
                text += `<img loading ="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트" style="margin-top: 6px;">`
                text += `</p>`
                text += `<span class="userPoint">`+item.userChattingPoint+`</span>`
                text += `</div>`
                text += `<div>`
                text += `<img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"  style="width: 20px; height: 20px;">`
                text += `<span id="result">0</span>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `<div class="bottom">`
                text += `<ul class="userFavorite">`
                text += `<li>`

                if ($college != null){
                    text += `<h3><span>[대학]&nbsp;<span class="university">`+ item.collegeName+`</span></span>`
                    text += `<span class="grade">`+ item.userCollegeYear +`</span>`
                    text += `<span style="font-size: 14px;color: #999999;">학년</span></h3>`
                }else{
                    text += `<h3><span>[대학]&nbsp;<span class="university">해당사항없음</span>`
                    text += `</span>`
                    text += `<span class="grade">`
                    text += `</span>`
                    text += `<span style="font-size: 14px;color: #999999;">`
                    text += `</span>`
                    text += `</h3>`
                }

                text += `</li>`
                text += `<li>`

                if ($college != null){
                    text += `<h3><span>[전공]&nbsp;<span class="major">`+item.userCollegeMajor+`</span></span>`
                    text += `<span></span>`
                    text += `</h3>`
                }else{
                    text += `<h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span>`
                    text += `<span></span>`
                    text += `</h3>`
                }

                text += `</li>`
                text += `</ul>`
                text += `<div class="userInfoTagWrap"></div>`
                text += `<a class="chatBtn">`
                text += `<div>`
                text += `<img loading="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트">`
                text += `<span >NEO CHAT</span>`
                text += `</div>`
                text += `</a>`
                text += `</div>`
                text += `</li>`



            });

            $("ul.neos").append(text);
            /*if (userDTOS.list){
                $(".bigMoreBtn").hide();
            }*/
        }



        /*더 보기 버틀*/

        $(".moreBtn1").on("click", function(e){
            e.preventDefault();
            if(!globalThis.check){
                globalThis.page = globalThis.page+1;
                showneos();
            }
        });

    });






</script>



<!--&lt;!&ndash; 유저 닉넴임으로 검색 &ndash;&gt;-->

<!--<script th:inline="javascript">-->

<!--    globalThis.size = 4;-->


<!--    function showNews(keyword) {-->
<!--        $.ajax({-->
<!--            url:"/neosUser/" + keyword+"?page=0&size="+globalThis.size,-->
<!--            type:"post",-->
<!--            success: function (userDTOS){-->
<!--                if(userDTOS != null) {-->
<!--                    getList3(userDTOS)-->
<!--                    getList4(userDTOS)-->
<!--                }-->
<!--            }-->

<!--        })-->

<!--    }-->


<!--    function getList3(userDTOS) {-->
<!--        let text = '';-->
<!--        $(userDTOS.content).each((i,item) => {-->

<!--            $college = item.collegeId;-->

<!--            $user = item.userName;-->


<!--            text += `<li class="letspler_Re">`-->
<!--            text += `<img loading="lazy" class="newMark"  src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">`-->
<!--            text += `<div class="top">`-->
<!--            text += `<div class="profilePicWrap">`-->
<!--            text += `<div class="profilePic" >`-->
<!--            text += `<img src="` + item.userFile + `" alt='민쇼니'></div>`-->
<!--            text += `<a class="favorite heart"></a>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="profileTxt">`-->
<!--            text += `<div class="idWrap">`-->
<!--            text += `<img src="` + item.userNeosBadge + `" loading=\`lazy\` class=\`userLv\` style='width: 20px'>`-->
<!--            text += `<div class="userName" >`-->
<!--            text += `<span class="name">`+item.userNickName+`</span>`-->
<!--            text += `<ul class="idHoverMenu">`-->
<!--            text += `<li>`-->
<!--            text += `<a class="detail">프로필 상세</a>`-->
<!--            text += `<input type="hidden" href=" ` +item.userId +`">`-->
<!--            text += `</li>`-->
<!--            text += `<li><a class="chat">1:1대화</a></li>`-->
<!--            text += `<li><a class="invite">스터디 초대</a></li>`-->
<!--            text += `</ul>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="certiWrap">`-->
<!--            text += `<img loading="lazy" class="userCertIcon"  src="https://letspl.me/assets/images/ic-certi-red.png"  alt="실명인증">`-->
<!--            text += `</div>`-->
<!--            text += `<div class="certiWrap"></div>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="coffeAndHeart">`-->
<!--            text += `<div>`-->
<!--            text += `<p>`-->
<!--            text += `<img loading ="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트" style="margin-top: 6px;">`-->
<!--            text += `</p>`-->
<!--            text += `<span class="userPoint">`+item.userChattingPoint+`</span>`-->
<!--            text += `</div>`-->
<!--            text += `<div>`-->
<!--            text += `<img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"  style="width: 20px; height: 20px;">`-->
<!--            text += `<span id="result">0</span>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="bottom">`-->
<!--            text += `<ul class="userFavorite">`-->
<!--            text += `<li>`-->

<!--            if ($college != null){-->
<!--                text += `<h3><span>[대학]&nbsp;<span class="university">`+ item.collegeName+`</span></span>`-->
<!--                text += `<span class="grade">`+ item.userCollegeYear +`</span>`-->
<!--                text += `<span style="font-size: 14px;color: #999999;">학년</span></h3>`-->
<!--            }-->

<!--            if ($college == null){-->
<!--                text += `<h3><span>[대학]&nbsp;<span class="university">해당사항없음</span>`-->
<!--                text += `</span>`-->
<!--                text += `<span class="grade">`-->
<!--                text += `</span>`-->
<!--                text += `<span style="font-size: 14px;color: #999999;">`-->
<!--                text += `</span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            text += `</li>`-->
<!--            text += `<li>`-->

<!--            if ($college != null){-->
<!--                text += `<h3><span>[전공]&nbsp;<span class="major">`+item.userCollegeMajor+`</span></span>`-->
<!--                text += `<span></span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            if ($college == null){-->
<!--                text += `<h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span>`-->
<!--                text += `<span></span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            text += `</li>`-->
<!--            text += `</ul>`-->
<!--            text += `<div class="userInfoTagWrap"></div>`-->
<!--            text += `<a class="chatBtn">`-->
<!--            text += `<div>`-->
<!--            text += `<img loading="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트">`-->
<!--            text += `<span >NEO CHAT</span>`-->
<!--            text += `</div>`-->
<!--            text += `</a>`-->
<!--            text += `</div>`-->
<!--            text += `</li>`-->



<!--        });-->

<!--        $("ul.popularity").html(text);-->
<!--        /*if (userDTOS.last){-->
<!--            $(".moreBtn").hide();*/-->

<!--        /* $("ul.neos").html(text);-->
<!--         /!*if (userDTOS.last){-->
<!--             $(".moreBtn").hide();*!/*/-->
<!--    }-->



<!--    /*더 보기 버틀*/-->

<!--    $(".moreBtn").on("click", function(e){-->
<!--        e.preventDefault();-->
<!--        if(!globalThis.check){-->
<!--            globalThis.size = globalThis.size+4;-->
<!--            show();-->
<!--        }-->
<!--    });-->




<!--    function getList4(userDTOS) {-->
<!--        let text = '';-->
<!--        $(userDTOS.content).each((i,item) => {-->

<!--            $college = item.collegeId;-->

<!--            $user = item.userName;-->


<!--            text += `<li class="letspler_Re">`-->
<!--            text += `<img loading="lazy" class="newMark"  src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">`-->
<!--            text += `<div class="top">`-->
<!--            text += `<div class="profilePicWrap">`-->
<!--            text += `<div class="profilePic" >`-->
<!--            text += `<img src="` + item.userFile + `" alt='민쇼니'></div>`-->
<!--            text += `<a class="favorite heart"></a>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="profileTxt">`-->
<!--            text += `<div class="idWrap">`-->
<!--            text += `<img src="` + item.userNeosBadge + `" loading=\`lazy\` class=\`userLv\` style='width: 20px'>`-->
<!--            text += `<div class="userName" >`-->
<!--            text += `<span class="name">`+item.userNickName+`</span>`-->
<!--            text += `<ul class="idHoverMenu">`-->
<!--            text += `<li>`-->
<!--            text += `<a class="detail">프로필 상세</a>`-->
<!--            text += `<input type="hidden" href=" ` +userId +`">`-->
<!--            text += `</li>`-->
<!--            text += `<li><a class="chat">1:1대화</a></li>`-->
<!--            text += `<li><a class="invite">스터디 초대</a></li>`-->
<!--            text += `</ul>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="certiWrap">`-->
<!--            text += `<img loading="lazy" class="userCertIcon"  src="https://letspl.me/assets/images/ic-certi-red.png"  alt="실명인증">`-->
<!--            text += `</div>`-->
<!--            text += `<div class="certiWrap"></div>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="coffeAndHeart">`-->
<!--            text += `<div>`-->
<!--            text += `<p>`-->
<!--            text += `<img loading ="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트" style="margin-top: 6px;">`-->
<!--            text += `</p>`-->
<!--            text += `<span class="userPoint">`+item.userChattingPoint+`</span>`-->
<!--            text += `</div>`-->
<!--            text += `<div>`-->
<!--            text += `<img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"  style="width: 20px; height: 20px;">`-->
<!--            text += `<span id="result">0</span>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `</div>`-->
<!--            text += `<div class="bottom">`-->
<!--            text += `<ul class="userFavorite">`-->
<!--            text += `<li>`-->

<!--            if ($college != null){-->
<!--                text += `<h3><span>[대학]&nbsp;<span class="university">`+ item.collegeName+`</span></span>`-->
<!--                text += `<span class="grade">`+ item.userCollegeYear +`</span>`-->
<!--                text += `<span style="font-size: 14px;color: #999999;">학년</span></h3>`-->
<!--            }-->

<!--            if ($college == null){-->
<!--                text += `<h3><span>[대학]&nbsp;<span class="university">해당사항없음</span>`-->
<!--                text += `</span>`-->
<!--                text += `<span class="grade">`-->
<!--                text += `</span>`-->
<!--                text += `<span style="font-size: 14px;color: #999999;">`-->
<!--                text += `</span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            text += `</li>`-->
<!--            text += `<li>`-->

<!--            if ($college != null){-->
<!--                text += `<h3><span>[전공]&nbsp;<span class="major">`+item.userCollegeMajor+`</span></span>`-->
<!--                text += `<span></span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            if ($college == null){-->
<!--                text += `<h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span>`-->
<!--                text += `<span></span>`-->
<!--                text += `</h3>`-->
<!--            }-->

<!--            text += `</li>`-->
<!--            text += `</ul>`-->
<!--            text += `<div class="userInfoTagWrap"></div>`-->
<!--            text += `<a class="chatBtn">`-->
<!--            text += `<div>`-->
<!--            text += `<img loading="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트">`-->
<!--            text += `<span >NEO CHAT</span>`-->
<!--            text += `</div>`-->
<!--            text += `</a>`-->
<!--            text += `</div>`-->
<!--            text += `</li>`-->



<!--        });-->

<!--        $("ul.neos").append(text);-->
<!--        /*if (userDTOS.list){-->
<!--            $(".bigMoreBtn").hide();-->
<!--        }*/-->
<!--    }-->


<!--    /*더 보기 버틀*/-->

<!--    $(".moreBtn1").on("click", function(e){-->
<!--        e.preventDefault();-->
<!--        if(!globalThis.check){-->
<!--            globalThis.page = globalThis.page+1;-->
<!--            showneos();-->
<!--        }-->
<!--    });-->












<!--    // function newsList(result) {-->
<!--    //     console.log(result);-->
<!--    //     let text = '';-->
<!--    //     $(result.content).each((i,item) =>{-->
<!--    //-->
<!--    //         $college = item.collegeId;-->
<!--    //-->
<!--    //         text += `<li class="letspler_Re">`-->
<!--    //         text += `<img loading="lazy" class="newMark"  src="https://letspl.me/assets/images/ic-badge_project_new.png" alt="신규 렛플인">`-->
<!--    //         text += `<div class="top">`-->
<!--    //         text += `<div class="profilePicWrap">`-->
<!--    //         text += `<div class="profilePic" >`-->
<!--    //         text += `<img src="` + item.userFile + `" alt='민쇼니'></div>`-->
<!--    //         text += `<a class="favorite heart"></a>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div class="profileTxt">`-->
<!--    //         text += `<div class="idWrap">`-->
<!--    //         text += `<img src="` + item.userNeosBadge + `" loading=\`lazy\` class=\`userLv\` style='width: 20px'>`-->
<!--    //         text += `<div class="userName" >`-->
<!--    //         text += `<span class="name">`+item.userNickName+`</span>`-->
<!--    //         text += `<ul class="idHoverMenu">`-->
<!--    //         text += `<li>`-->
<!--    //         text += `<a class="detail">프로필 상세</a>`-->
<!--    //         text += `<input type="hidden" href=" ` +userId +`">`-->
<!--    //         text += `</li>`-->
<!--    //         text += `<li><a class="chat">1:1대화</a></li>`-->
<!--    //         text += `<li><a class="invite">스터디 초대</a></li>`-->
<!--    //         text += `</ul>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div class="certiWrap">`-->
<!--    //         text += `<img loading="lazy" class="userCertIcon"  src="https://letspl.me/assets/images/ic-certi-red.png"  alt="실명인증">`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div class="certiWrap"></div>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div class="coffeAndHeart">`-->
<!--    //         text += `<div>`-->
<!--    //         text += `<p>`-->
<!--    //         text += `<img loading ="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트" style="margin-top: 6px;">`-->
<!--    //         text += `</p>`-->
<!--    //         text += `<span class="userPoint">`+item.userChattingPoint+`</span>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div>`-->
<!--    //         text += `<img loading="lazy" src="https://letspl.me/assets/images/ico_like.png" alt="구독자 수"  style="width: 20px; height: 20px;">`-->
<!--    //         text += `<span id="result">0</span>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `<div class="bottom">`-->
<!--    //         text += `<ul class="userFavorite">`-->
<!--    //         text += `<li>`-->
<!--    //-->
<!--    //         if ($college != null){-->
<!--    //         text += `<h3><span>[대학]&nbsp;<span class="university">`+ item.collegeName+`</span></span>`-->
<!--    //         text += `<span class="grade">`+ item.userCollegeYear +`</span>`-->
<!--    //         text += `<span style="font-size: 14px;color: #999999;">학년</span></h3>`-->
<!--    //         }-->
<!--    //-->
<!--    //         if ($college == null){-->
<!--    //         text += `<h3><span>[대학]&nbsp;<span class="university">해당사항없음</span>`-->
<!--    //         text += `</span>`-->
<!--    //         text += `<span class="grade">`-->
<!--    //         text += `</span>`-->
<!--    //         text += `<span style="font-size: 14px;color: #999999;">`-->
<!--    //         text += `</span>`-->
<!--    //         text += `</h3>`-->
<!--    //         }-->
<!--    //-->
<!--    //         text += `</li>`-->
<!--    //         text += `<li>`-->
<!--    //-->
<!--    //         if ($college != null){-->
<!--    //         text += `<h3><span>[전공]&nbsp;<span class="major">`+item.userCollegeMajor+`</span></span>`-->
<!--    //         text += `<span></span>`-->
<!--    //         text += `</h3>`-->
<!--    //         }-->
<!--    //-->
<!--    //         if ($college == null){-->
<!--    //         text += `<h3><span>[전공]&nbsp;<span class="major">해당사항없음</span></span>`-->
<!--    //         text += `<span></span>`-->
<!--    //         text += `</h3>`-->
<!--    //         }-->
<!--    //-->
<!--    //         text += `</li>`-->
<!--    //         text += `</ul>`-->
<!--    //         text += `<div class="userInfoTagWrap"></div>`-->
<!--    //         text += `<a class="chatBtn">`-->
<!--    //         text += `<div>`-->
<!--    //         text += `<img loading="lazy" src="/images/neosUser/chatting-icon.png" alt="네오스포인트">`-->
<!--    //         text += `<span >NEO CHAT</span>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `</a>`-->
<!--    //         text += `</div>`-->
<!--    //         text += `</li>`-->
<!--    //-->
<!--    //     })-->
<!--    //-->
<!--    //     $("ul.peopleGridList").html(text);-->
<!--    //     if (result.last){-->
<!--    //         $(".moreBtnWrapUl").hide();-->
<!--    //     }-->
<!--    //-->
<!--    //-->
<!--    // }-->

<!--    $(".moreBtnWrapUl").on("click" , function () {-->
<!--        globalThis.size = globalThis.size * 2;-->
<!--        showNews()-->

<!--    })-->

<!--    function searchName(){-->
<!--        let keyword = $('.searchInput').val();-->
<!--        showNews(keyword);-->

<!--    }-->



<!--</script>-->


</html>