<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEOS | 프로필 상세</title>
    <link rel="stylesheet" href="/css/neosUser/userInfo.css">
    <link rel="stylesheet" href="/css/neosUser/modalList.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/chatting.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>


<th:block th:object="${user}">
<section class="userProfileSection">
    <div class="profileInfo" >
        <div class="pic">
            <div class="picWrap"><img th:src="*{userFile}" alt="sun9hyun"></div>
            <a class="favoriteSymbol">
                <div class="favorite "></div>
            </a></div>
        <div class="profileInfoTxt">
            <div class="profileInfoTxtFirst">
                <div class="profileStatusSection">
                    <div class="userTag "><span>본인인증</span></div>
                    <div class="userTag" style="background-color:#50a9ab;border:1px solid#50a9ab"><span th:text="*{userMbtiName}"></span>
                    </div>
                </div>
                <h2 class="tit"><img class="userLv"
                                     src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                     alt="렛플렙">&nbsp;<!-- --><span class="name" th:text="*{userNickName}"></span></h2>
                <p class="introduction">마지막 로그인 :<!-- --> 1일전</p>
                <div class="topBtnWrap btnWrap">
                    <button class="pinkBtn">1:1 대화</button>
                    <button class="blackBtn">스터디 초대</button>
                </div>
            </div>
            <div class="myTabWrapContainer">
                <div class="myTabWrap"><a class="active">정보</a><a class="">문의(<!-- --> 1<!-- --> )</a><!--<a class="">스토리(
                    &lt;!&ndash; &ndash;&gt; 0&lt;!&ndash; &ndash;&gt; )</a>--></div>
            </div>
            <div class="summaryInfo">
                <div class="summaryInfoWrap">
                    <ul>
                        <li class="userInfoTit"><span><strong>[ 본 캐릭터 ]</strong></span><span></span></li>
                        <li class="userCharacter"><span>&nbsp;대학</span>

                            <h2 class="gray" th:text="*{collegeName}"></h2></li>

                        <li class="userCharacter"><span>&nbsp;전공</span>

                            <h2 class="gray" th:text="*{userCollegeMajor}">사회복지학전공</h2></li>

                        <li class="userCharacter"><span>&nbsp;학년</span>

                            <h2 class="gray" th:text="*{userCollegeYear}"></h2><h2 class="gray">학년</h2></li>
                        
                        <ul class="userInfoWrap">
                            <li class="userOption"><span class="optionTxt">온/오프라인</span>
                                <h3 th:text="*{userO2o}">온,오프라인 모두 가능 </h3></li>
                            <li class="userOption"><span class="optionTxt">모임 장소</span><span>상관없음</span></li>
                            <li class="userOption"><span class="optionTxt">모임 시간</span>
                                <h3>주중,주말 가능<!-- --> /시간대 미정</h3></li>
                            <li class="userOption"><span class="optionTxt">관심 분야</span>
                                <h3>설정된 관심분야가 없습니다</h3></li>
                            <li class="userOption"><span class="optionTxt">대화 포인트</span>
                                <h3>1<!-- --> 네오</h3></li>
                        </ul>
                        <li class="textArea"><span class="optionTxt">소 개</span>
                            <h3 class="introTxt">내용이 없습니다</h3></li>
                        <!--                        <li class="keywordTagWrap">-->
                        <!--                            <span class="subtit">태 그</span>-->
                        <!--                            <div class="profileKeywordWrap">-->
                        <!--                                <h3 class="keywordTag"><span>#Spring</span></h3>-->
                        <!--                                <h3 class="keywordTag"><span>#DBMS</span></h3>-->
                        <!--                                <h3 class="keywordTag"><span>#JAVA</span></h3>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <li class="userMbti"><span class="optionTxt">MBTI</span>
                            <div class="Alpha mbType">
                                <span>ISFJ</span>
                                <p>차분하고 헌신적이며 인내심이 강하고 타인의 감정 변화에 주의를 기울입니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--            <div class="portfolioAndSkillWrap">-->
            <!--                <div class="portfolioAndSkill"><h1 class="tit" style="justify-content:left">포트폴리오</h1>-->
            <!--                    <div class="skill"><span class="subtit">스킬</span>-->
            <!--                        <div class="skillContainer">-->
            <!--                            <div class="skillWrap"><img loading="lazy" class="skilIc"-->
            <!--                                                        src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/java/java-original.svg"-->
            <!--                                                        alt="Java">-->
            <!--                                <div class="skillName"><p>Java</p>-->
            <!--                                    <div class="skillproFici"><i class="active"></i><i class=""></i><i class=""></i>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="skillWrap"><img loading="lazy" class="skilIc"-->
            <!--                                                        src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/javascript/javascript-original.svg"-->
            <!--                                                        alt="Javascript">-->
            <!--                                <div class="skillName"><p>Javascript</p>-->
            <!--                                    <div class="skillproFici"><i class="active"></i><i class=""></i><i class=""></i>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="skillWrap"><img loading="lazy" class="skilIc"-->
            <!--                                                        src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/linux/linux-original.svg"-->
            <!--                                                        alt="Linux">-->
            <!--                                <div class="skillName"><p>Linux</p>-->
            <!--                                    <div class="skillproFici"><i class="active"></i><i class=""></i><i class=""></i>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="projectInfo">
                <div class="projectInfoWrap rightWrap"><h1 class="subTit">진행중인 프로젝트/스터디&amp;네트워킹</h1>
                    <div class="projectGrid projectGridInProfile">

                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectGridWrap">
                            <div class="projectTopInfo">
                                <div class="top">
                                    <div class="badgeWrap">
                                        <div class="badge black">
                                            <!-- <h2>사이드프로젝트</h2> -->
                                            <img src="/images/study/inha.png">
                                        </div>
                                    </div>
                                    <div class="favorite2 off "></div>
                                </div>
                                <div class="projectThumb"><img loading="lazy"
                                                               src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/project_thumb_19.png"
                                                               alt="커뮤니티 연계 교통 정보 어플"></div>
                            </div>
                            <div class="projectBottomInfo">
                                <div class="txtWrap projectWrap">
                                    <h3 class="category">전공과목</h3>
                                    <h2 class="tit">공업수학_라플라스 변환</h2>
                                    <!--                                 <div class="iconWrap2"><img loading="lazy"
                                            src="https://letspl.s3.ap-northeast-2.amazonaws.com/icons/figma/figma-original.svg"
                                            alt="Figma"></div> -->

                                </div>
                            </div>
                            <div class="projectInfo2">
                                <div class="middleWrap">
                                    <div class="left">
                                        <div class="heartCount"><img loading="lazy"
                                                                     src="https://letspl.me/assets/images/ic-favorite-empty-white.svg"
                                                                     alt="구독자 수"><span>3</span></div>
                                    </div>
                                    <div class="right">
                                        <!-- <p><span> 44</span><span> (-) </span></p> -->
                                    </div>
                                </div>
                                <div class="bottomWrap">
                                    <div class="gatherTxt">
                                        <div><span>모집완료</span><span>0/4</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projectInfo subscriberWrap">
                <li class="userOption watchedLetspler"><h1 class="subTit">sun9hyun님을 구독중인 렛플인<span> 2</span>명
                </h1>
                    <ul>
                        <li>
                            <div class="hoverName"><a href="/people/sun9hyun"><p>
                                <span>[L6]</span><span>sun9hyun</span>
                            </p></a></div>
                            <div class="imgWrap"><img loading="lazy"
                                                      src="https://phinf.pstatic.net/contact/20220629_138/1656481654516fqNNk_PNG/profileImage.png"
                                                      alt="sun9hyun"></div>
                        </li>
                        <li>
                            <div class="hoverName"><a href="/people/추추추"><p><span>[L8]</span><span>추추추</span>
                            </p></a>
                            </div>
                            <div class="imgWrap"><img loading="lazy"
                                                      src="https://letspl.me/assets/images/prof-no-img.png"
                                                      alt="추추추">
                            </div>
                        </li>
                    </ul>
                </li>

            </div>
        </div>
    </div>


            <div class="projectInfo">
                <div class="morePeopleView peopleRecommendWrap">
                    <div class="peopleRecommendWrapTit"><p>sun9hyun님과 비슷한 프로필을 추천드려요</p></div>
                    <div class="peopleRecommendContents">
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/Alex">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://letspl.me/assets/images/prof-no-img.png"
                                                                   alt="Alex"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_11.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">ROSA</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                                    src="https://letspl.me/assets/images/ic-certi-red.png"
                                                                    alt="본인인증"
                                        >
                                        </div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">웹 서버</p></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#끈기</p>
                                <p>#집중력</p>
                                <p>#체력</p></div>
                        </div>
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/시작해">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://letspl.me/assets/images/prof-no-img.png"
                                                                   alt="시작해"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_4.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">민성</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"></div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">서울외국어대학교</p>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#개발</p>
                                <p>#백엔드</p>
                                <p>#프론트엔드</p>
                                <p>#풀스택</p>
                                <p>#창업</p></div>
                        </div>
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/johyus">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://letspl.me/assets/images/prof-no-img.png"
                                                                   alt="johyus"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">종우</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                                    src="https://letspl.me/assets/images/ic-certi-red.png"
                                                                    alt="본인인증"
                                        >
                                        </div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">서울대학교</p>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#개발</p>
                                <p>#데이터분석</p></div>
                        </div>
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/송원준">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://phinf.pstatic.net/contact/20220512_108/1652363383953k9poQ_GIF/%C1%D2%B8%A3%B5%F0.gif"
                                                                   alt="송원준"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">호근</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                                    src="https://letspl.me/assets/images/ic-certi-red.png"
                                                                    alt="본인인증"
                                        >
                                        </div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">창원대학교</p></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#AI</p>
                                <p>#백엔드개발자</p>
                                <p>#TENSORFLOW</p>
                                <p>#php</p>
                                <p>#java</p></div>
                        </div>
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/이쪽저쪽살짝">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://letspl.me/assets/images/prof-no-img.png"
                                                                   alt="이쪽저쪽살짝"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">성현</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                                    src="https://letspl.me/assets/images/ic-certi-red.png"
                                                                    alt="본인인증"
                                        >
                                        </div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">문성대학교</p></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#자바</p>
                                <p>#SQL</p>
                                <p>#스프링</p>
                                <p>#스프링부트</p>
                                <p>#JPA</p></div>
                        </div>
                        <div class="box">
                            <div class="top"><a class="userPic" href="/people/구인성">
                                <div class="left peopleThumb"><img loading="lazy"
                                                                   src="https://letspl.me/assets/images/prof-no-img.png"
                                                                   alt="구인성"></div>
                            </a>
                                <div class="right">
                                    <div><img loading="lazy" class="userLv"
                                              src="https://letspl.s3.ap-northeast-2.amazonaws.com/images/level/level_6.png"
                                              alt="렛플렙">
                                        <h2 class="userName"><span class="nameMini">성윤</span>
                                            <ul class="idHoverMenu">
                                                <li><a class="detailMini">프로필 상세</a></li>
                                                <li><a class="chatMini">1:1 대화</a></li>
                                                <li><a class="inviteMini">스터디 초대</a></li>
                                            </ul>
                                        </h2>
                                        <div class="certiWrap"><img loading="lazy" class="userCertIcon"
                                                                    src="https://letspl.me/assets/images/ic-certi-gray.png"
                                                                    alt="휴대폰인증"
                                        >
                                        </div>
                                    </div>
                                    <div class="coffeAndHeart">
                                        <div><p style="font-size: 14px; color: rgb(51, 51, 51);">경상국립대학교</p>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom"><p>#초보개발자</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</th:block>

<div th:replace="/app/neosUser/modalList.html :: modalSpace"></div>
<div th:replace="/app/fix/chattingAll.html :: chattingAll"></div>
<div th:replace="/app/fix/footer.html :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/neosUser/userInfo.js"></script>
<script src="/js/fix/chatting.js"></script>
<script src="/js/fix/login.js"></script>
</html>