.tag_tag__2gh0s {
    font-size: 12px;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff
}

.tag_tag__2gh0s.tag_typeDefault__3U6Rz {
    border: 1px solid #ced2d4;
    color: #6c7378
}

.tag_tag__2gh0s.tag_typeRadius__1UhUE {
    border-radius: 100px;
    border: 1px solid #ced2d4;
    color: #6c7378
}

.tag_tag__2gh0s.tag_typeBlue__zeadA {
    background-color: #eaf3ff;
    color: #2f80ed;
    font-size: 13px
}

.tag_tag__2gh0s.tag_typePurple__11f3s {
    background: #f9f8ff;
    color: #594bba
}

.tag_tag__2gh0s.tag_typeGreen__3CEG4 {
    background: #47dcc9;
    color: #fff
}

.tag_tag__2gh0s.tag_typeRed__2UMw4 {
    color: #ea6560;
    background-color: #fff0ef;
    font-size: 13px
}

.tag_tag__2gh0s.tag_typeGray__3-1Ag {
    background-color: #f7f8f9;
    border: 1px solid #dfe3e4;
    color: #202224;
    font-size: 13px
}

.tag_tag__2gh0s.tag_sizeDefault__2V2-5 {
    padding: 2px 8px
}

.tag_tag__2gh0s.tag_sizeLarge__3a9sF {
    font-size: 16px;
    padding: 6px 18px
}

.tag_tag__2gh0s + .tag_tag__2gh0s {
    margin-left: 8px
}

.buttonComponents_button__1hvQa {
    font-size: 14px;
    line-height: 16px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    color: #202224;
    grid-gap: 4px;
    gap: 4px
}

.buttonComponents_button__1hvQa img {
    width: 16px;
    height: 16px;
    object-fit: contain
}

.buttonComponents_button__1hvQa img.buttonComponents_lgImg__2-hZO {
    width: 40px;
    height: 40px;
    object-fit: contain
}

.buttonComponents_button__1hvQa img.buttonComponents_mdImg__G1pNE {
    width: 24px;
    height: 24px;
    object-fit: contain
}

.buttonComponents_button__1hvQa img.buttonComponents_smMdImg__2IOAr {
    width: 12px;
    height: 12px;
    object-fit: contain
}

.buttonComponents_button__1hvQa img.buttonComponents_smImg__1vYDM {
    width: 6px;
    height: 6px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w {
    border-radius: 500px;
    padding: 6px
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_lgImg__2-hZO {
    padding: 8px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_smImg__1vYDM {
    padding: 6px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_blue__1FlTU {
    background-color: #2f80ed
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_black__3vMzB {
    background-color: #202224
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_blueBlack__2HIFu {
    background-color: #34383b
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_gray__1blI9 {
    background-color: #6c7378
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_lightGray__cqa_C {
    background-color: #a5a9ac
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_lighterGray__3zfxC {
    background-color: #ced2d4
}

.buttonComponents_button__1hvQa.buttonComponents_circle__2iQ3w.buttonComponents_whiteGray__25YEf {
    background-color: #f7f8f9
}

.buttonComponents_button__1hvQa.buttonComponents_radius__2l9SM {
    border-radius: 50px;
    border: 1px solid #ced2d4;
    padding: 8px 16px
}

.buttonComponents_button__1hvQa.buttonComponents_radius__2l9SM.buttonComponents_lg__2b7Uv {
    width: 100%
}

.buttonComponents_button__1hvQa.buttonComponents_radius__2l9SM.buttonComponents_md__26Zib {
    padding: 13px 24px
}

.buttonComponents_button__1hvQa.buttonComponents_radius__2l9SM.buttonComponents_blue__1FlTU {
    background-color: #2f80ed;
    color: #fff
}

.buttonComponents_button__1hvQa.buttonComponents_radius__2l9SM.buttonComponents_mdImg__G1pNE {
    width: 20px;
    height: 20px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r {
    border: 1px solid #ced2d4;
    padding: 8px 16px;
    border-radius: 6px
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r.buttonComponents_lg__2b7Uv {
    width: 100%
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r.buttonComponents_md__26Zib {
    padding: 13px 24px
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r.buttonComponents_red__3SLsc {
    border-color: #ea6560;
    background-color: #ea6560;
    color: #fff
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r.buttonComponents_gray__1blI9 {
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    color: #222
}

.buttonComponents_button__1hvQa.buttonComponents_square__3hf2r.buttonComponents_darkgray__3p-yN {
    border-color: #4b4b4b;
    background-color: #4b4b4b;
    color: #fff
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_blue__1FlTU {
    color: #2f80ed
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_black__3vMzB {
    color: #202224
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_gray__1blI9 {
    color: #6c7378;
    font-size: 13px
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_red__3SLsc {
    color: #ea6560
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_lightGray__cqa_C {
    color: #a5a9ac
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_lgImg__2-hZO {
    padding: 8px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_smImg__1vYDM {
    padding: 6px;
    object-fit: contain
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_active__1yd8_ {
    background-color: #333
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_active__1yd8_ img {
    -webkit-filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%);
    filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%)
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_tagActive__24sZo {
    color: #ea6560;
    background: rgba(234, 101, 96, .08);
    border-radius: 4px
}

.buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_categoryActive__31E3q {
    padding: 15px 0 !important;
    font-weight: 700;
    border-bottom: 2px solid #ea6560;
    color: #ea6560;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.buttonComponents_button__1hvQa span.buttonComponents_blue__1FlTU {
    color: #2f80ed
}

.buttonComponents_button__1hvQa span.buttonComponents_black__3vMzB {
    color: #202224
}

.buttonComponents_button__1hvQa span.buttonComponents_gray__1blI9 {
    color: #6c7378;
    font-size: 13px
}

.buttonComponents_button__1hvQa span.buttonComponents_lightGray__cqa_C {
    color: #a5a9ac
}

.buttonComponents_modifyAndDeleteBtn__2sJd- {
    position: absolute;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    right: 0;
    top: 70%;
    border-radius: 6px;
    -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, .25);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .25);
    padding: 6px;
    z-index: 99;
    background-color: #fff;
    display: none
}

.buttonComponents_modifyAndDeleteBtn__2sJd- li {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.buttonComponents_modifyAndDeleteBtn__2sJd- li + li {
    border-top: 1px solid #6c7378
}

.buttonComponents_modifyAndDeleteBtn__2sJd- button {
    font-size: 14px;
    line-height: 16px;
    color: #202224;
    padding: 6px 0;
    width: 55px
}

@media screen and (max-width: 1000px) {
    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_blue__1FlTU {
        color: #2f80ed
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_black__3vMzB {
        color: #202224
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_gray__1blI9 {
        color: #6c7378
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_red__3SLsc {
        color: #ea6560
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_lightGray__cqa_C {
        color: #a5a9ac
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_lgImg__2-hZO {
        padding: 8px;
        object-fit: contain
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_smImg__1vYDM {
        padding: 6px;
        object-fit: contain
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_active__1yd8_ {
        background-color: #333
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_active__1yd8_ img {
        -webkit-filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%);
        filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%)
    }

    .buttonComponents_button__1hvQa.buttonComponents_plain__1ljW5.buttonComponents_tagActive__24sZo {
        color: #ea6560;
        background: rgba(234, 101, 96, .08);
        border-radius: 100px
    }
}

.userInformationComponents_userSection__e5kcJ {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.userInformationComponents_userTag__2VKLg {
    margin-bottom: 16px;
    display: -moz-box;
    display: flex;
    grid-gap: 6px;
    gap: 6px;
    flex-wrap: wrap;
    margin-left: 3px
}

.userInformationComponents_userTag__2VKLg div {
    margin: 0 !important;
    flex-shrink: 0
}

.userInformationComponents_profile__2pr8a {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-left: 3px
}

.userInformationComponents_profileLeftGroup__1lq6K, .userInformationComponents_profileLeftGroupLeftBox__2YqvE {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.userInformationComponents_profileLeftGroupLeftBox__2YqvE {
    grid-gap: 4px;
    gap: 4px
}

.userInformationComponents_profileImg__3qJcX {
    border-radius: 100%;
    background-color: #ddd;
    margin-right: 16px;
    flex-shrink: 0;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    overflow: hidden
}

.userInformationComponents_profileImg__3qJcX img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover
}

.userInformationComponents_profileName__3l0ya {
    font-size: 16px;
    color: #202224;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row-reverse;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer
}

.userInformationComponents_profileNameHover__2g82C {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100px;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    top: 25px;
    left: 0;
    padding: 8px 6px;
    border: 1px solid #dfe3e4;
    border-radius: 4px;
    grid-gap: 10px;
    gap: 10px
}

.userInformationComponents_profileNameHover__2g82C button {
    position: relative;
    width: 100%;
    -moz-box-pack: start;
    justify-content: flex-start;
    padding: 4px 0
}

.userInformationComponents_profileNameHover__2g82C button:after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #dfe3e4;
    position: absolute;
    top: 29px
}

.userInformationComponents_profileNameHover__2g82C button:last-child:after {
    width: 0
}

.userInformationComponents_profileNameHover__2g82C button:hover {
    font-weight: 700
}

.userInformationComponents_profileName__3l0ya:hover .userInformationComponents_profileNameHover__2g82C {
    display: -moz-box;
    display: flex
}

.userInformationComponents_profileLevel__6Bl4w {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0
}

.userInformationComponents_profileLevel__6Bl4w img {
    width: 30px;
    height: 24px;
    object-fit: contain
}

.userInformationComponents_profileRightGroup__3Ro_j {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    position: relative
}

.userInformationComponents_profileRightGroupModifyBox__3xfKH {
    display: -moz-box;
    display: flex;
    position: relative
}

.userInformationComponents_profileRightGroupModifyBox__3xfKH:hover .userInformationComponents_profileRightGroupModifyBoxModal__1csNJ {
    display: -moz-box;
    display: flex
}

.userInformationComponents_profileRightGroupModifyBoxModal__1csNJ {
    position: absolute;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    min-width: 50px;
    background-color: #fff;
    border: 1px solid #dfe3e4;
    border-radius: 4px;
    padding: 8px 6px;
    left: -30px;
    bottom: -30px;
    grid-gap: 10px;
    gap: 10px;
    display: none;
}

.userInformationComponents_profileRightGroupModifyBoxModal__1csNJ button:hover {
    font-weight: 700
}

.userInformationComponents_userReplySection__3ty7Q {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileImg__3qJcX {
    margin-right: 0
}

.userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileImg__3qJcX .userInformationComponents_smImg__2uLTY {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover
}

.userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLeftGroup__1lq6K {
    grid-gap: 12px;
    gap: 12px
}

.userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileName__3l0ya {
    font-size: 14px;
    color: #202224;
    line-height: 20px
}

.userInformationComponents_userReplySection__3ty7Q .userInformationComponents_recordTime__LAQ3h {
    font-size: 14px;
    line-height: 20px;
    color: #6c7378
}

@media screen and (max-width: 600px) {
    .userInformationComponents_profile__2pr8a {
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 12px
    }

    .userInformationComponents_profileLeftGroup__1lq6K {
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center
    }

    .userInformationComponents_profileImg__3qJcX {
        border-radius: 100%;
        background-color: #ddd;
        margin-right: 16px;
        flex-shrink: 0;
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        overflow: hidden
    }

    .userInformationComponents_profileImg__3qJcX img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        object-fit: cover
    }

    .userInformationComponents_profileName__3l0ya {
        font-size: 16px;
        color: #202224
    }

    .userInformationComponents_profileLevel__6Bl4w, .userInformationComponents_profileName__3l0ya {
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center
    }

    .userInformationComponents_profileLevel__6Bl4w {
        margin-right: 8px;
        flex-shrink: 0
    }

    .userInformationComponents_profileLevel__6Bl4w img {
        width: 30px;
        height: 24px;
        object-fit: contain
    }

    .userInformationComponents_profileRightGroup__3Ro_j {
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        grid-gap: 10px;
        gap: 10px;
        position: relative
    }

    .userInformationComponents_profileRightGroupFollow__kBAl7 button {
        padding: 8px 4px 8px 8px !important;
        font-size: 0;
        color: transparent
    }

    .userInformationComponents_userReplySection__3ty7Q {
        display: -moz-box;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileImg__3qJcX {
        margin-right: 0
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileImg__3qJcX .userInformationComponents_smImg__2uLTY {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        object-fit: cover
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLeftGroup__1lq6K {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: start;
        align-items: flex-start;
        grid-gap: 4px;
        gap: 4px
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLeftGroupTagBox__1IPyA {
        flex-shrink: 0;
        margin-right: 2px
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLeftGroupTagBox__1IPyA div {
        flex-shrink: 0;
        padding: 2px 6px !important
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileName__3l0ya {
        font-size: 12px;
        color: #202224;
        line-height: 20px
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLevel__6Bl4w {
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        margin-right: 3px;
        flex-shrink: 0
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_profileLevel__6Bl4w img {
        width: 30px;
        height: 24px;
        object-fit: contain
    }

    .userInformationComponents_userReplySection__3ty7Q .userInformationComponents_recordTime__LAQ3h {
        font-size: 12px;
        line-height: 20px;
        color: #6c7378
    }
}

.chatComponents_chatSelectListItem__YY0zl {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_radio__2hL67 {
    width: 18px;
    height: 18px;
    border: 1px solid #e3e3e3;
    border-radius: 100px;
    position: relative;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 10px
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_radio__2hL67.chatComponents_active__2kNrC:before {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #ea6560;
    border-radius: 100px
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_chatSelectListBox__1V1pz {
    -moz-box-flex: 1;
    flex: 1 1;
    margin-left: 8px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 12px 10px;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: start;
    justify-content: flex-start;
    text-align: start
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_chatSelectListBoxTop__2ME07 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 6px
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_chatSelectListBoxTopTagGroup__3Iapp {
    grid-gap: 4px;
    gap: 4px;
    display: -moz-inline-box;
    display: inline-flex
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_chatSelectListBoxTopTagGroup__3Iapp div {
    margin-left: 0
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_dateTxt__XV8Kc {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    color: #999
}

.chatComponents_chatSelectListItem__YY0zl .chatComponents_taskTxt__3o2fi {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #333;
    word-break: keep-all
}

.chatComponents_chatUserListItem__wvVYm {
    display: -moz-box;
    display: flex;
    padding: 5px
}

.chatComponents_chatUserListItem__wvVYm, .chatComponents_chatUserListItemImageWrap__RrQm5 {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.chatComponents_chatUserListItemImageWrap__RrQm5 {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center
}

.chatComponents_chatUserListItemImageWrap__RrQm5 img {
    width: 24px;
    height: 24px;
    object-fit: cover
}

.chatComponents_chatUserListItemName__1Y5iU {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    color: #999
}

.chatComponents_chatUserListItem__wvVYm :hover {
    font-weight: 700;
    color: #000
}

.chatComponents_chatInputWrap__1nQvp {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 16px
}

.chatComponents_chatInputWrap__1nQvp input {
    -moz-box-flex: 1;
    flex: 1 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    padding: 6.5px 16px;
    height: auto
}

.chatComponents_chatInputWrap__1nQvp input:active {
    border: 1px solid #000
}

.chatComponents_chatInputWrap__1nQvp button {
    width: 20px;
    height: 20px;
    margin-left: 16px
}

.chatComponents_chatInputWrap__1nQvp button img {
    width: 20px;
    height: 20px;
    object-fit: contain
}

.chatComponents_chatImgWrap__29_HO {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    grid-gap: 4px;
    gap: 4px;
    max-width: 300px;
    flex-wrap: wrap
}

.chatComponents_chatImgWrapBox__2eWWZ {
    max-width: 84px;
    min-width: 84px;
    width: 100%;
    height: 84px;
    overflow: hidden;
    border-radius: 8px
}

.chatComponents_chatImgWrapBox__2eWWZ a img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.chatComponents_chatProfileWrap__1SDfG {
    width: 280px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 0
}

.chatComponents_chatProfileWrapTop__2u0OV {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-align: start;
    align-items: flex-start;
    padding-bottom: 12px;
    position: relative
}

.chatComponents_chatProfileWrapTopUserPic__2pttt {
    position: relative
}

.chatComponents_chatProfileWrapTopUserPicPeopleThumb__3G63v {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 12px
}

.chatComponents_chatProfileWrapTopUserPicPeopleThumb__3G63v img {
    width: 48px;
    height: 48px;
    object-fit: cover
}

.chatComponents_chatProfileWrapTopRight__3wxXC {
    white-space: normal;
    position: relative;
    width: 100% !important;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.chatComponents_chatProfileWrapTopRightTop__1vu61 {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.chatComponents_chatProfileWrapTopRightTop__1vu61 img {
    width: 28px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px
}

.chatComponents_chatProfileWrapTopRightTop__1vu61 p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: left;
    color: #42495b;
    display: inline-block;
    position: relative;
    letter-spacing: -.3px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.chatComponents_chatProfileWrapTopRightTopCertiWrap__11biu {
    width: 18px;
    height: 18px;
    margin-left: 5px
}

.chatComponents_chatProfileWrapTopRightTopCertiWrap__11biu img {
    width: 18px;
    height: 18px;
    object-fit: cover
}

.chatComponents_chatProfileWrapTopRightBottom__17l39 {
    font-size: 14px;
    color: #333;
    display: -moz-box;
    display: flex;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left
}

.chatComponents_chatProfileWrapBottom__1e_Ks {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 12px;
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    overflow: hidden;
    border-top: 1px solid #ededed;
    flex-wrap: wrap;
    grid-gap: 4px;
    gap: 4px
}

.chatComponents_chatProfileWrapBottom__1e_Ks div {
    margin-left: 0 !important
}

@media screen and (max-width: 500px) {
    .chatComponents_chatImgWrap__29_HO {
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        grid-gap: 4px;
        gap: 4px;
        max-width: 250px;
        flex-wrap: wrap
    }

    .chatComponents_chatImgWrapBox__2eWWZ {
        max-width: 80px;
        min-width: 80px;
        width: 100%;
        height: 80px;
        overflow: hidden;
        border-radius: 8px
    }

    .chatComponents_chatImgWrapBox__2eWWZ a img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.chatComponents_chatTypingWrap__1xi2Y {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.chatComponents_chatTypingWrap__1xi2Y img {
    width: 18px;
    height: 18px;
    object-fit: contain
}

.chatComponents_chatTypingWrap__1xi2Y span {
    font-size: 11px;
    color: #666
}

.chatComponents_chatProfileWrap__1SDfG {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 255px;
    -moz-box-flex: 0;
    flex: none
}

.replyComponent_reply__3l-Wc {
    -moz-box-orient: vertical;
    flex-direction: column;
    margin-top: 16px
}

.replyComponent_reply__3l-Wc, .replyComponent_replyButtonBox__2O3ME {
    display: -moz-box;
    display: flex;
    -moz-box-direction: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.replyComponent_replyButtonBox__2O3ME {
    -moz-box-orient: horizontal;
    flex-direction: row;
    width: 100%;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 10px
}

.replyComponent_replyOnOff__QKoso {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: end;
    justify-content: flex-end
}

.replyComponent_replyBox__1duHS {
    padding: 0
}

.replyComponent_replyBox__1duHS, .replyComponent_replyFilter__10kow {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.replyComponent_replyFilter__10kow {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.replyComponent_replyFilter__10kow button {
    margin-right: 20px
}

.replyComponent_replyFilter__10kow button img {
    margin-right: 8px
}

.replyComponent_replyContainer__3dxJZ + .replyComponent_replyContainer__3dxJZ {
    margin-top: 16px
}

.replyComponent_replyContainer__3dxJZ .replyComponent_replyContainer__3dxJZ {
    margin-top: 24px;
    margin-left: 14px
}

.replyComponent_replyContainer__3dxJZ .replyComponent_replyContainer__3dxJZ .replyComponent_replyContent__3iS4J:last-child {
    margin-bottom: 0
}

.replyComponent_replyContent__3iS4J {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 14px
}

.replyComponent_replyOpenAndLikeButtonGroup__3r9hv {
    -moz-box-pack: start;
    justify-content: flex-start;
    margin-top: 24px
}

.replyComponent_replyButtonGroup__2i0ow, .replyComponent_replyOpenAndLikeButtonGroup__3r9hv {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 12px;
    gap: 12px
}

.replyComponent_replyButtonGroup__2i0ow {
    margin-top: 6px;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 100%
}

.replyComponent_replyButtonGroupCount__j0XkV {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.replyComponent_replyButtonGroupCount__j0XkV span {
    font-size: 14px
}

.replyComponent_replyButtonGroupCount__j0XkV span:first-child {
    color: #333;
    margin-right: 2px
}

.replyComponent_replyButtonGroupCount__j0XkV span:last-child {
    color: #b1b1b1;
    margin-left: 2px
}

.replyComponent_replyInputBox__2yLKK {
    display: -moz-box;
    display: none;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: end;
    align-items: flex-end;
    margin-top: 12px;
    margin-bottom: 20px;
    border: 1px solid #dfe3e4;
    padding: 16px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px
}

.replyComponent_reply__3l-Wc .replyComponent_replyInputBox__2yLKK .replyComponent_replyInputContainer__3TJW8 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 100%;
    grid-gap: 12px;
    gap: 12px
}

.replyComponent_reply__3l-Wc .replyComponent_replyInputBox__2yLKK .replyComponent_replyInputContainer__3TJW8 .replyComponent_replyInput__2vKhX {
    width: 100%;
    height: 60px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: 0
}

.replyComponent_reply__3l-Wc .replyComponent_replyInputBox__2yLKK .replyComponent_replyInputContainer__3TJW8 .replyComponent_replyButtonGroup__2i0ow {
    display: -moz-box;
    display: flex;
    flex-shrink: 0;
    grid-gap: 4px;
    gap: 4px
}

.replyComponent_reply__3l-Wc .replyComponent_replyInputBox__2yLKK .replyComponent_replyInputContainer__3TJW8 .replyComponent_replyButtonGroup__2i0ow button {
    padding: 0
}

.replyComponent_replyOfCommentContainer__2bLgx {
    border: 1px solid #dfe3e4;
    padding: 16px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 24px
}

.replyComponent_replyOfCommentContainer__2bLgx:after {
    position: relative;
    display: block;
    width: -moz-calc(100% + 48px);
    width: calc(100% + 48px);
    height: 1px;
    background-color: #f7f8f9;
    content: "";
    left: -24px;
    bottom: -40px
}

.replyComponent_replyOfCommentContainer__2bLgx textarea {
    width: 100%;
    resize: none;
    border: 0
}