.carousel.carousel-slider .control-arrow, .carousel .control-arrow {
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    transition: all .25s ease-in;
    opacity: .4;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer
}

.carousel .control-arrow:focus, .carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel.carousel-slider .control-arrow:before, .carousel .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ""
}

.carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none
}

.carousel .control-prev.control-arrow {
    left: 0
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff
}

.carousel .control-next.control-arrow {
    right: 0
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff
}

.carousel-root {
    outline: none
}

.carousel {
    position: relative;
    width: 100%
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none
}

.carousel .carousel {
    position: relative
}

.carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden
}

.carousel .thumbs {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    list-style: none;
    white-space: nowrap
}

.carousel .thumb {
    -webkit-transition: border .15s ease-in;
    -moz-transition: border .15s ease-in;
    transition: border .15s ease-in;
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px
}

.carousel .thumb:focus {
    border: 3px solid #ccc;
    outline: none
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid #333
}

.carousel .thumb img {
    vertical-align: top
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, .2)
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height .15s ease-in;
    -moz-transition: height .15s ease-in;
    transition: height .15s ease-in
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -moz-box;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    flex-flow: column
}

.carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -moz-box;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-vertical .slider {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%
}

.carousel .slider.animated {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0
}

.carousel .slide iframe {
    display: inline-block;
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px);
    margin: 0 40px 40px;
    border: 0
}

.carousel .slide .legend {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: .25;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media (min-width: 960px) {
    .carousel .control-dots {
        bottom: 0
    }
}

.carousel .control-dots .dot {
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    color: #fff
}

.carousel:hover .slide .legend {
    opacity: 1
}

.NewfeedProjectCardComponents_card__23YU7 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    position: relative
}

.NewfeedProjectCardComponents_cardProjectListRadio__3QTxW {
    background-color: #c4c4c4;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0
}

.NewfeedProjectCardComponents_cardProjectListRadio__3QTxW:checked + div {
    background-color: #c4c4c4;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .4
}

.NewfeedProjectCardComponents_cardMore__10pCd {
    border-top: 1px solid #dfe3e4;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 0;
    padding-top: 16px
}

.NewfeedProjectCardComponents_cardMore__10pCd, .NewfeedProjectCardComponents_cardMoreUserInformation__2T-w2 {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.NewfeedProjectCardComponents_cardMoreUserInformation__2T-w2 {
    display: block
}

.NewfeedProjectCardComponents_cardMoreUserInformation__2T-w2 span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6c7378
}

.NewfeedProjectCardComponents_cardMoreUserInformation__2T-w2 span:nth-child(2) {
    color: #a5a9ac;
    margin-left: 3px
}

.NewfeedProjectCardComponents_cardMore__10pCd button img {
    opacity: 1
}

.NewfeedProjectCardComponents_cardContent__6d7Oi {
    border: 1px solid #dfe3e4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    text-align: start;
    margin-right: 10px
}

.NewfeedProjectCardComponents_cardContentImage__1ub-T, .NewfeedProjectCardComponents_cardContentImageInformation__tSY1H {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row
}

.NewfeedProjectCardComponents_cardContentImage__1ub-T {
    width: 140px;
    height: 60px;
    margin-right: 16px;
    border: 1px solid #eaeaea
}

.NewfeedProjectCardComponents_cardContentImage__1ub-T img {
    width: 140px;
    height: 60px;
    object-fit: contain
}

.NewfeedProjectCardComponents_cardContentInformation__lNFVs {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    grid-gap: 4px;
    gap: 4px
}

.NewfeedProjectCardComponents_cardContentInformationStatus__13UWt {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #2f80ed
}

.NewfeedProjectCardComponents_cardContentInformationCategory__2GHX1 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #6c7378
}

.NewfeedProjectCardComponents_cardContentInformationTitle__1jcN- {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #202224
}

.NewfeedProjectCardComponents_cardContentProjectTagFavorite__2slSc {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    margin-top: 16px
}

.NewfeedProjectCardComponents_cardContentProjectTagFavorite__2slSc .NewfeedProjectCardComponents_tagAndHeart__2tAxi {
    margin-left: 15px
}

.NewfeedProjectCardComponents_cardContentProjectTagFavoriteTagBox__3_Yd7 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    grid-gap: 4px;
    gap: 4px
}

.NewfeedProjectCardComponents_cardContentProjectTagFavoriteTagBox__3_Yd7 div {
    margin: 0 !important
}

.loungeCardContentsComponents_loungeContents__262-A {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 10px;
    border: 1px solid #ececec;
    border-radius: 6px
}

.loungeCardContentsComponents_loungeContents__262-A h1 {
    font-size: 18px
}

.loungeCardContentsComponents_loungeContents__262-A p {
    font-size: 14px
}

.loungeCardContentsComponents_loungeContentsTagBox__2Y11b {
    margin-bottom: 16px
}

.loungeCardContentsComponents_loungeContentsTagMoreBox__1oKkG {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px
}

.loungeCardContentsComponents_loungeContentsRight__14cdz {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 6px;
    gap: 6px
}

.loungeCardContentsComponents_loungeContentsMore__2AXVI {
    position: relative;
    display: -moz-inline-box;
    display: inline-flex
}

.loungeCardContentsComponents_loungeContentsMore__2AXVI:hover .loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo {
    display: -moz-box;
    display: flex
}

.loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo {
    position: absolute;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    min-width: 50px;
    background-color: #fff;
    border: 1px solid #dfe3e4;
    border-radius: 4px;
    padding: 8px 6px;
    left: -25px;
    bottom: -56px;
    grid-gap: 10px;
    gap: 10px;
    display: none
}

.loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo button {
    position: relative
}

.loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo button:hover {
    font-weight: 700
}

.loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo button:after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #dfe3e4;
    position: absolute;
    top: 21px
}

.loungeCardContentsComponents_loungeContentsMoreButtonBox__2jERo button:last-child:after {
    width: 0
}

.loungeCardContentsComponents_loungeContentsTitleBox__2NtjH {
    margin-top: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.loungeCardContentsComponents_loungeContentsTitleBoxNewsTxt__9_Iok {
    font-size: 13px;
    line-height: 13px;
    color: #a5a9ac;
    margin-top: -15px;
    margin-bottom: 5px;
}

.loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px
}

.loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_title__1s8RE {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #202224;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-flex: 1;
    flex: 1 1
}

.loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_titleProjectTypeTxt__17m1l {
    color: #ea6560;
    font-weight: 400;
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_titleProjectTypeTxt__17m1l:after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #a5a9ac;
    border-radius: 100px;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px
}

.loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_date__3pY5X {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6c7378;
    margin-left: 12px;
    word-break: keep-all
}

.loungeCardContentsComponents_loungeContentsAreaDefault__3QCG4 {
    max-height: 150px;
    overflow: hidden;
    font-size: 14px
}

.loungeCardContentsComponents_loungeContentsAreaDefault__3QCG4 p {
    font-size: 14px
}

.loungeCardContentsComponents_loungeContentsAreaDefault__3QCG4 p:empty:before {
    content: " ";
    white-space: pre
}

.loungeCardContentsComponents_loungeContentsAreaDefault__3QCG4 h1 {
    font-size: 18px
}

.loungeCardContentsComponents_loungeContentsAreaExpand__3U5Se {
    height: auto;
    overflow: auto;
    font-size: 14px
}

.loungeCardContentsComponents_loungeContentsAreaExpand__3U5Se p {
    font-size: 14px
}

.loungeCardContentsComponents_loungeContentsAreaExpand__3U5Se p:empty:before {
    content: " ";
    white-space: pre
}

.loungeCardContentsComponents_loungeContentsAreaExpand__3U5Se h1 {
    font-size: 18px
}

.loungeCardContentsComponents_loungeContentsMoreButtonWrap__1LR4v {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: end;
    justify-content: flex-end;
    margin-top: 12px
}

@media screen and (max-width: 1000px) {
    .loungeCardContentsComponents_loungeContents__262-A {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 12px;
        border: 1px solid #ececec;
        border-radius: 6px
    }

    .loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 {
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 24px
    }

    .loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_title__1s8RE {
        word-break: break-all;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #202224;
        display: -moz-box;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        width: 100%;
        -moz-box-align: start;
        align-items: flex-start;
        -moz-box-flex: 1;
        flex: 1 1
    }

    .loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_titleProjectTypeTxt__17m1l {
        color: #ea6560;
        font-weight: 400;
        display: -moz-inline-box;
        display: inline-flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        font-size: 12px
    }

    .loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_titleProjectTypeTxt__17m1l:after {
        content: "";
        width: 0;
        height: 0;
        background-color: transparent;
        border-radius: 100px;
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px
    }

    .loungeCardContentsComponents_loungeContentsTitleDate__1-Xd2 .loungeCardContentsComponents_date__3pY5X {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #6c7378;
        margin-left: 12px;
        word-break: keep-all
    }
}

.loungeCategoryComponents_LoungeCateogrydBox__2qOMw {
    max-width: 265px;
    width: 100%
}

.loungeCategoryComponents_LoungeCateogrydBox__2qOMw .loungeCategoryComponents_title__1E-7S {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ea6560;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 16px
}

.loungeCategoryComponents_LoungeCateogrydBox__2qOMw button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6c7378;
    padding: 13px 16px
}

@media (max-width: 767px) {
    .loungeCategoryComponents_LoungeCateogrydBox__2qOMw {
        max-width: 265px;
        width: 100%
    }

    .loungeCategoryComponents_LoungeCateogrydBox__2qOMw .loungeCategoryComponents_title__1E-7S {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #ea6560;
        border-radius: 6px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 13px 16px
    }

    .loungeCategoryComponents_LoungeCateogrydBox__2qOMw button {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #6c7378;
        padding: 13px 16px
    }
}

.editor_modalBg__vrvpK {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    z-index: 99;
    overflow: hidden;
    display: flex
}

.editor_editor__1_gKv {
    max-width: 1200px;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 9px
}

.editor_editor__1_gKv .editor_closeButtonBox__3DNm6 {
    position: absolute;
    right: 16px;
    top: 16px
}

.editor_editor__1_gKv .editor_closeButtonBox__3DNm6 button {
    width: 40px;
    height: 40px
}

.editor_editor__1_gKv .editor_closeButtonBox__3DNm6 button img {
    width: 20px;
    height: 20px
}

.editor_editorTitle__1iW_w {
    width: 100%;
    padding: 0;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center
}

.editor_editorTitle__1iW_w input {
    height: auto;
    padding-top: 0;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #222
}

.editor_editorTitle__1iW_w input ::-webkit-input-placeholder {
    color: #a5a9ac;
    font-weight: 300
}

.editor_editorTitle__1iW_w input ::-moz-placeholder {
    color: #a5a9ac;
    font-weight: 300
}

.editor_editorTitle__1iW_w input :-ms-input-placeholder {
    color: #a5a9ac;
    font-weight: 300
}

.editor_editorTitle__1iW_w input ::placeholder {
    color: #a5a9ac;
    font-weight: 300
}

.editor_editorWrap__3XZTe {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

.editor_editorWrapTempBox__F8pb0 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    background-color: #eaf3ff;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 16px 0 12px
}

.editor_editorWrapTempBox__F8pb0 .editor_closeButtonBox__3DNm6 {
    position: absolute;
    right: 3px;
    top: 8px
}

.editor_editorWrapTempBox__F8pb0 p {
    font-size: 14px;
    color: #2f80ed
}

.editor_editorWrapOptionBox__1NZ8l {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    background: #f7f8f9;
    border-bottom: 1px solid #ced2d4;
    padding: 12px 16px
}

.editor_editorWrapOptionBox__1NZ8l, .editor_editorWrapOptionBoxLeft__1FbEj {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapOptionBoxLeft__1FbEj {
    display: -moz-inline-box;
    display: inline-flex
}

.editor_editorWrapOptionBoxLeft__1FbEj button {
    width: 32px;
    height: 32px;
    border-radius: 4px
}

.editor_editorWrapOptionBoxLeft__1FbEj button:hover {
    background: #202224
}

.editor_editorWrapOptionBoxLeft__1FbEj button:hover img {
    -webkit-filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%);
    filter: invert(100%) sepia(8%) saturate(4818%) hue-rotate(12deg) brightness(124%) contrast(108%)
}

.editor_editorWrapOptionBoxLeft__1FbEj button img {
    width: 24px;
    height: 24px
}

.editor_editorWrapOptionBoxLeft__1FbEj .editor_divider__IEObk {
    width: 15px;
    height: 0;
    border: 1px solid #ced2d4;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 12px;
    margin-right: 12px
}

.editor_editorWrapOptionBoxRight__3-F6V {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapOptionBoxRight__3-F6V button {
    width: 32px;
    height: 32px
}

.editor_editorWrapOptionBoxRight__3-F6V button img {
    width: 24px;
    height: 24px
}

.editor_editorWrapTextareaBox__1y5M2 {
    width: 100%;
    height: 100%
}

.editor_editorWrapTextareaBox__1y5M2 textarea {
    width: 100%;
    resize: none;
    border: 0
}

.editor_editorWrapFileStorageBox__3lqq4 {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding: 24px 16px;
    border-top: 1px solid #ced2d4;
    border-bottom: 1px solid #ced2d4
}

.editor_editorWrapFileStorageBox__3lqq4 .editor_noticeTxt__1jbKG {
    font-size: 13px;
    line-height: 19px;
    color: #6c7378;
    margin-bottom: 12px
}

.editor_editorWrapFileStorageBoxList__2sVYD {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    grid-gap: 12px;
    gap: 12px
}

.editor_editorWrapFileStorageBoxList__2sVYD li {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxList__2sVYD li span {
    font-size: 14px;
    color: #202224
}

.editor_editorWrapFileStorageBoxListLeft__3Pyi5 {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxListLeft__3Pyi5 img {
    width: 24.56;
    height: 24.56;
    object-fit: cover
}

.editor_editorWrapFileStorageBoxListRight__1upB1 {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxListRight__1upB1 button {
    margin-left: 13px
}

.editor_editorWrapFileStorageBoxListRight__1upB1 button img {
    width: 16.37;
    height: 16.37
}

.editor_editorWrapButtonBox__BGuMQ {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-top: 24px
}

.editor_editorWrapButtonBoxLeft__cdKqe, .editor_editorWrapButtonBoxRight__2XJ2O {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 4px;
    gap: 4px
}

.editor_editorWrapFileStorageBoxListItem__38VeV {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxListItem__38VeV span {
    font-size: 14px;
    color: #202224
}

.editor_editorWrapFileStorageBoxListItemLeft__sR3cz {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxListItemLeft__sR3cz img {
    width: 24.56px;
    height: 24.56px;
    object-fit: cover
}

.editor_editorWrapFileStorageBoxListItemRight__2G8xl, .editor_editorWrapFileStorageBoxListItemRight__2G8xl div {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.editor_editorWrapFileStorageBoxListItemRight__2G8xl div span {
    font-size: 12px
}

.editor_editorWrapFileStorageBoxListItemRight__2G8xl button {
    margin-left: 13px
}

.editor_editorWrapFileStorageBoxListItemRight__2G8xl button img {
    width: 16.37px;
    height: 16.37px
}

.loungeTrendComponents_LoungeTrendBox__2LuCJ h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-bottom: 12px
}

.loungeTrendComponents_LoungeTrendContainer__1xnsy {
    background: #f7f8f9;
    border-radius: 6px;
    padding: 20px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    grid-gap: 12px;
    gap: 12px;
    max-width: 265px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd .loungeTrendComponents_LoungeLankingTxt__vlofS {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin-right: 16px
}

.loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd button:hover span {
    font-weight: 500
}

.loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd button span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #202224
}

.loungeTrendComponents_LoungeTrendContainerListTypeA__3y_Hd button img {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px
}

.loungeTrendComponents_LoungeTrendContainerListTypeB__vrfuU {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center
}

.loungeTrendComponents_LoungeTrendContainerListTypeB__vrfuU .loungeTrendComponents_LoungeLankingTxt__vlofS {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin-right: 16px
}

.loungeTrendComponents_LoungeTrendContainerListTypeB__vrfuU button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #202224
}

.loungeTrendComponents_LoungeTrendContainerListTypeB__vrfuU span {
    font-size: 14px;
    color: #6c7378;
    line-height: 20px;
    margin-right: 12px
}