<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- END HEADER -->

<!-- START MENUBAR HEADER -->
<div class="fold_area tabled animate" th:fragment="adminMenuBarHeader">
    <div class="table-cell vertical-middle">
        <a href="#" class="logo_icon_menu"> <!-- 관리자 메인 메뉴로 이동 -->
            <img src="/images/admin/removedlogo.png"> <!-- 좌측 상단 로고 -->
        </a>
    </div>
</div> <!-- END MENUBAR HEADER -->

<!-- BEGIN MENUBAR-->
<div id="menubar" class="animate" th:fragment="adminMenu">
    <div class="menubarContent" tabindex="0">
        <div class="menubar-scroll-panel">
            <div class="tabled full-width">
                <div class="adminLogo">
                    <img src="https://testchoo.imweb.me/common/img/flag_shapes/flag_kr_circle.png" width="20" height="20"> <!-- 사진 변경 필요 -->
                </div>
                <div class="brand-holder">
                    <span class="title">NEOS</span>
                </div>
            </div>


            <ul id="main-menu" class="gui-controls">
                <li class="  " data-title="preview">
                    <a href="#" target="_blank"> <!-- 우리 cosmos 홈페이지 url 교체 필요 -->
                        <div class="gui-icon">
                            <i class="db-preview"></i>
                        </div>
                        <span class="title">사이트 바로가기</span>
                    </a>
                </li>

                <li class="spacer"></li> <!-- 공간 여백 div -->

                <li class="active expanded expanding" data-title="adminPage">
                    <a href="#"> <!-- 관리자 메인 화면 링크-->
                        <div class="gui-icon">
                            <i class="db-dashboard"></i>
                        </div>
                        <span class="title">관리자 홈</span>
                    </a>
                </li>

                <li class="gui-folder" data-title="member"> <!-- 현재 이동한 페이지의 카테고리를 활성화 시켜줘야함 -->
                    <a href="#" class="sidebar-nav-menu" onclick="return false;">
                        <div class="gui-icon">
                            <i class="db-user"></i>
                        </div>
                        <span class="title">사용자 관리</span>
                    </a>
                    <ul>
                        <li class="  " data-title="memberList">
                            <a href="#">   <!-- 이동할 페이지 url 작성 -->
                                <span class="title">사용자 목록</span>
                            </a>
                        </li>
                        <li class="  " data-title="companyList">  <!-- a태그의 클래스명이 li 태그 클래스에 출가된다. 활성화 된 클래스 표시(active) -->
                            <a href="#">  <!-- 해당 페이지의 목록에 active가 들어가야지 음영처리가된다. -->
                                <span class="title">대학교 목록</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="gui-folder" data-title="member"> <!-- 현재 이동한 페이지의 카테고리를 활성화 시켜줘야함 -->
                    <a href="#" class="sidebar-nav-menu" onclick="return false;">
                        <div class="gui-icon">
                            <i class="db-user"></i>
                        </div>
                        <span class="title">컨텐츠 관리</span>
                    </a>
                    <ul>
                        <li class="  " data-title="studyList">
                            <a href="#">   <!-- 이동할 페이지 url 작성 -->
                                <span class="title">스터디 게시글 관리</span>
                            </a>
                        </li>
                        <li class="  " data-title="freeList">
                            <a href="#">   <!-- 이동할 페이지 url 작성 -->
                                <span class="title">자유 게시판 관리</span>
                            </a>
                        </li>
                        <li class="  " data-title="counselingList">
                            <a href="#">   <!-- 이동할 페이지 url 작성 -->
                                <span class="title">고민 상담 게시판 관리</span>
                            </a>
                        </li>
                        <li class="  " data-title="counselingList">
                            <a href="#">   <!-- 이동할 페이지 url 작성 -->
                                <span class="title">자유 상점 게시판 관리</span>
                            </a>
                        </li>
                        <li class="  " data-title="commentList">  <!-- a태그의 클래스명이 li 태그 클래스에 출가된다. 활성화 된 클래스 표시(active) -->
                            <a href="#">  <!-- 해당 페이지의 목록에 active가 들어가야지 음영처리가된다. -->
                                <span class="title">댓글 관리</span>
                            </a>
                        </li>
                        <li class="  " data-title="noticeList">  <!-- a태그의 클래스명이 li 태그 클래스에 출가된다. 활성화 된 클래스 표시(active) -->
                            <a href="#">  <!-- 해당 페이지의 목록에 active가 들어가야지 음영처리가된다. -->
                                <span class="title">공지사항 관리</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="gui-folder" data-title="config">
                    <a href="#" class="sidebar-nav-menu1" onclick="return false;">
                        <div class="gui-icon">
                            <i class="db-settings"></i>
                        </div>
                        <span class="title">문의 관리</span>
                    </a>
                    <ul>
                        <li class="  " data-title="inquiryList">
                            <a href="#">
                                <span class="title">문의 관리</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="gui-folder" data-title="config">
                    <a href="#" class="sidebar-nav-menu1" onclick="return false;">
                        <div class="gui-icon">
                            <i class="db-settings"></i>
                        </div>
                        <span class="title">환경설정</span>
                    </a>
                    <ul>
                        <li class="  " data-title="configPopup">
                            <a href="#">
                                <span class="title">배너 관리</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div><!-- END MENUBAR-->

</body>
</html>