<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="adminPaging">
<div class="pagingAndBtn" >
                <span class="pagination pagination-sm clearfix">
                    <th:block>
                        <a class="btn_paging prev screen_out paging"></a>
                    </th:block>
                    <th:block>
                        <a class="active paging" th:value="${0}">1</a>
                        <a class="paging" th:value="${1}">2</a>
                        <a class="paging" th:value="${2}">3</a>
                        <a class="paging" th:value="${3}">4</a>
                        <a class="paging" th:value="${4}">5</a>
                    </th:block>
                    <th:block>
                        <a class="btn_paging next screen_out paging"></a>
                    </th:block>
                </span>
</div>
</section>
</body>
</html>