<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="robots" content="noindex">	
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap.css?1630317764">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/jquery-ui.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/ii.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/db-icons.css?1577682282"> <!-- 아이콘 필수 -->
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/material-design-iconic-font.min.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-datepicker.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/black-tie.css?1608189400">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/simple-line-icons.css?1608179394">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/im-icon/style.css?1656383913">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/froala-emoji-tap/style.css?1660095148">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/preloader.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/owl.carousel2.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/slick.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/animate.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/nprogress.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/trackpad-scroll-emulator.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome.min.css?1626931454">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome5.min.css?1660780829">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_editor.pkgd.css?1660095140">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_style.min.css?1660095060">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/emoji.css?1660095097">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/froala/custom-theme-v3.css?1663833898">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/colorpicker.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/codemirror.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-spinner.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/chosen.css?1617331870">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/fullcalendar.min.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/morris.core.css?1577682282">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/lightgallery.min.css?1596596378">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/im_component.css?1636689958">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/admin.css?1590627710">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/toastr.css?1593569516">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/alarm_menu.css?1648796493">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/fontello/src/css/fontello.css?1657576838">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/bootstrap-theme-dashboard.css?1618365623">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/dashboard.css?1663833898">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/select2.css?1590627710">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/accordion.css?1653367465">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/regularly.css?1658818153">
	<link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/tailwind.css?1664422527">
	<link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
	<script src="https://vendor-cdn.imweb.me/js/jquery.js?1627517460"></script>
	<script src="https://vendor-cdn.imweb.me/js/jquery.browser.js?1577682292"></script>
	<script src="https://vendor-cdn.imweb.me/js/jquery-ui.min.js?1577682292"></script>
	<script src="https://vendor-cdn.imweb.me/js/bootstrap.min.js?1630317768"></script>
	<script src="https://vendor-cdn.imweb.me/js/floating-ui-core@1.0.1.js?1662343131"></script>
	<script src="https://vendor-cdn.imweb.me/js/floating-ui-dom@1.0.1.js?1662343131"></script>
	<script src="https://vendor-cdn.imweb.me/js/tinycolor-min.js?1577682292"></script>
	<script src="https://vendor-cdn.imweb.me/js/common.js?1661221108"></script>
	<script src="https://vendor-cdn.imweb.me/js/table_list.js?1633057104"></script>
	<link rel="stylesheet" href="/css/admin/adminIndex.css">
	<link rel="stylesheet" href="/css/admin/adminTotalCss.css">
</head>

<body class="menubar-hoverable header-fixed menubar-pin menubar-visible">
	<!-- START BASE -->
    <div id="base">

		<!-- START HEADER -->
		<header class="top_header" id="default_header" >
			<div class="headerbar">
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="hidden-lg hidden-md">
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="btl bt-bars"></i>
							</a>
						</li>
						<li class="header-nav-brand">
							<div class="brand-holder">
								<span class="location_text">
									<a href="#">관리자 페이지</a>	<!-- 동일 페이지로 재이동 -->
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--  END HEADER-->
		<!-- START MENUBAR HEADER -->
		<div th:replace="/app/admin/adminNavBar.html :: adminMenuBarHeader"></div>
		<!-- END MENUBAR HEADER -->
		<!-- BEGIN MENUBAR-->
		<div th:replace="/app/admin/adminNavBar.html ::  adminMenu"></div>
		<!--END MENUBAR&ndash;&gt;-->


		<!-- START MAIN CONTENT -->
		<div id="content" class="adminMain">
			<section>
				<div class="clearfix area_wrap">
					<div class="section-body">

	
						<div class="row flex-box">
							<div class="ma-item col-md-6 col-sm-6 col-xs-12 _item">
								<div class="card">
									<div class="card-head">
										<header><a href="javascript:;">신규 회원 </a></header>
									</div>
	
									<div class="card-body border-top">
										<ul class="list list-preview">
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>호근호근</span>
															<span class="text-default-bright list-badge header-badge badge-danger">N</span>
														</div>
														<small class="text-12">
															<span>123@d1k.dnd</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 17:34</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>성현성현</span>
															<span class="text-default-bright list-badge header-badge badge-danger">N</span>
														</div>
														<small class="text-12">
															<span>123@dk.dnd2</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 17:35</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>종우종우</span>
															<span class="text-default-bright list-badge header-badge badge-danger">N</span>
														</div>
														<small class="text-12">
															<span>111@ddd.ddd</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 17:33</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>로사로사</span>
															<span class="text-default-bright list-badge header-badge badge-danger">N</span>
														</div>
														<small class="text-12">
															<span>123@dk.dnd</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 17:34</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>민성민성</span>
															<span class="text-default-bright list-badge header-badge badge-danger">N</span>
														</div>
														<small class="text-12">
															<span>1223@dk.dnd</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 17:34</span>
														</small>
													</div>
												</a>
											</li>

											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt=""> <!-- 나중에 개인별 설정한 프로필 사진으로 변경 필요 -->
													</div>
													<div class="tile-text">
														<div>
															<span>관리자</span>
														</div>
														<small class="text-12">
															<span>slions1113@gmail.com</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-09 00:00</span>
														</small>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="ma-item col-md-6 col-sm-6 col-xs-12">
								<div class="card">
									<div class="card-head">
										 <header><a href="#">신규 게시글</a></header>
									</div>
									<div class="card-body border-top">
										<ul class="list list-preview">
											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[스터디] NEOS 2팀 화이팅</span>
														</div>
														<small class="text-12">
															<span>관리자</span><em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:45</span>
														</small>
													</div>
												</a>
											</li>	
											
											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[자유 게시글] 테스트입니다</span>
														</div>
														<small class="text-12">
															<span>관리자</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:41</span>
														</small>
													</div>
												</a>
											</li>		
											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[고민상담 게시글] 테스트입니다</span>
														</div>
														<small class="text-12">
															<span>관리자</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:41</span>
														</small>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row flex-box">
							<div class="ma-item col-md-6 col-sm-6 col-xs-12">
								<div class="card">
									<div class="card-head">
										<header><a href="#">문의사항</a></header>
									</div>
									<div class="card-body border-top">
										<ul class="list list-preview">
											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[문의] NEOS 테스트 문의입니다</span>
														</div>
														<small class="text-12">
															<span>관리자</span><em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:45</span>
														</small>
													</div>
												</a>
											</li>

											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[문의] NEOS 테스트 문의입니다</span>
														</div>
														<small class="text-12">
															<span>관리자</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:41</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile">
												<a class="tile-content" href="#">
													<div class="tile-icon">
														<img class="" src="https://testchoo.imweb.me/common/img/default_profile.png" alt="">
													</div>
													<div class="tile-text">
														<div>
															<span>[문의] NEOS 테스트 문의입니다</span>
														</div>
														<small class="text-12">
															<span>관리자</span>
															<em class="opacity-50 text-gray-bright">|</em>
															<span>2022-11-04 13:41</span>
														</small>
													</div>
												</a>
											</li>
										</ul>

									</div>
								</div>
							</div>	
	
							<div class="ma-item col-md-6 col-sm-6 col-xs-12">
								<div class="card">
									<div class="card-head">
										<header><a href="#" target="_blank">대학교 목록</a></header>
									</div>
	
									<div class="card-body border-top">
										<ul class="list list-preview">
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#"> <!-- 각 회원별 상세페이지로 이동할 수 있도록 주소 변경 필요 -->
													<div class="tile-icon">
														<img class="" src="/images/admin/college/seoulCollege.png" alt=""> <!-- 나중에 개인별 설정한 프로필 사진으로 변경 필요 -->
													</div>
													<div class="tile-text">
														<div>
															<span>서울대학교</span>
														</div>
														<small class="text-12">
															<span>2022-11-03 00:00</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#"> <!-- 각 회원별 상세페이지로 이동할 수 있도록 주소 변경 필요 -->
													<div class="tile-icon">
														<img class="" src="/images/admin/college/yenseiCollege.jpg" alt=""> <!-- 나중에 개인별 설정한 프로필 사진으로 변경 필요 -->
													</div>
													<div class="tile-text">
														<div>
															<span>연세대학교</span>
														</div>
														<small class="text-12">
															<span>2022-11-03 00:00</span>
														</small>
													</div>
												</a>
											</li>
											<li class="tile"><!-- 최대 6개 반복 -->
												<a class="tile-content" href="#"> <!-- 각 회원별 상세페이지로 이동할 수 있도록 주소 변경 필요 -->
													<div class="tile-icon">
														<img class="" src="/images/admin/college/koreaCollege.png" alt=""> <!-- 나중에 개인별 설정한 프로필 사진으로 변경 필요 -->
													</div>
													<div class="tile-text">
														<div>
															<span>고려대학교</span>
														</div>
														<small class="text-12">
															<span>2022-11-03 00:00</span>
														</small>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</section>
		</div> <!-- END MAIN CONTENT -->
	</div> <!-- END BASE -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>

	// 문서로드 완료 후 자바 스크립트 진행
	// document.addEventListener('DOMContentLoaded', function() {
	// 	const alertBox = document.querySelector('#alertBox');
	// 	const contentArea = document.querySelector('#content');
	//
	// 	alertBox.classList.remove('alert__wrap-fixed');
	// 	alertBox.classList.add('alert__wrap');
	// 	contentArea.prepend(alertBox);
	// });
	//
	// $(function(){
	// 	SADMIN_MENU_ALERT.openAlert();
	// });

	// 좌측 슬라이드 배너 작동
	$('.gui-folder').click(function(){
		$(this).toggleClass('expanded'); /* expanded가 없으면 생성, 있으면 삭제, 따라서 gui-folder은 계속 유지 */
		$(this).parent().children('.expanded').not(this).removeClass('expanded');	
	});
	
	// 메인페이지 그래프
	// var context = document
    //             .getElementById('statChart')
    //             .getContext('2d');
    // var statChart = new Chart(context, {
    //             type: 'line', // 차트의 형태
    //             data: { // 차트에 들어갈 데이터
    //                 labels: [
    //                     //x 축
    //                     '09-30','10-01','10-02','10-03','10-04','10-05','10-06'
    //                 ],
	//
    //                 datasets: [
    //                     { //데이터
    //                         label: '페이지뷰', //차트 제목
	// 						fillColor : "rgba(253, 175, 177,0.3)",
	// 						strokeColor : "rgba(253, 175, 177,1)",
	// 						pointColor : "rgba(253, 175, 177, 1)",
	// 						pointStrokeColor : "#eee",
	// 						pointHighlightFill : "#fff",
	// 						pointHighlightStroke : "rgba(151,187,205,1)",
    //                         data: [
    //                             1,3,2,2,1,5,6 //x축 label에 대응되는 데이터 값
    //                         ],
    //                         backgroundColor: [
    //                             //색상
	// 							'rgba(57, 82, 224, 0.2)'
    //                         ],
    //                         borderColor: [
    //                             //경계선 색상
    //                             'rgb(57, 82, 224)'
    //                         ],
    //                         borderWidth: 1 //경계선 굵기
    //                     },
    //                     {
    //                         label: '방문자', //차트 제목
	// 						fillColor : "rgba(253, 175, 177,0.3)",
	// 						strokeColor : "rgba(253, 175, 177,1)",
	// 						pointColor : "rgba(252, 95, 100,1)",
	// 						pointStrokeColor : "#eee",
	// 						pointHighlightFill : "#fff",
	// 						pointHighlightStroke : "rgba(151,187,205,1)",
    //                         data: [
    //                             1,1,0,3,2,1,4 //x축 label에 대응되는 데이터 값
    //                         ],
    //                         backgroundColor: [
    //                             //색상
    //                             'rgba(255, 99, 132, 0.2)'
    //                         ],
    //                         borderColor: [
    //                             //경계선 색상
    //                             'rgba(255, 99, 132, 1)'
    //                         ],
    //                         borderWidth: 1 //경계선 굵기
    //                     }
    //                 ]
    //             },
    //             options: {
	// 				legend: {
	// 					display: false,
	// 				},
    //                 scales: {
    //                     yAxes: [
    //                         {
    //                             ticks: {
    //                                 beginAtZero: true
    //                             }
    //                         }
    //                     ]
    //                 }
    //             }
	//
	//
    //         });
</script>
</html>