<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>NEOS | 공지사항 작성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap.css?1630317764">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/jquery-ui.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/ii.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/db-icons.css?1577682282"> <!-- 아이콘 필수 -->
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/material-design-iconic-font.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-datepicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/black-tie.css?1608189400">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/simple-line-icons.css?1608179394">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/im-icon/style.css?1656383913">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/froala-emoji-tap/style.css?1660095148">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/preloader.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/owl.carousel2.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/slick.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/animate.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/nprogress.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/trackpad-scroll-emulator.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome.min.css?1626931454">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome5.min.css?1660780829">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_editor.pkgd.css?1660095140">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_style.min.css?1660095060">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/emoji.css?1660095097">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/froala/custom-theme-v3.css?1663833898">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/colorpicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/codemirror.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-spinner.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/chosen.css?1617331870">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/fullcalendar.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/morris.core.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/lightgallery.min.css?1596596378">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/im_component.css?1636689958">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/admin.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/toastr.css?1593569516">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/alarm_menu.css?1648796493">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/fontello/src/css/fontello.css?1657576838">
   <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/bootstrap-theme-dashboard.css?1618365623">
<!--    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/dashboard.css?1663833898">-->
    <link rel="stylesheet" href="/css/admin/configBannerDash.css">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/select2.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/accordion.css?1653367465">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/regularly.css?1658818153">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/tailwind.css?1664422527">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <script src="https://vendor-cdn.imweb.me/js/jquery.js?1627517460"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery.browser.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery-ui.min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/bootstrap.min.js?1630317768"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-core@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-dom@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/tinycolor-min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/common.js?1661221108"></script>
    <script src="https://vendor-cdn.imweb.me/js/table_list.js?1633057104"></script>
    <link rel="stylesheet" href="/css/admin/noticePost.css">
    <link rel="stylesheet" href="/css/admin/adminTotalCss.css">
</head>

<body class="menubar-hoverable header-fixed menubar-pin menubar-visible">
<!-- START BASE -->
<div id="base">

    <!-- START HEADER -->
    <header class="top_header" id="default_header" >
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="hidden-lg hidden-md">
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="btl bt-bars"></i>
                        </a>
                    </li>
                    <li class="header-nav-brand">
                        <div class="brand-holder">
								<span class="location_text">
									<a href="#">공지사항 관리</a>	<!-- 동일 페이지로 재이동 -->
								</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--  END HEADER-->
    <!-- START MENUBAR HEADER -->
    <div th:replace="/app/admin/adminNavBar.html :: adminMenuBarHeader"></div>
    <!-- END MENUBAR HEADER -->
    <!-- BEGIN MENUBAR-->
    <div th:replace="/app/admin/adminNavBar.html ::  adminMenu"></div>
    <!--END MENUBAR&ndash;&gt;-->


    <!-- START MAIN CONTENT -->

    <div id="content">
        <section>
            <div class="section-body">
                <div class="tab-pane" id="daily">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head style-default-light">
                                    <header>공지사항 작성</header>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/admin/notice/edit}" th:object="${noticeDTO}" name="noticeSave" method="post" role="form" class="form-horizontal form-validate" novalidate="novalidate">
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input th:field="*{noticeTitle}" type="text" required="" id="alarm_subject" class="form-control noticeTitle" aria-required="true" placeholder="제목">
                                                <div class="form-control-line"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea th:field="*{noticeContent}" rows="3" required="" id="alarm_content" class="form-control noticeContent" maxlength="925" placeholder="내용" aria-required="true" data-autosize-on="true"></textarea>
                                                <div class="form-control-line"></div>
                                                <!-- <p class="help-block chars" id="chars_app_title">0/2500</p> --> <!-- 사용할거면 기능 구현 필요 -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <a class="btn btn-raised btn-primary ink-reaction" id="sendsms" onclick="send()">보내기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- END MAIN CONTENT -->
</div> <!-- END BASE -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    // 좌측 슬라이드 배너 작동
    $('.gui-folder').click(function(){
        $(this).toggleClass('expanded'); /* expanded가 없으면 생성, 있으면 삭제, 따라서 gui-folder은 계속 유지 */
        $(this).parent().children('.expanded').not(this).removeClass('expanded');
    });

    // 유효성 검사
    function send() {
        if($('.noticeTitle').val() == ""){
            alert("공지사항 제목을 입력해주세요!")
        }else if($(".noticeContent").val() == "") {
            alert("공지사항 내용을 입력해주세요!");
        }else {
            sendData();
        }
    }

    // 서브밋
    function sendData() {
        noticeSave.submit();
        alert("작성완료")
    }


</script>
</html>