<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap.css?1630317764">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/jquery-ui.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/ii.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/db-icons.css?1577682282"> <!-- 아이콘 필수 -->
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/material-design-iconic-font.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-datepicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/black-tie.css?1608189400">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/simple-line-icons.css?1608179394">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/im-icon/style.css?1656383913">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/froala-emoji-tap/style.css?1660095148">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/preloader.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/owl.carousel2.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/slick.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/animate.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/nprogress.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/trackpad-scroll-emulator.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome.min.css?1626931454">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome5.min.css?1660780829">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_editor.pkgd.css?1660095140">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_style.min.css?1660095060">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/emoji.css?1660095097">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/froala/custom-theme-v3.css?1663833898">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/colorpicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/codemirror.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-spinner.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/chosen.css?1617331870">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/fullcalendar.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/morris.core.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/lightgallery.min.css?1596596378">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/im_component.css?1636689958">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/admin.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/toastr.css?1593569516">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/alarm_menu.css?1648796493">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/fontello/src/css/fontello.css?1657576838">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/bootstrap-theme-dashboard.css?1618365623">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/dashboard.css?1663833898">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/select2.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/accordion.css?1653367465">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/regularly.css?1658818153">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/tailwind.css?1664422527">
    <script src="https://vendor-cdn.imweb.me/js/jquery.js?1627517460"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery.browser.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery-ui.min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/bootstrap.min.js?1630317768"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-core@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-dom@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/tinycolor-min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/common.js?1661221108"></script>
    <script src="https://vendor-cdn.imweb.me/js/table_list.js?1633057104"></script>
    <link rel="stylesheet" href="/css/admin/adminTotalCss.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/admin/universeDetail.css">
</head>

<body class="menubar-hoverable header-fixed menubar-pin menubar-visible">
<!-- START BASE -->
<div id="base">
    <!-- START HEADER -->
    <header class="top_header" id="default_header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="hidden-lg hidden-md">
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="btl bt-bars"></i>
                        </a>
                    </li>
                    <li class="header-nav-brand">
                        <div class="brand-holder">
								<span class="location_text">
									<a href="#">대학교 추가</a>	<!-- 동일 페이지로 재이동 -->
								</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="headerbar-right">
                <ul class="header-nav header-nav-options _option_list">
                    <li>
                        <a class="btn btn-primary hidden-xs" onclick="submit()">저장</a>
                        <a class="btn btn-bright hidden-sm hidden-md hidden-lg" style="padding: 4px 6px;" onclick="location.href='#'"><i class="btl bt-plus vertical-middle"></i></a>
                    </li>
                </ul><!--end .header-nav-options -->
            </div>
        </div>
    </header> <!-- END HEADER -->

    <!-- START MENUBAR HEADER -->
    <div th:replace="/app/admin/adminNavBar.html :: adminMenuBarHeader"></div>
    <!-- END MENUBAR HEADER -->
    <!-- BEGIN MENUBAR-->
    <div th:replace="/app/admin/adminNavBar.html ::  adminMenu"></div>
    <!--END MENUBAR&ndash;&gt;-->

    <!-- START MAIN CONTENT -->

    <div id="content">
        <section>
            <div class="card style-transparent card-top no-tab">
                <div class="card-head">
                    <header>
                        <a href="#" onclick="window.location = '#';"> <!-- 회사 목록 리스트 주소 입력 필요 / 이 전 페이지 -->
                            <i class="zmdi zmdi-arrow-back"></i>리스트로 돌아가기
                        </a>
                    </header>
                </div>
            </div>

            <div class="section-body">
                <div class="tab-pane" id="daily">
                    <div class="row">
                        <div class="col-md-6" style="width: 100%;">
                            <div class="card" style="height: 500px;">
                                <div class="card-head">
                                    <header>대학교 정보</header>
                                </div>
                                <form th:action="@{/admin/test/write}" th:object="${collegeDTO}" name="collegeWrite" id="dof" method="post" class="form-horizontal form-validate" role="form" target="hidden_frame" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
                                <div class="card-body border-top" style="padding-top: 70px;">
                                    <div class="profile-image text-center margin-bottom-xxl">
                                        <div id="fileupload_profile_img">
                                            <img class="company mg-circle" src="/images/admin/imageSelected.jpg" id="profile_img" width="72" height="72" style="height: 100%;">
                                            <input type="hidden" th:field="*{collegeLogoFile}" id="collegeLogoFile">
                                            <div id="drop_profile_img">
                                                <input type="file" name="files[]" style="width: 100%" accept="image/jpeg, image/jpg, image/png, image/gif, image/svg+xml" >
                                            </div>
                                            <div class="over">
                                                <i class="zmdi zmdi-camera"></i>
                                            </div>
                                        </div>

                                        <h3 class="text-15">대학교 로고</h3>
                                    </div><!--end.profile-image-->


                                        <!-- 해당 회사 상세내용 아래 방법으로 코드 작성  -->
                                        <!-- <input type="hidden" name="idx" value="22645265">
                                        <input type="hidden" name="code" value="m20220929a41c742d48942">
                                        <input type="hidden" name="join_type_code" value="t20220929dd5f7889009e5">
                                        <input type="hidden" name="photo" value="">
                                        <input type="hidden" name="photo_tmp_idx" value="" id="photo_tmp_idx">
                                        <input type="hidden" name="from_permission" value=""> -->
                                        <!-- 해당 사용자 상세내용 -->
                                        <div class="form-wrap" style="padding-right: 115px;">
                                            <div class="_type_form_wrap" style="margin-top: 90px">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right" style="padding-top: 0px; margin-right: 15px;">지역
                                                        <span class="text-danger">(필수)</span>
                                                    </label>
                                                    <!--                                                    <div class="col-md-9">-->
                                                    <!--                                                        <input type="text" autocomplete="off" required="" name="location" id="user_name" class="form-control" value="" aria-required="true" placeholder="대학교 지역을 입력하세요  예) 서울특별시">-->
                                                    <!--                                                        <div class="form-control-line"></div>-->
                                                    <!--                                                    </div>-->

                                                    <select id="collegeCity" style="width: 100px">
                                                        <option value="00" >지역 구분</option>
                                                        <option value="01">서울특별시</option>
                                                        <option value="02">경기도</option>
                                                        <option value="03">인천광역시</option>
                                                        <option value="04">강원도</option>
                                                        <option value="05">충청남도</option>
                                                        <option value="06">충청북도</option>
                                                        <option value="07">대전광역시</option>
                                                        <option value="08">전라북도</option>
                                                        <option value="09">전라남도</option>
                                                        <option value="10">광주광역시</option>
                                                        <option value="11">경상남도</option>
                                                        <option value="12">경상북도</option>
                                                        <option value="13">부산광역시</option>
                                                        <option value="14">제주특별시</option>
                                                    </select>
                                                    <input th:field="*{collegeCity}" id="collegeCity" type="hidden">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label text-right">대학교 이름
                                                    <span class="text-danger">(필수)</span>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" th:field="*{collegeName}" required="required" id="member_item_m20220929a41c742d48942" class="form-control" value="" aria-required="true"
                                                           style="border-bottom-color: rgba(12, 12, 12, 0.12); border-bottom-style: solid;" placeholder="대학을 입력하세요  예) 고려대학교">
                                                    <div class="form-control-line"></div>
                                                </div>
                                            </div>

                                            <div class="_type_form_wrap">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">홈페이지
                                                        <span class="text-danger">(필수)</span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" th:field="*{collegeEmailDomain}" autocomplete="off" id="user_name" class="form-control" value="" aria-required="true" placeholder="대학교 링크를 입력하세요  예) https://oku.korea.ac.kr">
                                                        <div class="form-control-line"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="profile-info" style="top: 70px; position: relative; left: -60px;">
                                    </div>
                                </div><!--end.card-body-->
                            </div><!--end.card-->
                        </div><!--end.col-->

                        <!--<div class="col-md-6">
                            <div class="card">
                                <div class="card-head">
                                    <header>관련 정보</header>
                                </div>
                                <div class="card-body border-top">
                                    <div class="row">
                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="col-sm-3 control-label text-right margin-top-5">등록일</label>
                                                <div class="col-sm-9">
                                                    <p class="form-control-static">2022-09-29 00:00</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="control-label col-sm-3 text-right margin-top-5">관련</label>
                                                <div class="form-control-static col-sm-9">
                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">유저수</span>
                                                        <p>0</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- END MAIN CONTENT -->
</div> <!-- END BASE -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    // base.html

    // 문서로드 완료 후 자바 스크립트 진행
    document.addEventListener('DOMContentLoaded', function() {
        const alertBox = document.querySelector('#alertBox');
        const contentArea = document.querySelector('#content');

        alertBox.classList.remove('alert__wrap-fixed');
        alertBox.classList.add('alert__wrap');
        contentArea.prepend(alertBox);
    });



    // 좌측 슬라이드 배너 작동
    $('.gui-folder').click(function(){
        $(this).toggleClass('expanded'); /* expanded가 없으면 생성, 있으면 삭제, 따라서 gui-folder은 계속 유지 */
        $(this).parent().children('.expanded').not(this).removeClass('expanded');
    });

    // 이미지 추가
    // 업로드한 파일은 input객체의 프로퍼티에 존재한다.
    const file = document.querySelector("input[type='file']");
    // 사용자가 업로드한 파일에 따라 배경 이미지가 변경되어야 하는 객체
    const thumbnail = document.querySelector("label[for='attach'] div img");
    // change : 해당 객체에 변화가 있을 때(파일이 업로드 되었을 때)
    file.addEventListener("change", function(e){

        // 업로드한 파일을 읽어올 객체
        var reader = new FileReader();
        // 해당 파일의 정보를 readAsDataURL에 전달하면
        // 업로드된 파일의 암호화된 URL정보를 얻을 수 있다.
        reader.readAsDataURL(e.target.files[0]);
        // byte단위로 읽어온 뒤 전부 다 읽으면 load 이벤트가 발생된다.
        reader.onload = function(e){
            // e객체에 읽은 파일의 정보들이 들어있다.
            // console.log(e.target.result);
            let url = e.target.result;
            $(".company").attr("src", url);
        }
    });

    function submit() {
        $('input[id=collegeCity]').attr('value', $("#collegeCity option:selected").text());
        $('input[id=collegeLogoFile]').attr('value', $("#profile_img").attr('src'));

        collegeWrite.submit();
    }


</script>
</html>