<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>NEOS | 유저 정보</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap.css?1630317764">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/jquery-ui.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/ii.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/db-icons.css?1577682282"> <!-- 아이콘 필수 -->
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/material-design-iconic-font.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-datepicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/black-tie.css?1608189400">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/simple-line-icons.css?1608179394">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/im-icon/style.css?1656383913">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/froala-emoji-tap/style.css?1660095148">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/preloader.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/owl.carousel2.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/slick.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/animate.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/nprogress.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/trackpad-scroll-emulator.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome.min.css?1626931454">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/font-awesome5.min.css?1660780829">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_editor.pkgd.css?1660095140">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/froala_311/css/froala_style.min.css?1660095060">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/emoji.css?1660095097">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/froala/custom-theme-v3.css?1663833898">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/colorpicker.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/codemirror.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/bootstrap-spinner.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/chosen.css?1617331870">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/fullcalendar.min.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/morris.core.css?1577682282">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/lightgallery.min.css?1596596378">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/im_component.css?1636689958">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/admin.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/toastr.css?1593569516">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/alarm_menu.css?1648796493">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/fonts/fontello/src/css/fontello.css?1657576838">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/bootstrap-theme-dashboard.css?1618365623">
<!--    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/dashboard.css?1663833898">-->
    <link rel="stylesheet" href="/css/admin/configBannerDash.css">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/select2.css?1590627710">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/site/admin/accordion.css?1653367465">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/regularly.css?1658818153">
    <link rel="stylesheet" type="text/css" href="https://vendor-cdn.imweb.me/css/tailwind.css?1664422527">
    <script src="https://vendor-cdn.imweb.me/js/jquery.js?1627517460"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery.browser.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/jquery-ui.min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/bootstrap.min.js?1630317768"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-core@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/floating-ui-dom@1.0.1.js?1662343131"></script>
    <script src="https://vendor-cdn.imweb.me/js/tinycolor-min.js?1577682292"></script>
    <script src="https://vendor-cdn.imweb.me/js/common.js?1661221108"></script>
    <script src="https://vendor-cdn.imweb.me/js/table_list.js?1633057104"></script>
    <link rel="stylesheet" href="/css/admin/userDetail.css">
    <link rel="stylesheet" href="/css/admin/adminTotalCss.css">
    <link rel="icon" type="image/x-icon" href="/images/fix/favicon.png">
</head>

<body class="menubar-hoverable header-fixed menubar-pin menubar-visible">
<!-- START BASE -->
<div id="base">
    <!-- START HEADER -->
    <header class="top_header" id="default_header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="hidden-lg hidden-md">
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="btl bt-bars"></i>
                        </a>
                    </li>
                    <li class="header-nav-brand">
                        <div class="brand-holder">
								<span class="location_text">
									<a href="#">사용자 상세보기</a>	<!-- 동일 페이지로 재이동 -->
								</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header> <!-- END HEADER -->

    <!-- START MENUBAR HEADER -->
    <div th:replace="/app/admin/adminNavBar.html :: adminMenuBarHeader"></div>
    <!-- END MENUBAR HEADER -->
    <!-- BEGIN MENUBAR-->
    <div th:replace="/app/admin/adminNavBar.html ::  adminMenu"></div>
    <!--END MENUBAR&ndash;&gt;-->

    <!-- START MAIN CONTENT -->

    <div id="content">
        <section>
            <div class="card style-transparent card-top no-tab">
                <div class="card-head">
                    <header>
                        <a th:href="@{/admin/user/list}"> <!-- 사용자 목록 리스트 주소 입력 필요 -->
                            <i class="zmdi zmdi-arrow-back"></i>리스트로 돌아가기
                        </a>
                    </header>
                </div>
            </div>
            <th:block th:object="${user}">
            <div class="section-body">
                <div class="tab-pane" id="daily">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-head">
                                    <header>회원 정보</header>
                                </div>
                                <div class="card-body border-top">
                                    <div class="profile-image text-center margin-bottom-xxl">
                                        <div id="fileupload_profile_img">
                                            <img th:src="*{userFile}" id="profile_img" width="72" height="72" class="img-circle"> <!-- 개인별 프로필 사진으로 변경 -->
                                        </div>
                                        <h3 class="text-15" th:text="*{userNickName}"></h3> <!-- 사용자 닉네임 -->
                                    </div>

                                    <div class="profile-info">
                                        <form id="dof" method="post" class="form-horizontal form-validate" role="form" target="hidden_frame" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
                                            <!-- 해당 사용자 상세내용 아래 방법으로 코드 작성  -->

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label text-right">계정</label>
                                                <span class="form-control-static col-md-9" th:text="*{userOAuthEmail}"></span>
                                            </div>

                                            <th:block th:if="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교</label>
                                                    <span class="form-control-static col-md-9 college_name">해당 없음</span>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교</label>
                                                    <span class="form-control-static col-md-9 college_name" th:text="*{collegeName}"></span>
                                                </div>
                                            </th:block>

                                            <th:block th:if="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교 이메일</label>
                                                    <span class="form-control-static col-md-9 college_logo">해당 없음</span>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교 이메일</label>
                                                    <span class="form-control-static col-md-9 college_logo" th:text="*{collegeEmailDomain}"></span>
                                                </div>
                                            </th:block>

                                            <th:block th:if="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교 로고</label>
                                                    <span class="form-control-static col-md-9 college_logo">해당 없음</span>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="*{collegeId == null}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label text-right">대학교 로고</label>
                                                    <span class="form-control-static col-md-9 college_logo"><img style="width: 50px" th:src="*{collegeLogoFile}"
                                                                                                                 alt=""></span>
                                                </div>
                                            </th:block>
                                        </form>
                                    </div>
                                </div><!--end.card-body-->
                            </div><!--end.card-->
                        </div><!--end.col-->

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-head">
                                    <header>활동 정보</header>
                                </div>
                                <div class="card-body border-top">
                                    <div class="row">
                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="col-sm-3 control-label text-right margin-top-5">가입일</label>
                                                <div class="col-sm-9">
                                                    <p class="form-control-static dateJoin" th:text="*{#temporals.format(createdDate, 'yyyy.MM.dd HH:mm')}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="col-sm-3 control-label text-right margin-top-5">채팅 포인트</label>
                                                <p class="form-control-static col-sm-9" th:text="*{userChattingPoint}"> <span>point</span></p>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="col-sm-3 control-label text-right margin-top-5">네오 포인트</label>
                                                <p class="form-control-static col-sm-9" th:text="*{userNeosPoint}"> <span>point</span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <div class="form-group margin-bottom-xxxl">
                                                <label class="control-label col-sm-3 text-right margin-top-5">작성</label>
                                                <div class="form-control-static col-sm-9">
                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">자료상점</span>
                                                        <p th:text="${count.storeCount}"></p>
                                                    </div>

                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">스터디</span>
                                                        <p th:text="${count.studyCount}"></p>
                                                    </div>
                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">자유 게시글</span>
                                                        <p th:text="${count.communityCount}"></p>
                                                    </div>
                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">익명 게시글</span>
                                                        <p th:text="${count.counselingCount}"></p>
                                                    </div>
                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">댓글</span>
                                                        <p th:text="${count.replyCount}"></p>
                                                    </div>

                                                    <div class="row margin-bottom-12">
                                                        <span style="display:inline-block;" class="col-xs-3">문의</span>
                                                        <p th:text="${count.inquiryCount}"></p>
                                                        <!-- <a href="/admin/shopping/answers?q=YSUzQTIlM0ElN0JzJTNBNyUzQSUyMmtleXdvcmQlMjIlM0JzJTNBMjAlM0ElMjJzbGlvbnMxMTEzJTQwZ21haWwuY29tJTIyJTNCcyUzQTEyJTNBJTIya2V5d29yZF90eXBlJTIyJTNCcyUzQTMlM0ElMjJ1aWQlMjIlM0IlN0Q=" class="text-primary col-sm-1 col-xs-2 no-padding text-right">0</a> -->
                                                    </div>
                                                    <!-- a태그 href 해당 사용자 카운팅 된 링크로 이동필요, 혹은 기능 삭제 -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>
        </section>
    </div>

    <!-- END MAIN CONTENT -->
</div> <!-- END BASE -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    // base.html

    // 문서로드 완료 후 자바 스크립트 진행
    document.addEventListener('DOMContentLoaded', function() {
        const alertBox = document.querySelector('#alertBox');
        const contentArea = document.querySelector('#content');

        alertBox.classList.remove('alert__wrap-fixed');
        alertBox.classList.add('alert__wrap');
        contentArea.prepend(alertBox);
    });


    // 좌측 슬라이드 배너 작동
    $('.gui-folder').click(function(){
        $(this).toggleClass('expanded'); /* expanded가 없으면 생성, 있으면 삭제, 따라서 gui-folder은 계속 유지 */
        $(this).parent().children('.expanded').not(this).removeClass('expanded');
    });


</script>
</html>